@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.container {
  background: settings.$dark;
  border: 1px solid settings.$elephant;
  border-radius: 8px;
  color: settings.$white;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 26px 17px;
  position: relative;
  width: auto;

  .indicator {
    @extend %display1;
    font-weight: 100;
    margin: 0;
  }

  .description {
    @extend %bodyText;

    @media print {
      font-size: 14pt;
      line-height: 22pt;
    }
  }

  .children {
    margin-top: auto;
  }

  .iconWrapper {
    position: absolute;
    top: 17px;
    right: 24px;

    .icon {
      height: 15px;
      width: 15px;
    }
  }
}

.tooltip {
  @extend %annotation;
  border-radius: settings.$border-radius-desktop;
  background: settings.$white;
  box-shadow: settings.$box-shadow-light;
  color: settings.$dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 200px;
}