@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.dropdownContainer {
  padding: 10px;
  background-color: $white;
  border-radius: 6px;
  position: relative;
  border: 1px solid $dark-opacity;

  &.fullWidth {
    width: 100%;
  }
}

.toggleContainer {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.fullWidth {
    justify-content: space-between;
  }
}

.selectedOptionLabel {
  @extend %title;
  color: $dark-text;
}

.closeSearch {
  position: absolute;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 100%;
}

.searchInput {
  display: flex;
  align-items: center;

  .searchIcon {
    cursor: pointer;
  }

  input {
    width: 100%;
    border: none;
    background: none;
    margin-left: 10px;
  }
}

.arrowIcon {
  margin-left: 10px;
  transform: rotate(90deg);
  transition: all .1s linear;
  &.dropdownOpen {
    position: relative;
    top: -2px;
    transform: rotate(-90deg);
  }
  path {
    fill: $dark-text;
    stroke: $dark-text;
  }
}

.group {
  &:not(:last-child) {
    &::after {
      background-color: $dark-opacity;
      height: 1px;
      content: "";
      display: block;
      width: 100%;
    }
  }

  .groupList {
    padding: 10px 0;
    list-style: none;
  }

  &:first-child {
    .groupList {
      padding: 0 0 10px;
    }
  }

  &:last-child {
    .groupList {
      padding: 10px 0 0;
    }
  }
}

.optionsList {
  max-height: 220px;
  overflow: auto;
  @extend %title;
  color: $dark-text;
  cursor: pointer;
  background-color: $white;
  list-style: none;
  padding: $sidebar-paddings 0;
  margin-top: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border: 1px solid $dark-opacity;

  &.fullWidth {
    width: 100%;
  }

  .option {
    padding: 5px $sidebar-paddings;

    &:hover {
      background-color: $dark-opacity;
    }

    &.selectedOption {
      pointer-events: none;
      color: rgba($_temporary-dark-text, 0.5);
    }
  }
}

.darkOptionsList {
  text-transform: unset;
}

.optionListContainer {
  z-index: $over-modal;
}

.dark {
  background-color: transparent;
  border: 1px solid $grey-text;

  &:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  &:hover,
  &.open {
    background-color: $white-opacity;
  }

  .option {
    padding: 5px
  }

  .selectedOptionLabel {
    color: $grey-text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selectedOption {
    text-transform: unset;
  }

  .arrowIcon {
    height: 12px;
    width: 16px;

    path {
      fill: $white;
      stroke: $white;
    }
  }

  .searchInput {
    input {
      color: $white;

      &::placeholder {
        color: $grey-text;
      }
    }

  }

  .closeSearch svg {
    fill: $white;
  }

}

.secondary-darkOptionsList {
  border-radius: 6px;
  text-transform: unset;
  padding: 2px;
  .option {
    padding: 5px 6px;
    color: $dark-text;
    font-size: 14px;
  }
}

.secondary-darkOptionsList::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}


.secondaryDark {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $white;
  padding: 7px 0 13px 0;
  height: 36px;
  &:hover,
  &.open {
    background-color: transparent;
  }

  .selectedOptionLabel {
    color: $white;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: unset;
  }

  .arrowIcon {
    height: 12px;
    width: 16px;

    path {
      fill: $white;
      stroke: $white;
    }
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  .arrowIcon {
    path {
      fill: $white-opacity;
      stroke: $white-opacity;
    }
  }
}

.stacked {
  &:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
