@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.dropdownContainer {
  padding: 10px;
  background-color: $white;
  border-radius: 6px;
  position: relative;
  &.open {
    background-color: $dark-opacity;
  }
  &.fullWidth {
    width: 100%;
  }
}

.toggleContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  &.fullWidth {
    justify-content: space-between;
  }
}

.selectedOptionLabel {
  @extend %subtitle;
  color: $dark-text;
}

.arrowIcon {
  margin-left: 10px;
  transform: rotate(90deg);
  transition: all .1s linear;
  &.dropdownOpen {
    position: relative;
    top: -2px;
    transform: rotate(-90deg);
  }
  path {
    fill: $dark-text;
    stroke: $dark-text;
  }
}

.group {
  &:not(:last-child) {
    &::after {
      background-color: $dark-opacity;
      height: 1px;
      content: "";
      display: block;
      width: 100%;
    }
  }

  .groupList {
    padding: 10px 0;
    list-style: none;
  }

  &:first-child {
    .groupList {
      padding: 0 0 10px;
    }
  }

  &:last-child {
    .groupList {
      padding: 10px 0 0;
    }
  }
}

.optionsList {
  @extend %bodyText;
  color: $dark-text;
  cursor: pointer;
  background-color: $white;
  list-style: none;
  padding: $sidebar-paddings 0;
  margin-top: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  &.fullWidth {
    width: 100%;
  }

  .option {
    padding: 5px $sidebar-paddings;

    &:hover {
      background-color: $dark-opacity;
    }

    &.selectedOption {
      color: rgba($_temporary-dark-text, 0.5);
    }
  }
}

.dark {
  background-color: transparent;
  border: 1px solid $white-opacity;
  &:hover,
  &.open {
    background-color: $white-opacity;
  }
  .selectedOptionLabel {
    color: $white;
  }
  .arrowIcon {
    path {
      fill: $white;
      stroke: $white;
    }
  }
}

.disabled {
  pointer-events: none;
  .arrowIcon {
    path {
      fill: $white-opacity;
      stroke: $white-opacity;
    }
  }
}