@import 'styles/typography-extends';
@import 'styles/settings';

.protectedAreasTable {
  position: relative;
  width: 100%;
  height: 100%;
  @extend %annotation;
  border-collapse: collapse;

  tr {
    border-bottom: solid 1px $firefly;

    th, td {
      text-align: left;
    }

    td {
      max-width: 200px;
    }
  }

  .headerColumnContainer {
    display: flex;
    align-items: center;
  }

  .arrowsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5px;

    svg {
      width: 8px;
      cursor: pointer;

      &:first-child {
        margin-bottom: 1px;
      }
    }
  }

  .firstColumn {
    .nameLink {
      color: $white;
      text-align: left;
      text-decoration: underline;
      padding-bottom: 0.5px;
      margin-left: 10px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .lastColumn {
    padding-right: 10px;
  }

  .header {
    position: sticky;
    top: 0;
    background-color: $firefly;
  }
}
