@import 'styles/settings';
@import 'styles/typography-extends';

.container{
  @extend %bodyText;
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  .barTitleWrapper {
    display: flex;
    .barTitle {
      margin: 0;
    }
  }
}

.barWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  .bar {
    background-color: $dark-opacity;
    border-radius: 4px;
    height: 8px;
    position: relative;
    width: 98px;
  }

  .value {
    height: 100%;
    background-color: $elephant;
    border-radius: 4px;
  }

  .annotationBar {
    position: absolute;
    top: -5.5px;
    width: 2px;
    height: 20px;
    background-color: $brand-color-main;
  }
  .annotation {
    @extend %annotation;
    position: absolute;
    top: 5px;
    width: 100px;
    transform: translateX(-50%);
  }

}
.iconWrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 5px;

  .icon {
    color: $white-opacity;
    stroke: $white-opacity;
    stroke-width: 0.6px;
    height: 16px;
    min-width: 16px;
    margin-bottom: 2px;

  }
}

.tooltip {
  @extend %annotation;
  background-color: $white;
  border-radius: $border-radius-desktop;
  box-shadow: $box-shadow-light-bottom-large;
  color: $dark-text;
  padding: 2px 6px;
  width: 65px;
  margin-bottom: 5px;
}

.dark {
  .value {
    background-color: $white;
  }
}
