@import 'styles/settings';
@import 'styles/typography-extends';

.container{
  @extend %bodyText;
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: space-between;

  .barTitle {
    margin: 0;
  }
}

.barWrapper {
  display: flex;
  position: relative;
  padding-top: 5px;
  justify-content: space-between;
  align-items: center;

  .bar {
    background-color: $dark-opacity;
    border-radius: 4px;
    height: 8px;
    position: relative;
    width: 102px;
  }

  .value {
    height: 100%;
    background-color: $elephant;
    border-radius: 4px;
  }

  .annotationBar {
    position: absolute;
    top: -5.5px;
    width: 2px;
    height: 20px;
    background-color: $brand-color-main;
  }
  .annotation {
    @extend %annotation;
    position: absolute;
    top: 5px;
    width: 100px;
    transform: translateX(-50%);
  }
}

.dark {
  .value {
    background-color: $white;
  }
}
