@import 'styles/ui.module';
@import 'styles/settings';

.entryBoxesPosition {
  @include bottom();
  top: auto;
  overflow-y: hidden;

  & > *:first-child > div:first-child {
    border-radius: 16px 16px 0 0;
  }

  @media #{$tablet-portrait} {
    bottom: auto;
    width: $sidebar-width + 40px;
    @include topLeft();

    & > *:first-child > div:first-child {
      border-radius: 0;
    }
  }
}

.spacer {
  @extend %spacer;
  left: 0;
  height: 1px;
  position: absolute;
  width: 100%;
  z-index: 15;
}