@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';

.entryBoxesPosition {
  @include bottom();
  position: fixed;
  top: auto;
  overflow-y: hidden;
  @include animationFunction();
  
  // entry box spacer
  & > *:not(:last-child)::after {
    @extend %spacer;
    content: '';
    left: 0;
    height: 1px;
    position: absolute;
    width: 100%;
    z-index: 15;
  }

  // entry box border-radius
  & > *:first-child > div:first-child {
    border-radius: $border-radius-mobile;
  }

  @media #{$tablet-portrait} {
    bottom: auto;
    width: $sidebar-width + 40px;
    @include topLeft();
    @include animationFunction($propertyToAnimate: all);

    &.countrySelected {
      top: $high-sidebar-top-margin;
    }

    & > *:first-child > div:first-child {
      border-radius: 2px;
    }

    & > *::after {
      display: none;
    }
  }
}