@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.iconWrapper {
  background-color: transparent;
  height: 25px;
  width: 25px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.open {
    background-color: $brand-color-secondary;
  }
}


.icon {
  @extend %icon;
  fill: inherit;
  &.open {
    fill: $brand-color-main;
  }
}

.sliderContainer {
  @extend %annotation;
  color: $white;
  display: flex;
  flex-direction: column;
  background-color: $brand-color-secondary;
  height: 50px;
  width: 210px;
  padding-left: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  position: relative;
  top: 10px;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  width: 150px;
  height: 20px;
  .slider {
    position: relative;
    width: 150px;
  }
  .track {
    position: absolute;
    height: 3px;
    background-color: $brand-color-main;
    z-index: 1;
    border-radius: 4px;
    transform: translate(0, -1px);
    box-shadow: 0 0 3px 0 $brand-color-main;
  }
}

.sliderValue {
  padding-left: 15px;
}

