@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

.switcher {
  display: inline-block;
  position: relative;

  @media #{settings.$mobile-only} {
    position: static;
  }

  &:hover .switcherContent {
    display: flex;
  }

  &:hover .switcherBtn {
    color: settings.$white;
    font-weight: settings.$font-weight-bold;
  }

  .switcherBtn {
    @extend %subtitle;
    border: none;
    color: settings.$white;
    font-weight: settings.$font-weight-bold;
    margin-top: 4px;
    transition: color 200ms ease-in;
    height: 32px;
    width: 32px;

    @media #{settings.$mobile-only} {
      margin-top: 0;
      padding-top: 0;
      height: 7svh;
    }
  }

  .switcherContent {
    @extend %subtitle;
    color: settings.$grey-text;
    display: none;
    position: absolute;
    z-index: 1;
    right: 32px;
    top: 8px;

    @media #{settings.$mobile-only} {
      top: 0.3svh;
    }


    button {
      display: flex;
      color: settings.$grey-text;
      font-size: settings.$font-size-xs;
      text-transform: uppercase;
      padding: 5px;

      @media #{settings.$mobile-only} {
        height: 7svh;
        padding-top: 0;
        display: flex;
        align-items: center;
      }

      &:hover {
        color: settings.$white;
        font-weight: settings.$font-weight-bold;
      }
    }
  }
}