@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.switcher {
  display: inline-block;
  // position: relative;

  &:hover .switcherContent {
    display: flex;
  }

  &:hover .switcherBtn {
    color: $white;
    font-weight: $font-weight-bold;
  }

  .switcherBtn {
    @extend %subtitle;
    border: none;
    color: $white;
    font-weight: $font-weight-bold;
    margin-top: 4px;
    transition: color 200ms ease-in;
    height: 32px;
    width: 32px;
    @media #{$mobile-only} {
      margin-top: 0;
      padding-top: 0;
      height: 7svh;
    }
  }

  .switcherContent {
    @extend %subtitle;
    color: $grey-text;
    display: none;
    position: absolute;
    z-index: 1;
    right: 32px;
    top: 8px;

    @media #{$mobile-only} {
      top: 0.25svh;
    }


    button {
      display: flex;
      color: $grey-text;
      font-size: $font-size-xs;
      text-transform: uppercase;
      padding: 5px;

      @media #{$mobile-only} {
        height: 7svh;
        padding-top: 0;
        display: flex;
        align-items: center;
      }

      &:hover {
        color: $white;
        font-weight: $font-weight-bold;
      }
    }
  }
}



