@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
}

.layersTogglesContainer{
  @extend .sharedLayersTogglesContainer;
}

.layersTitle {
  @extend %subtitle;
  color: $white;
}

.description {
  @extend %bodyText;
  color: $white; 
}

.legendContainer,
.sourceContainer,
.togglesContainer,
.dropdownContainer {
  padding-top: $sidebar-vertical-flow;
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  position: relative;
  left: -$sidebar-paddings;
  width: calc(100% + (2 * #{$sidebar-paddings}));
}