@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends.scss';

.sidebarTabsContainer {
  @extend .sharedSidebarCardContainer;
  padding: 6px;

  &:hover {
    border-color: $elephant;
  }
}

.tabs {
  display: flex;
  justify-content: center;

  ul[role="tablist"] {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li[role="presentation"] {
    flex: 1;
  }

  .tab {
    @extend %title;
    display: inline-block;
    padding: 12px 0;
    height: 50px;
    width: 100%;
    color: $white;
    text-align: center;
    cursor: pointer;

    &[aria-selected="true"] {
      background-color: $elephant;
      color: $white;
      border-radius: $border-radius-desktop;
    }

    &[aria-selected="false"] {
      opacity: 0.6;
    }

    .titleContainer {
      align-items: center;
      display: flex;
      justify-content: center;
      line-height: 26px;

      .layersIndicator {
        @extend %subtitle;
        align-items: center;
        background-color: $white;
        border-radius: 100%;
        color: $elephant;
        display: flex;
        height: 16px;
        justify-content: center;
        font-weight: 400;
        margin-right: 10px;
        width: 16px;
      }
    }
  }

  .disabled {
    pointer-events: none;
  }
}