@import 'styles/settings';
@import 'styles/typography-extends';

.title {
  @extend %_temporaryTitle;
  margin: 0;
  color: $_temporary-dark-text;
  text-align: center;
}

.birdsIcon,
.mammalsIcon,
.reptilesIcon,
.amphibiansIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin-right: 10px;
}

.birdsIcon {
  background-color: $birds-color;
}

.mammalsIcon {
  background-color: $mammals-color;
}

.reptilesIcon {
  background-color: $reptiles-color;
}

.amphibiansIcon {
  background-color: $amphibians-color;
}