@import 'styles/settings';
@import 'styles/typography-extends';

.chartContainer {
  position: relative;
}

.title {
  @extend %_temporaryTitle;
  margin: 0;
  color: $_temporary-dark-text;
  text-align: center;
}

.chartLegend {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 77px;
  align-items: center;
  position: absolute;
  top: 85px;
  left: 65px;
}

.legendItem {
  @extend %subtitle;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $sidebar-paddings;
}

.birdsIcon,
.mammalsIcon,
.reptilesIcon,
.amphibiansIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  margin-right: 10px;
}

.birdsIcon {
  background-color: $birds-color;
}

.mammalsIcon {
  background-color: $mammals-color;
}

.reptilesIcon {
  background-color: $reptiles-color;
}

.amphibiansIcon {
  background-color: $amphibians-color;
}