@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/shared-sidebar.module';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
  &.open {
    border-color: $brand-color-main;
  }
}

.layersTogglesContainer {
  @extend .sharedLayersTogglesContainer;

  &.open {
    height: 1440px;

    &.priorityTab {
      height: 895px;
    }

    &.richnessTab {
      height: 1400px;
    }
  }
}

.cardContainer,
.legendContainer {
  padding: $sidebar-paddings;
}