@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
  &.open {
    border-color: $brand-color-main;
  }
}

.layersTogglesContainer {
  @extend .sharedLayersTogglesContainer;

  &.open {
    height: auto;
  }
}

.cardContainer,
.tabsContainer,
.legendContainer,
.sourceContainer,
.togglesContainer,
.dropdownContainer {
  padding-top: $sidebar-vertical-flow;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  .dropdownLabel {
    @extend %subtitle;
    color: $white;
    padding-right: $sidebar-paddings;
  }
}