@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.container {
  @include backdropBlur();
  border-radius: 2px;
}

.title {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 20px 20px 0;
}

.text {
  color: $alto;
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 24px;
  padding: 0 20px ;

}

.hint {
  color: white;
  line-height: 14px;
  font-size: 10px;
  letter-spacing: 1.5px;
  padding: 0 20px 20px;
}

.barContainer {
  align-items: center;
  display: flex;
  height: 32px;
  margin: 40px 0;
  width: 100%;
  padding: 0 20px ;
}

%pressureBar {
  height: 100%;
  background-color: #0C2C84;
}

.pressureFreeBar {
  @extend %pressureBar;
  height: 22px; 
  background-color: #6C828F;
  flex: 1;

}

.selectedPressureBar {
  @extend %pressureBar;

  border: 2px solid #FFFFFF;
  border-radius: 1px;
  height: 32px;
  position: relative;
}

.selectedPressureLabel {
  @extend  %bodyText;
  color: white;
  position: absolute;
  top: -22px;
  left: calc(50% - 32px);

}

.nonSelectedPressureBar {
  @extend %pressureBar;
  height: 22px;
  position: relative;
  &:after {
    content: '';
    background: white;
    display: block;
    height: 32px;
    width: 2px;
    right: -2px;
    top: -4px;
    position: absolute;
  }
}
