@import 'styles/ui.module';
@import 'styles/settings';

.container {
  @include backdropBlur();
  border-radius: 2px;
  padding: 20px;
}

.title {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
}

.text {
  color: $alto;
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 24px;
}

.hint {
  color: white;
  line-height: 14px;
  font-size: 10px;
  letter-spacing: 1.5px;
}
.treemap {
  width: 100%;
}

.barContainer {
  // background-color: #6C828F;
  align-items: center;
  display: flex;
  height: 32px;
  margin: 40px 0;
  width: 100%;
}

%pressureBar {
  height: 100%;
  background-color: #0C2C84;
}

.pressureFreeBar {
  @extend %pressureBar;
  height: 22px; 
  background-color: #6C828F;
  flex: 1;

}

.selectedPressureBar {
  @extend %pressureBar;

  border: 2px solid #FFFFFF;
  border-radius: 1px;
  height: 32px;
}

.nonSelectedPressureBar {
  @extend %pressureBar;
  height: 22px;

}
