@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

$max-width: 520px;
$area-title-width: 230px;

.modal {
  width: 90% !important;
  max-width: 90% !important;
  height: auto !important;
  max-height: 100vh !important;

  @media #{settings.$tablet-landscape} {
    max-width: $max-width !important;
    width: $max-width !important;
    max-height: 400px !important;
  }
}

.modalContent {
  padding: 0 !important;
}

.modalContainer {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 24px;
  background-color: settings.$brand-color-secondary;

  @media #{settings.$tablet-landscape} {
    max-width: $max-width;
    width: $max-width;
  }
}

.closeBtn {
  display: none !important;
}

.title {
  @extend %headline;
  color: settings.$white;
  margin: 0;
  text-align: left;
}

.description {
  @extend %bodyText;
  color: settings.$grey-text;
  margin: 0;
}

.buttons {
  align-self: end;
  margin-top: 17px;

  .backBtn {
    @extend %title;
    background-color: settings.$white;
    color: settings.$dark-text;
    height: 38px;
    margin-right: 12px;
    padding: 0 25px;
  }

  .exploreBtn {
    @extend %title;
    background-color: settings.$brand-color-main;
    color: settings.$white;
    height: 38px;
    padding: 0 17px;
    text-transform: uppercase;
  }
}