@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/shared-sidebar.module' as *;
@use 'styles/typography-extends' as *;

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
  position: relative;
}

.layersTogglesContainer {
  @extend .sharedLayersTogglesContainer;
}

.cardContainer,
.tabsContainer,
.legendContainer,
.sourceContainer,
.togglesContainer,
.dropdownContainer {
  &:not(.marineDropdownContainer) {
    padding-top: settings.$sidebar-vertical-flow;
  }

  color: settings.$white;
}

.dropdownContainer {
  .dropdownLabel {
    @extend %title;
    display: block;
    color: settings.$white;
    font-size: settings.$font-size-base;
    font-weight: settings.$font-weight-bold;
    padding-right: settings.$sidebar-paddings;
    margin-bottom: 8px;
  }

  .dropdownSubtitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .subtitle {
      @extend %bodyText;
      font-size: settings.$font-size-base;
      color: settings.$white;
    }

    .description {
      @extend %bodyText;
      color: settings.$grey-text;
      font-size: settings.$font-size-xs;
    }

  }
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  left: calc(-1 * #{settings.$sidebar-paddings});
  padding-top: 8px;
  position: relative;
  width: calc(100% + (2 * #{settings.$sidebar-paddings}));
}