@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
  position: relative;
}

.layersTogglesContainer {
  @extend .sharedLayersTogglesContainer;
}

.cardContainer,
.tabsContainer,
.legendContainer,
.sourceContainer,
.togglesContainer,
.dropdownContainer {
  padding-top: $sidebar-vertical-flow;
  color: $white;
}

.dropdownContainer {
  .dropdownLabel {
    @extend %title;
    display: block;
    color: $white;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    padding-right: $sidebar-paddings;
    margin-bottom: 8px;
  }

  .dropdownSubtitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .subtitle {
      @extend %bodyText;
      font-size: $font-size-base;
      color: $white;
    }

    .description {
      @extend %bodyText;
      color: $grey-text;
      font-size: $font-size-xs;
    }

  }
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  left: -$sidebar-paddings;
  padding-top: 8px;
  position: relative;
  width: calc(100% + (2 * #{$sidebar-paddings}));
}