@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
  position: relative;
}

.layersTogglesContainer {
  @extend .sharedLayersTogglesContainer;
}

.cardContainer,
.tabsContainer,
.legendContainer,
.sourceContainer,
.togglesContainer,
.dropdownContainer {
  padding-top: $sidebar-vertical-flow;
  color: $white;
}

.dropdownContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dropdownLabel {
    @extend %title;
    color: $white;
    padding-right: $sidebar-paddings;
  }
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  left: -$sidebar-paddings;
  padding-top: 8px;
  position: relative;
  width: calc(100% + (2 * #{$sidebar-paddings}));
}