@import 'styles/settings';
@import 'styles/ui.module';

$site-gutter: 20px;
$map-attribution-height: 30px;
$icon-size: 14px;

%legend-ramp-text {
  font-family: $font-family-1-light !important;
  color: $grey-text;
  line-height: 10px;
}

%legend-ramp-bar {
  height: 6px;
  border-radius: 5px;
  margin-bottom: 4px;
}

%legend-label-text {
  background: transparent;
}


.opacityTooltipContainer {
  display: flex;
}

.opacityTooltipContent {
  flex: 1;
  position: relative;
  width: 150px;

  .slider-tooltip-container {
    padding: 12px 0 20px;
    min-width: 150px;
  }
}

.legendItemButtonOpacity {
  :global {
    .wri_api__slider-range {
      position: relative;
    }
    .rc-tooltip-arrow {
      display: none !important;
    }
    .-sortable {  //when dragging the legend item
      background: $firefly;
      box-shadow: 0 2px 10px 0 rgba(23,27,48,0.15);
      padding-left: 0px;
  
      li > .wri_api__c-legend-item {  //disable white background for item legend label
        @extend %legend-label-text;
      }
  
      .wri_api__name {
        @extend %legend-ramp-text;
      }
  
      .wri_api__c-legend-type-gradient .wri_api__icon-gradient {
        @extend %legend-ramp-bar;
      }
    }
  }
}


.sliderContainer {
}

.sliderValue {
  width: 40px;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
  line-height: 12px;
}