@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';

$margin: 20px;

.sidebar {
  @extend %verticalScrollBar;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 16px 16px 0 0;
  height: 450px;
  position: absolute;
  bottom: 15px;
  overflow-x: hidden;
  @include animationFunction();

  @media #{$tablet-portrait} {
    height: calc(100vh - 60px);
    border-radius: 2px;
  }
}

.wrapper {
  width: $sidebar-width;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media #{$tablet-portrait} {
    overflow-y: unset;
    width: $sidebar-width;
    height: 100%;
  }
}