@use 'styles/settings' as settings;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: settings.$sidebar-paddings;

  > :not(:last-child)::after {
    content: '';
    position: relative;
    bottom: calc(-1 * #{settings.$sidebar-paddings});
    display: block;
    margin: 0 auto;
    // Replaced private $_temporary-dark-text with public token
    border-bottom: 1px dotted settings.$grey-text;
  }
}

.section {
  background-color: settings.$white;
  border-radius: settings.$card-border-radius;
  padding: settings.$sidebar-paddings;
}