@import 'styles/settings';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $sidebar-paddings;
  > :not(:last-child)::after {
    content: '';
    position: relative;
    bottom: -$sidebar-paddings;
    display: block;
    margin: 0 auto;
    border-bottom: 1px dotted $_temporary-dark-text;
  }
}

.section {
  background-color: $white;
  border-radius: $card-border-radius;
  padding: $sidebar-paddings;
}
