@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: settings.$over-modal;
  width: 100%;
  transform: translateY(100%);
  overflow: hidden;
  background-color: rgba(settings.$navy-he, 0.8);
  padding: 6px;
  padding-left: 2rem;
  outline: none;

  @extend %annotation;
  color: settings.$white;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
}

@media #{settings.$desktop} {
  .bannerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.link {
  color: settings.$white;
  font-weight: settings.$font-weight-bold;
  text-decoration: underline;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  min-width: 150px;
}