@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';

.container {
  @extend %verticalScrollBar;
  @include animationFunction($propertyToAnimate: all);
  position: absolute;
  height: 100vh;
  width: calc(#{$local-sidebar-width} + 15px);
  top: $sidebar-top-margin;
  left: $site-gutter;
  padding-bottom: $site-gutter;
}