@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container {
  @include backdropBlur();
  @include animationFunction($propertyToAnimate: all);
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  position: absolute;
  height: calc(95vh + #{$sidebar-cards-padding});
  width: $local-sidebar-width;
  top: $local-sidebar-top-margin;
  left: $site-gutter;
  padding: $site-gutter 0;
  z-index: $bring-to-front;
  margin-top: $local-sidebar-top-margin;
}

.backButton {
  position: absolute;
  top: -$local-sidebar-top-margin;
  left: calc(#{$local-sidebar-width}/2 - #{$rounded-button-size}/2);
}

.loading {
  padding: $mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-portrait} {
    padding: $sidebar-paddings;
  }
}

.loadingText {
  @extend %bodyText;
  margin-bottom: 20px;
  color: $white;
}

.nameWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
}

.flag {
  width: 30px;
  margin-left: $site-gutter;
  position: relative;
}

.countryName {
  @extend %display1;
  color: $white;
  padding-left: $site-gutter;
  margin: 0;
}

.tabsContainer {
  padding: 0px 20px;
  margin: 7px 0 $sidebar-paddings 0;
}

.scrollableArea {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 84%;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    max-height: 66px;
    border-radius: 3px;
    background-color: #DBDBDB;
    width: 30px;
  }
}

.actionButton {
  margin-left: $site-gutter;
  margin-bottom: $site-gutter;
}

