

@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.container {
  @include backdropBlur();
  width: 280px;
}

.chart {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: wrap;
  margin: 40px auto;
}

%chart {
  width: 100px;
  height: 100px;
  position: relative;
}

%chartTitle {
  @extend %annotation;
  color: $white;
  position: absolute;
}

.reptilesChart {
  @extend %chart;
  border: 1px solid $white;
  border-radius: 100% 0 0 0;

  &:after {
    @extend %chartTitle;
    content: 'Reptiles';
    transform: rotate(-45deg) translate(-10px, 5px);
  }
}
.birdsChart {
  @extend %chart;
  border: 1px solid $white;
  border-radius: 0 100% 0 0;

  &:after {
    @extend %chartTitle;
    content: 'Birds';
    transform: rotate(45deg) translate(8px, 10px);
    right: 0;
  }
}

.point {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  // border: 1px solid black;
  background-color: #FFF000;
  z-index: 2;
  cursor: pointer;
}

.mammalsChart {
  @extend %chart;
  border: 1px solid $white;
  border-radius: 0 0 0 100%;

  &:after {
    @extend %chartTitle;
    content: 'Mammals';
    transform: rotate(45deg) translate(-10px, -2px);
    bottom: 0;
  }
}

.amphibiansChart {
  @extend %chart;
  border: 1px solid $white;
  border-radius: 0 0 100% 0;

  &:after {
    @extend %chartTitle;
    content: 'Amphibians';
    transform: rotate(-45deg) translate(15px, 0);
    bottom: 0;
    right: 0;
  }
}

.title {
  margin: 0;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 20px 20px 0;
}

.text {
  color: $alto;
  line-height: 16px;
  font-size: 12px;
  margin-bottom: 24px;
  padding: 0 20px ;
}
