@import 'styles/settings';
@import 'styles/typography-extends';

.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media #{$tablet-portrait} {
    justify-content: space-between;
    flex-direction: row;
  }

  > :first-child {
    margin-right: 25px;
  }
}

.dragIcon {
  vertical-align: sub;
}