@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.vertebratesContainer {
  background: settings.$dark;
  border: 1px solid settings.$elephant;
  border-radius: 8px;
  color: settings.$white;
  display: flex;
  justify-content: space-between;
  margin: 8px 16px 8px 0;
  padding: 10px 16px;

  @media #{settings.$tablet-only} {
    flex-direction: column;
  }

  @media #{settings.$mobile-landscape} {
    flex-direction: row;
  }

  .endemicCardsContainer {
    @extend %bodyText;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;


    @media #{settings.$tablet-only} {
      grid-template-columns: 1fr 1fr;
      row-gap: 10px;
    }

    .endemicCard {
      align-items: center;
      display: flex;
      margin-right: 15px;
    }

    .endemicIcon {
      background-color: settings.$white;
      border-radius: 50%;
      padding: 1px;
      width: 32px;
      margin-right: 8px;
    }
  }

  p {
    margin: 0;
  }

  button {
    border-radius: settings.$border-radius-desktop;
    margin-left: 20px;
    padding: 10px 32px;
    white-space: nowrap;

    @media #{settings.$tablet-only} {
      margin: 10px 0 0 0;
      align-self: center;
    }
  }

  &.shrunken {
    flex-direction: column;

    .endemicCardsContainer {
      display: grid;
      flex-direction: column;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;

      .endemicCard {
        margin-right: 5px;
      }

      @media #{settings.$tablet-only} {
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-bottom: 0;
      }

    }

    .vertebratesButton {
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-top: 15px;
    }
  }

  &.mobile {
    .endemicCardsContainer {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;

      @media #{settings.$mobile-landscape} {
        flex-direction: row;
      }
    }

    .endemicCard {
      margin-bottom: 8px;
    }
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: settings.$border-radius-desktop;
  background: settings.$white;
  box-shadow: settings.$box-shadow-light;
  color: settings.$dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 200px;
}

.nrcContentVertebrates:before {
  content: '';
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 50px;
  z-index: 9;
  background-image: linear-gradient(to top, settings.$app-background 0%, rgba(9, 12, 20, 0) 100%);
}

.vertebratesButton {
  max-height: 40px;
  justify-content: center;
}