@import 'styles/ui.module';
@import 'styles/settings';

.wrapper {
  @include backdropBlur();
  padding-bottom: 30px;
  &:first-child {
    padding-top: $sidebar-paddings;
  }
}

.titleSection {
  display: flex;
  padding: 0 $sidebar-paddings;
}

.widgetTitle {
  color: $white;
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.widgetSubTitle {
  @extend .widgetTitle;
  padding-left: calc(2 * #{$sidebar-paddings})
}

.description {
  color: $alto;
  font-size: $font-size-xs;
  margin-top: 0;
  margin-bottom: 14px;
  padding: 0 $sidebar-paddings;
}

.fineScaleWrapper {
  @include backdropBlur($colour: rgba(2,114,186,0.1), $fallback: #003252, $fallbackOpacity: 0.6);
  padding: $sidebar-paddings 0;
}

.subcategoryRadioContainer label {
  padding-left: calc(2 * #{$sidebar-paddings});
}