@import 'styles/ui.module';
@import 'styles/settings';

.wrapper {
  @include backdropBlur();
  padding-bottom: $sidebar-paddings;
  padding-left: $sidebar-paddings;
}

.titleSection {
  display: flex;
}

.widgetTitle {
  color: $white;
  font-size: $font-size-xs;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 20px;
}

.description {
  color: $alto;
  font-size: $font-size-xs;
  margin-top: 0;
  margin-bottom: 14px;
}

.fineScaleWrapper {
  @include backdropBlur($colour: rgba(2,114,186,0.1), $fallback: #003252, $fallbackOpacity: 0.6);
  padding-bottom: $sidebar-paddings;
  padding-left: $sidebar-paddings;
  padding-top: $sidebar-paddings;
}
.subcategoryRadioContainer {
  padding-left: $sidebar-margin;
}