@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container {
  display: flex;
  opacity: 1;
  flex-direction: column;
  width: $local-sidebar-width;
  overflow: hidden;
  color: $white;
  border-radius: 2px;
  margin-bottom: $cards-bottom-margin;
}

.loading {
  padding: $mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-portrait} {
    padding: $sidebar-paddings;
  }
}

.loadingText {
  @extend %bodyText;
  margin-bottom: 20px;
}

.indexOverview,
.indexWidget {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 $sidebar-paddings;
}

.countryName {
  @extend %headline;
}

.indexStatement{
  @extend %title;
}

.overviewText {
  @extend %title;
  font-size: 11px;
}

.backButton {
  display: flex;
  align-items: center;
  padding: 0;
  .icon {
    transform: rotate(180deg);
  }
  .text {
    @extend %subtitle;
    color: $brand-color-main;
    text-transform: uppercase;
  }
}


.overviewTextWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indexWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $sidebar-paddings;
}

.indexBar {
  position: relative;
  height: 22px;
  width: 70%;
  background-color: $brand-color-main;
  border-radius: 3px;
  display: flex;
  align-items: center;

  .progressMark {
    position: relative;
    border: 1px solid $white;
    height: 30px;
  }

  .meanMark {
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid white;
    bottom: -6px;
  }

  .improvementArea {
    position: relative;
    height: 22px;
    background-color: #A0AFB8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.index {
  @extend %headline;
}

.indexExplanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: $site-gutter;
}


.indexExplanationText {
  @extend %_temporaryTitle;
  margin: 0;
  color: $_temporary-dark-text;
}

.indexBaseNumbersWrapper {
  display: flex;
  flex-wrap: wrap;
}

.indexBaseDataElement {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $sidebar-paddings;
}

.baseNumber{
  @extend %headline;
  color: $_temporary-dark-text;
  margin: 0 0 5px 0;
}

.numberText {
  @extend %subtitle;
  color: $_temporary-dark-text;
  text-transform: uppercase;
  margin: 0;
}

.hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $sidebar-paddings;
  background-color: #A0AFB8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.hintTitle {
  @extend %_temporaryTitle;
  color: $_temporary-dark-text;
}

.hintText {
  @extend %bodyText;
  color: $_temporary-dark-text;
}

.descriptionWrapper {
  padding: 20px 20px 30px;
  p {
    @extend %bodyText;
    margin: 0 0 10px;
  }
}