@import 'styles/settings';
@import 'styles/typography-extends';

.container {
  color:red;
}

.rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $rounded-button-size;
  height: $rounded-button-size;
  border-radius: 100%;
  background-color: $white;

  .icon {
    fill: $dark-text;
    width: 12px;
    height: 12px;
  }
}
