@import 'styles/settings';
@import 'styles/typography-extends';

.rectangular {
  @extend %title;
  width: 100%;
  height: 40px;
  background-color: $white;
  color: $dark-text;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius-desktop;
  &:hover {
    background-color: $brand-color-main;
  }
}


.rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $rounded-button-size;
  height: $rounded-button-size;
  border-radius: 100%;
  background-color: $white;

  .icon {
    fill: $dark-text;
    width: $font-size-xs;
    height: $font-size-xs;
  }
}

.compound {
  display: flex;
  padding: 6px;
  background-color: $brand-color-secondary;
  border-radius: $border-radius-desktop;

  .icon {
    fill: $white;
    margin-right: $paragraph-gutter;
  }
  
  .label {
    @extend %title;
    color: $white;
  }
}

.square {
  width: 180px;
  height: 104px;
  border: 1px solid $brand-color-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  border-radius: 4px;

  .icon {
    width: 35px;
    height: 35px;
    fill: $white;
    margin-bottom: $paragraph-gutter;
  }
  
  .label {
    @extend %title;
    color: $white;
  }

  &:hover,
  &.active {
    background-color: $brand-color-main;
    .icon {
      fill: $dark-text;
    }
    .label {
      color: $dark-text;
    }
  }
}
