@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
}

.layersTogglesContainer{
  @extend .sharedLayersTogglesContainer;

  &.open {
    height: auto; // we set a fixed height for the property to animate
  }
}


.layersTitle {
  @extend %subtitle;
  color: $white;
}

.description {
  @extend %bodyText;
  color: $white; 
}