@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;
@use 'styles/shared-sidebar.module' as *;
@use 'styles/mixins' as mixins;

.sketchTooltip {
  @extend %bodyText;
  font-size: settings.$font-size-xs;
  position: absolute;
  background-color: settings.$white;
  line-height: normal;
  border-radius: 2px;
  z-index: settings.$send-to-back;
  padding: 2px 10px;
  text-align: center;
  pointer-events: none;

  .arrow {
    position: absolute;
    bottom: -20px;
    left: 35px;
    @include mixins.caret(settings.$white, 'up');
  }
}