@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.mainMenuButton {
  position: absolute;
  right: $site-gutter;
  top: $site-gutter
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: $bring-to-front;

  .menuTitle {
    @extend %subtitle;

    color: $white;
    margin-right: 20px;
  }
}
