@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.title {
  margin: 0;
  font-style: italic;
}

.chartWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .info {
    color: var(--font-color);
    fill: var(--font-color);
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    background-color: rgba(9, 20, 26, 0.4);
    align-self: end;
  }
}
