@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  position: absolute;
  top: 25px;
  left: 630px;
  background-color: $app-background;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px 0px $black;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .title{
    font-weight: 700;
    padding-bottom: 10px;
  }

  .layers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    color: $white;

    li{
      display: flex;

      .arrows{
        width: 30px;
        color: $white;
        fill: $white;

        &.disabled{
          fill: $white-opacity-20;
          cursor: default;
        }
      }

      .info{
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        font-size: $font-size-xs;

        span{
          font-style: italic;
        }

        .wrapper{
          display: flex;
          gap: 5px;
          margin-top: 5px;
        }

        .column{
          flex-direction: column;
        }

        .box{
          width: 50px;
          height: 15px;
          border: 1px solid rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
