@import 'styles/settings';
@import 'styles/typography-extends';

$gap: 20pt;

.container {
  display: none;
}

// @extends need to be outside @media rules
// https://sass-lang.com/documentation/at-rules/extend#extend-in-media
.nameWrapper {
  @extend %display2;
}

.speciesCount,
.speciesSentence,
.datasetExplanation {
  @extend %bodyText;
}

.speciesTitle {
  @extend %title;
  font-size: 12pt;
  letter-spacing: 0.1em;
}

.spiAverageText {
  @extend %annotation;
  color: $grey-text;
}

@media print {

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: A4 landscape;
    margin: 15pt;
    margin-bottom: 0pt;
  }

  a {
    text-decoration: none;
    color: $_temporary-light-text;
  }

  p {
    margin: 0;
  }

  section {
    page-break-inside: avoid;
  }

  $page-padding: 15pt;

  .container {
    overflow: auto;
    position: absolute;
    top: 0;
    opacity: 1;
    padding: $page-padding;
    width: 842pt;
    height: 595pt;
    background-color: $white;
    display: grid;
    column-gap: 8pt;
    row-gap: $gap;
    grid-template-columns: repeat(8, 94.5pt);
    grid-template-rows: 42pt 190pt 220pt 73pt 168pt;
    grid-template-areas:
    "hd hd hd hd hd hd hd logo"
    "ind ind ind ind ind ind ind ind"
    "species species . . . . . ."
    "sources sources . . . . url url";

    .title {
      grid-area: hd;
    }

    .nameWrapper {
      display: flex;
      align-items: center;
      margin-bottom: 5pt;

      .countryName {
        margin-left: $gap / 2;
      }
    }

    .flag {
      height: 26pt;
      border-radius: 30%;
    }

    .logoContainer {
      align-self: center;
    }

    .logo {
      grid-area: logo;
      height: 60pt;
      width: 70pt;
    }

    .indicatorCardsContainer {
      grid-area: ind;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $gap / 2;

      .bar {
        height: $gap / 2;
        width: 100%;
      }

      .spiAverageText {
        margin: 0;
      }

      .indicatorCard {
        padding: 11pt 16pt;
        background-color: $white-opacity-pdf;
        border: none;
        color: $dark-text;

        .description {
          font-size: 14pt;
        }
      }
    }

    .speciesCount {
      display: flex;
      margin-bottom: 8pt;
    }

    .speciesComposition {
      grid-area: species;
      background-color: $white-opacity-pdf;

      padding: 26pt 17pt;
      border-radius: 8pt;

      .speciesTitle {
        margin-bottom: 8pt;
      }
    }

    .endemic {
      font-weight: $font-weight-bold;
    }

    .speciesIcon {
      vertical-align: middle;
      margin-right: 5pt;

      svg {
        width: 26pt;
        height: 26pt;
      }
    }

    .urlWrapper {
      grid-area: url;
    }

  }
}