@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

$gap: 20pt;

.container {
  display: none;
}

// @extends need to be outside @media rules
// https://sass-lang.com/documentation/at-rules/extend#extend-in-media
.areaChartLegend {
  @extend %annotation;
}

.nameWrapper {
  @extend %display2;
}

.speciesCount {
  @extend %bodyText;
  font-size: 14pt;
}

.subtitle {
  @extend %bodyText;
}

.sources,
.urlWrapper {
  @extend %bodyText;
  color: rgba(settings.$navy-he, 0.5);
}

.sectionTitle {
  @extend %title;
  font-size: 12pt;
  letter-spacing: 0.1em;
  margin-bottom: 8pt;
}

.spiAverageText {
  @extend %annotation;
  color: settings.$grey-text;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: A4 landscape;
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    // Replaced private $_temporary-light-text with public token
    color: settings.$grey-text;
  }

  p {
    margin: 0;
  }

  section {
    page-break-inside: avoid;
  }

  .container {
    margin: 30pt 15pt 0 15pt;
    position: absolute;
    top: 0;
    opacity: 1;
    width: 842pt;
    height: 595pt;
    background-color: settings.$white;
    display: grid;
    column-gap: 8pt;
    row-gap: $gap;
    grid-template-columns: repeat(8, 94.5pt);
    grid-template-rows: 42pt 190pt 270pt 20pt;
    grid-template-areas:
      "hd hd hd hd hd hd hd logo"
      "ind ind ind ind ind ind ind ind"
      "species species chart chart chart chart chart chart"
      "sources sources . . . url url url";

    .title {
      grid-area: hd;
    }

    .nameWrapper {
      display: flex;
      align-items: center;
      margin-bottom: 5pt;

      .countryName {
        margin-left: calc($gap / 2);
      }
    }

    .flag {
      height: 26pt;
      border-radius: 30%;
    }

    .logoContainer {
      align-self: center;
      justify-self: right;
      padding-right: 5px;
    }

    .logo {
      grid-area: logo;
      height: 52pt;
    }

    .indicatorCardsContainer {
      grid-area: ind;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: calc($gap / 2);

      .bar {
        height: calc($gap / 2);
        width: 100%;
      }

      .spiAverageText {
        margin: 0;
      }

      .indicatorCard {
        padding: 11pt 16pt;
        background-color: settings.$white-opacity-pdf;
        border: none;
        color: settings.$dark-text;

        .description {
          font-size: 14pt;
        }
      }
    }

    .speciesCount {
      display: flex;
      margin-bottom: 8pt;
    }

    .speciesComposition {
      grid-area: species;
      background-color: settings.$white-opacity-pdf;
      padding: 16pt;
      border-radius: 8pt;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .endemic {
      font-weight: settings.$font-weight-bold;
      margin-bottom: 5pt;
    }

    .speciesIcon {
      vertical-align: middle;
      margin: 5pt 5pt 0 0;

      svg {
        width: 26pt;
        height: 26pt;
      }
    }

    .areaChartContainer {
      grid-area: chart;
      background-color: settings.$white-opacity-pdf;
      padding: 16pt;
      border-radius: 8pt;

      .chartHeader {
        display: flex;
        justify-content: space-between;

        .areaChartLegend {
          color: settings.$black;
          display: flex;
        }

        .areaChartLegendItem {
          align-items: center;
          display: flex;
        }

        .area1ChartLegendLine {
          border: 1pt solid settings.$black;
          height: 1pt;
          margin-right: 6pt;
          width: 20pt;
        }

        .area2ChartLegendLine {
          background-color: transparent;
          border: none;
          border-top: 2pt dashed settings.$black;
          margin-left: 16pt;
          margin-right: 6pt;
          width: 20pt;
        }
      }
    }

    .sources {
      grid-area: sources;
    }

    .urlWrapper {
      grid-area: url;
      justify-self: flex-end;

      .urlText {
        color: settings.$brand-color-main;
      }
    }
  }
}