@import 'styles/settings';
@import 'styles/typography-extends';

$gap: 20pt;

.container {
  dislpay: none;
}

// @extends need to be outside @media rules
// https://sass-lang.com/documentation/at-rules/extend#extend-in-media
.nameWrapper {
  @extend %display1;
}

.baseNumber {
  @extend %headline;
  margin: 0;
}

.numberText,
.speciesCount,
.speciesSentence,
.datasetExplanation {
  @extend %bodyText;
}

.title,
.indexIntro,
.legendTitle,
.overviewText,
.indexStatement {
  @extend %title;
}

.numberText,
.legendTag {
  @extend %subtitle;
}

.datasetSource {
  @extend %annotation;
  color: $_temporary-light-text;
}

@media print {

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
 }

  @page {
    size: A4 landscape;
    margin: 15pt;
    margin-bottom: 0pt;
    border-top: 1px solid $_temporary-light-text;
    border-bottom: 1px solid $_temporary-light-text;
  }

  a {
    text-decoration: none;
    color: $_temporary-light-text;
  }

  p {
    margin: 0;
  }

  section {
    page-break-inside: avoid;
 }

  .container {
    opacity: 1;
    width: 842pt;
    height:595pt;
    background-color: $white;
    display: grid;
    column-gap: $gap;
    row-gap: $gap;
    grid-template-columns: repeat(10, 63pt);
    grid-template-rows: 30pt 78pt 13pt 100pt 73pt 168pt 15pt;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "index index index index rg rg rg sp sp sp"
    "intro intro intro intro cmp cmp cmp sp sp sp"
    "exp exp exp exp cmp cmp cmp sp sp sp"
    "map map map map prot prot prot prot prot prot"
    "map map map map prior prior prior prior prior prior"
    "map map map map url url url url url url";

    .nameWrapper {
      grid-area: hd;
      display: flex;
      align-items: center;
      .countryName {
        margin-left: $gap;
      }
    }

    .indexWrapper {
      grid-area: index;
    }

    .indexIntro {
      grid-area: intro;
      justify-self: center;
      align-self: center;
    }

    .indexExplanation {
      grid-area: exp;
    }

    // .mapWrapper {
    //   width: 100%;
    //   height: 100%;
    //   grid-area: map;
    //   .mapContainer {
    //     position: relative;
    //     width: 100%;
    //     height: 95%;
    //   }
    // }

    .species {
      grid-area: sp;
      background-color: tomato;
      opacity: .25;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .indexWrapper,
    .indexExplanation {
      background-color: $grey-text;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .indexBaseNumbersWrapper {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .numberText {
      margin: 0;
    }

    .indexBaseDataElement {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .speciesSentence {
      grid-area: rg;
      text-align: right;
    }

    .speciesComposition {
      grid-area: cmp;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .protectionLegend {
      grid-area: prot;
    }

    .priorityLegend {
      grid-area: prior;
    }

    .priorityLegend,
    .protectionLegend {
      padding-left: 13pt;
      border-left: 1px solid $_temporary-dark-text;
    }

    .legendTitle {
      margin: 0;
    }

    .datasetWrapper {
      display: flex;
    }
    
    .wdpaIcon,
    .priorityIcon {
      min-width: 10pt;
      margin-right: 10pt;
    }
    
    .wdpaIcon {
      width: 12pt;
      height: 12pt;
      position: relative;
      border-radius: 2px;
      background-color: #008604;
    }
    
    .priorityIcon {
      height: 100pt;
      width: 12pt;
      border-radius: 2px;
      background: linear-gradient(0deg, #47039F 0%, #9C179E 12.51%, #BD3786 30.56%, #D8576B 46.02%, #ED7953 59.45%, #FA9E3B 74.07%, #FDC926 86.18%, #F0F921 100%);
    }

    .legendTag {
      margin: 5pt 0;
    }
    
    .priorityLegend {
      .datasetWrapper {
        padding: 5pt 0;
        align-items: center;
      }
    }

  }
}