@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

.radioOption {
  color: $white;
  font-size: $font-size-sm;
  font-family: 'PierSans-Light';
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  cursor: pointer;
  height: 30px;

  &:hover {
    @extend .radioOptionSelected;
  }
}

.radioOptionSelected {
  background-color: rgba(255,255,255,0.05);
}

.reverseSwitchIcon {
  transform: rotate(180deg);
}

.toggle {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 20px;
}

.variant {
  @extend %subtitle;
  color: $white;
  text-transform: uppercase;
  padding: 0 5px 0 0;
  cursor: pointer;
}

.button {
  display: flex;
  height: 12px;
}

.icon {
  @extend %icon;
}