@import 'styles/settings';

$circle-size: 15px;

.radioOption {
  color: $white;
  font-size: $font-size-sm;
  margin-bottom: 5px;
}

input[type="radio"] {
  opacity: 0;
  position: absolute; 
  // prevent the default radio button from taking up the space
  // display: none would screw up the keyboard navigation, so let's go for opacity
}

.radioInput {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:before {
    content: "";
    margin-right: 10px;
    height: $circle-size;
    width: $circle-size;
    border: 1px solid $white; 
    border-radius: 50%;
  }
}

.radioOption input[type="radio"]:checked + .radioInput::before {
  background: linear-gradient(270deg, $vida-loca 0%, $cobalt 100%);
}
