@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
}

.layersTogglesContainer{
  @extend .sharedLayersTogglesContainer;
}

.layersTitle {
  @extend %subtitle;
  color: $white;
}

.description {
  @extend %bodyText;
  color: $white; 
}

.legendContainer,
.sourceContainer,
.togglesContainer,
.dropdownContainer {
  padding-top: $sidebar-vertical-flow;
}