@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;
@use 'styles/common-animations.module' as *;

$top: settings.$ui-left-top;

.container {
  @include backdropBlur();
  position: absolute;
  top: $top;
  left: settings.$site-gutter;
  padding-bottom: settings.$site-gutter;
  display: flex;
  flex-direction: column;
  border: settings.$sidebar-border;
  border-radius: settings.$sidebar-border-radius;
  width: 420px;
  padding: settings.$site-gutter;
}

.legendTitle,
.legend,
.title,
.body {
  color: settings.$white;
  margin: 0 0 calc(settings.$site-gutter / 2) 0;
}

.title {
  @extend %display1;
}

.body {
  @extend %bodyText;
}

.legendTitle {
  @extend %title;
}

.bold {
  font-weight: settings.$font-weight-bold;
}

.togglesContainer {
  padding-bottom: 20px;
  // this way we expand the toggles to the edge of the sidebar
  position: relative;
  left: calc(-1 * #{settings.$sidebar-paddings});
  width: calc(100% + (2 * #{settings.$sidebar-paddings}));

}