@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.tabs {
  padding: 10px 20px;

  ul[role="tablist"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    border-radius: 5px;
    border: 2px solid $robins-egg-blue;
  }

  .hasBorder {
    border-left: solid 2px $oslo-gray;

    &.first {
      border-left: 0;
      border-right: solid 2px $oslo-gray;
    }
  }

  *[role="tab"] {
    font-family: $font-family-1;
    font-size: $font-size-xxs;
    display: inline-block;
    padding: 15px 0;
    height: 46px;
    color: $white;
    text-transform: uppercase;
    cursor: pointer;

    &[aria-selected="true"] {
      background-color: $robins-egg-blue;
      color: $black;
    }
  }

  .title {
    padding: 3px 20px;
    height: 20px;
  }

  *[role="tabpanel"] {
    &[aria-hidden="true"] {
      display: none;
    }
  }
}