@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.tabs {
  display: flex;
  justify-content: center;

  ul[role="tablist"] {
    display: flex;
    width: 100%;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: settings.$card-border-radius;
    border: 1px solid settings.$brand-color-main;
  }

  .hasBorder {
    border-left: 1px solid settings.$grey-text;

    &.first {
      border-left: 0;
      border-right: 1px solid settings.$grey-text;
    }
  }

  li[role="presentation"] {
    flex: 1;
  }

  .tab {
    @extend %subtitle;
    display: inline-block;
    padding: 12px 0;
    height: 50px;
    width: 100%;
    color: settings.$white;
    text-align: center;
    cursor: pointer;

    &[aria-selected="true"] {
      background-color: settings.$brand-color-main;
      color: settings.$black;
    }
  }

  .disabled {
    pointer-events: none;
  }

  .title {
    padding: 4px 0;
  }
}