@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

.radioOption {
  @extend %subtitle;
  color: inherit;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.reverseSwitchIcon {
  transform: rotate(180deg);
}

.container {
  &:hover,
  &.checked {
    background-color: $white-opacity;
  }
}

.selectContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  height: 44px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

.resolutionDropown {
  height: 38px;
  width: 100px;
  margin-left: 6px;
  padding-top: 8px;
}

.resolutionOptions {
  padding: 4px 45px 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.resolutionIntro {
  color: $grey-text;
}

.checkboxes {
  display: flex;
  gap: 8px;
}