@import 'styles/settings';
@import 'styles/typography-extends';

.countriesLegend {
  padding: 5px 25px;
  display: flex;
  flex-flow: column wrap;
  height: 110px;
  color: white;
}
.continent,
.modalAdditionalContent {
  display: flex;
}

.continent {
  margin-bottom: 10px;
  width: 134px;
  margin-right: 45px;
}

.legendContinent {
  @extend %subtitle;
}

.legendDot {
  display: flex;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 12px;

  &.africa {
    background-color: $africa;
  }

  &.antarctica {
    background-color: $antarctica;
  }

  &.asia {
    background-color: $asia;
  }

  &.europe {
    background-color: $europe;
  }

  &.north-america {
    background-color: $north-america;
  }

  &.oceania {
    background-color: $oceania;
  }

  &.south-america {
    background-color: $south-america;
  }
}

