@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 30px;

  @media #{settings.$tablet-landscape} {
    margin-top: 70px;
  }

  .subtitle {
    @extend %title;
    color: settings.$robins-egg-blue;
    text-align: center;
  }

  .title {
    @extend %display1;
    color: settings.$white;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 6px;
    text-align: center;
    font-size: 35px;
    padding: 0 10px;

    @media #{settings.$tablet-landscape} {
      font-size: 45px;
    }
  }

  .ctoText {
    @extend %title;
    color: settings.$white;
    text-align: center;
    margin: 20px 10px;

    @media #{settings.$tablet-landscape} {
      margin: 61px 0 40px 0;
    }
  }

  .audioCards {
    align-self: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;

    .audioCard {
      display: flex;
    }
  }
}