@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';


$top: 25px;
$sidebar-species-width: 600px;

.container {
  @extend %verticalScrollbar;
  @include backdropBlur();
  position: absolute;
  top: $top;
  left: $site-gutter;
  display: flex;
  flex-direction: column;
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  height: calc(100vh - #{$top});
  width: $sidebar-species-width;
  z-index: $bring-to-front;

  --nav-button-bg: #{$white};
  --svg-fill: #{$white};
  --svg-selected-fill: #{$black};
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};

  &.light{
    --nav-button-bg: #{$black};
    --svg-fill: #{$black};
    --svg-selected-fill: #{$white};
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
    @include lightBackdropBlur();
    border: none;
  }

  .darkMode{
    position: absolute;
    top: 3px;
    right: 3px;

    svg{
      width: 20px;
      height: 20px;
      fill: var(--svg-fill);
    }
  }

  h1{
    color: var(--font-color);
    margin-left: 15px;
  }

  .sidenav{
    display: flex;
    height: 100%;

    .icons{
      display: flex;
      flex-direction: column;
      height: 100%;
      border-right: 1px solid;

      button{
        width: 50px;
        height: 50px;

        svg{
          width: 30px;
          height: 30px;
          fill: var(--svg-fill);
        }

        &.selected,
        &:hover{
          background: var(--nav-button-bg);

          svg{
            fill: var(--svg-selected-fill);
          }
        }
      }
    }
  }

  .btnGroup{
    display: flex;
    gap: 3px;
    padding: 0 2px;
    border-bottom: 1px solid var(--border-color);

    .saveButton{
      border: none;
    }
  }

  .saveButton {
    color: var(--save-button-text);
    background-color: var(--border-color);
    &:hover {
      background-color: var(--border-color-hover);
      color: var(--save-button-text);
    }
  }

  .notActive{
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid var(--border-color);
  }

  .regionFilter{
    display: flex;
    gap: 20px;
    margin: 15px;
  }
}
