@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';


$top: calc(#{$sidebar-top-margin} + #{$he-project-logo-size});
$sidebar-species-width: 500px;

.container {
  @extend %verticalScrollbar;
  @include backdropBlur();
  position: absolute;
  top: $top;
  left: $site-gutter;
  display: flex;
  flex-direction: column;
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  height: calc(100vh - #{$top});
  width: $sidebar-species-width;
  z-index: $bring-to-front;

  --nav-button-bg: #{$white};
  --svg-fill: #{$white};
  --svg-selected-fill: #{$black};

  &.light{
    --nav-button-bg: #{$black};
    --svg-fill: #{$black};
    --svg-selected-fill: #{$white};
    @include lightBackdropBlur();
    border: none;
  }

  .sidenav{
    display: flex;
    height: 100%;

    .icons{
      display: flex;
      flex-direction: column;
      height: 100%;
      border-right: 1px solid;

      button{
        width: 50px;
        height: 50px;

        svg{
          width: 30px;
          height: 30px;
          fill: var(--svg-fill);
        }

        &.selected,
        &:hover{
          background: var(--nav-button-bg);

          svg{
            fill: var(--svg-selected-fill);
          }
        }
      }
    }
  }

}
