@import 'styles/settings';
@import 'styles/typography-extends';

.continent,
.modalAdditionalContent,
.sizesLegendBubbles {
  display: flex;
}

.continent {
  margin-bottom: 10px;
  width: 134px;
  margin-right: 60px;
}

.legendContinent {
  @extend %subtitle;
}

.legendDot {
  display: flex;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 12px;

  &.africa {
    background-color: $africa;
  }

  &.antarctica {
    background-color: $antarctica;
  }

  &.asia {
    background-color: $asia;
  }

  &.europe {
    background-color: $europe;
  }

  &.north-america {
    background-color: $north-america;
  }

  &.oceania {
    background-color: $oceania;
  }

  &.south-america {
    background-color: $south-america;
  }
}

.sizesLegend {
  height: 162px;
  width: 210px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @extend %bodyText
}

.bubbles {
  display: flex;
}

.bubbleContainer {
  height: 130px;
  width: 80px;
  margin-right: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %subtitle;
}

.bubbleCenter {
  display: flex;
  margin: auto 0;
}

.bubble {
  background-color: $white;
  border-radius: 50%;

  &.bigBubble {
    width: 55px;
    height: 55px;
  }

  &.smallBubble {
    width: 25px;
    height: 25px;
  }
}