@import 'styles/settings';
@import 'styles/typography-extends';

$icon-size: 20px;
$chart-margin: 14px;

.scatterPlotContainer {
  border-left: 3px solid $elephant;
  border-bottom: 3px solid $elephant;
  width: $country-scene-chart-width;
  height: 60vh;
  position: relative;
}

.bubbleTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}
.pulseBubble {
  display: none;
}
.animatedBubble {
  display: block;
  animation: pulse 3s infinite;
}

.bubbleText {
  @extend %title;
  color: $dark-text;
}
.bubbleValue {
  @extend %title;
  color: $white;
}

.chartContainer {
  display: flex;
  margin-top: $chart-margin;
}

.xAxisTicksContainer {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -25px;
}

.yAxisTicksContainer {
  color: white;
  position: absolute;
  bottom: -12px;
  left: -10px;
  transform-origin: left;
  transform: rotate(-90deg);
  width: 60vh;
  display: flex;
  justify-content: space-between;
}

.tick,
.tickValue {
  color: $alto;
}

.tickValue {
  width: auto;
}
.xAxis {
  transform: translateX(-50%);
}
.yAxis {
  transform-origin: left;
  transform: rotate(-90deg);
  left: -10px;
}

.tooltip {
  background-color: $elephant;
  border-radius: 2px;
  border: 2px solid $firefly;
  width: 190px;
  overflow: hidden;
  .countryLabel{
    padding: 5px;
    .name {
      @extend %_temporaryTitle;
      letter-spacing: 0;
      color: $_temporary-dark-text;
    }
    .continent {
      @extend %_temporaryTitle;
      color: $_temporary-dark-text;
      letter-spacing: 0;
      text-transform: initial;
    }
  }
}


@keyframes pulse {
  0% {
    r: 1%;
    opacity: 0;
    animation-timing-function:cubic-bezier(1,.01,.91,.46);
  }
  50% {
    r: 1%;
    opacity: 0.1;
    animation-timing-function: linear;
  }
  70% {
    r: 5%;
    opacity: 0.3;
    animation-timing-function: linear;
  }
  100% {
    r: 7%;
    opacity: 0;
    animation-timing-function: linear;
  }
}