@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-65%, -50%);
  max-height: 80%;
  width: 700px;
  max-width: 700px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: $white;
  display: flex;
  flex-direction: column;

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h2{
      margin: 0;
    }

    .closeButton{
      color: $white;
      font-size: $font-size-rg;
    }
  }


  table{
    padding: 0 10px;
    border: 1px solid $white;

    tbody{
      div{
        border-bottom: 1px solid $white;

        &:last-child{
          border-bottom: none;
        }
      }

      tr{
        vertical-align: top;
        td{
          padding:10px 0;

          &:first-child{
            font-weight: bold;
            width: 150px;
            padding-right: 10px;
          }
        }
      }
    }
  }
}
