@use 'styles/settings' as settings;

.light {
  color: settings.$white;

  &.checked {
    fill: settings.$white;
    stroke: settings.$white;
  }

  &:hover,
  &.checked {
    background-color: settings.$white-opacity;
  }

  label::after {
    border: 1px solid settings.$white;
  }

  input:checked+label::after {
    border: 2px solid settings.$white;
  }
}

.dark {
  color: settings.$dark-text;

  &.checked {
    fill: settings.$dark-text;
    stroke: settings.$dark-text;
  }

  &:hover,
  &.checked {
    background-color: settings.$dark-opacity;
  }

  label::after {
    border: 1px solid settings.$dark-text;
  }

  input:checked+label::after {
    border: 2px solid settings.$dark-text;
  }
}

.lighter {
  color: settings.$dark-text;

  &.checked {
    fill: settings.$dark-text;
    stroke: settings.$dark-text;
  }

  label::after {
    border: 1px solid settings.$dark-text;
  }

  input:checked+label::after {
    border: 2px solid settings.$dark-text;
  }
}

.disabled {
  &:hover {
    background-color: settings.$white-opacity;
  }
}