@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.languageSwitcher {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $bring-to-front;

  padding: 22px 8px 8px 40px;

  @media #{$tablet-portrait} {
    padding: 22px 8px 8px 190px;
  }

  &.alignCenter {
    left: 50%;
    transform: translateX(-50%);
    padding: 22px 8px 8px 8px;
  }
}

.languageButton {
  position: relative;
  color: $grey-text;
  font-size: $font-size-xs;
  text-transform: uppercase;
  transition: color 200ms ease-in;
  width: 30px;

  &:hover {
    color: $white;
    font-weight: $font-weight-bold;
  }
}

.languageButtonSelected {
  color: $white;
  font-weight: $font-weight-bold;
}

.languageButtonSeparator:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 100%;
  width: 1px;
  height: calc(100% - 2px);
  background-color: $grey-text;
}