@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

.languageSwitcher {
  position: absolute;
  top: 0;
  left: 0;
  z-index: settings.$bring-to-front;

  padding: 22px 8px 8px 40px;

  @media #{settings.$tablet-portrait} {
    padding: 22px 8px 8px 190px;
  }

  &.alignCenter {
    left: 50%;
    transform: translateX(-50%);
    padding: 22px 8px 8px 8px;
  }
}

.languageButton {
  position: relative;
  color: settings.$grey-text;
  font-size: settings.$font-size-xs;
  text-transform: uppercase;
  transition: color 200ms ease-in;
  width: 30px;

  &:hover {
    color: settings.$white;
    font-weight: settings.$font-weight-bold;
  }
}

.languageButtonSelected {
  color: settings.$white;
  font-weight: settings.$font-weight-bold;
}

.languageButtonSeparator:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 100%;
  width: 1px;
  height: calc(100% - 2px);
  background-color: settings.$grey-text;
}