@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

:export {
  colors: {
    alto: $alto;
    black: $black;
    white: $white;
  }

  fontFamily: {
    font-family-1: $font-family-1;
  }

  fontSizes: {
    font-size-sm: $font-size-sm;
  }

  fontWeights: {
    font-weight-bold: $font-weight-bold;
  }
};

.arrowIcon {
  position: absolute;
  margin-left: 10px;
  right: 16px;
  transform: rotate(90deg);
  transition: all .1s linear;

  path {
    fill: $white;
    stroke: $white;
  }
}

.arrowIconDropdownOpen {
  position: relative;
  top: -2px;
  transform: rotate(-90deg);
}

.singleValue {
  color: $white;
  margin: 0;
  overflow: 'visible';
  padding: 0;
}