@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

:export {
  colors: {
    alto: settings.$alto;
    black: settings.$black;
    white: settings.$white;
  }

  fontFamily: {
    font-family-1: settings.$font-family-1;
  }

  fontSizes: {
    font-size-sm: settings.$font-size-sm;
  }

  fontWeights: {
    font-weight-bold: settings.$font-weight-bold;
  }
}

;

.arrowIcon {
  position: absolute;
  margin-left: 10px;
  right: 16px;
  transform: rotate(90deg);
  transition: all .1s linear;

  path {
    fill: settings.$white;
    stroke: settings.$white;
  }
}

.arrowIconDropdownOpen {
  position: relative;
  top: -2px;
  transform: rotate(-90deg);
}

.singleValue {
  color: settings.$white !important;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  width: 0;
}

.groupHeading {
  color: settings.$black;
  font-family: settings.$font-family-1;
  font-weight: settings.$font-weight-bold;
  font-size: settings.$font-size-sm;
  padding-left: 10px;
  text-transform: capitalize;
}