@import 'styles/settings';
@import 'styles/typography-extends';

$content-padding: 16px;
$content-height: calc(100vh - 105px);
$content-height-mobile: 100svh;

.nrcContent {
  width: 100%;
  height: $content-height;
  overflow: hidden;

  .loader {
    margin-top: 25%;
    width: 100%,
  }

  .scrolleableArea {
    padding-left: 20px;
    overflow-y: scroll;
  }

  .scrolleableArea::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .motionView {
    display: flex;
    flex-direction: column;
    height: $content-height;
  }

  .closeButton {
    top: $local-sidebar-top-margin;
    right: -16px;
    position: absolute;
  }

  .header {
    padding-top: $local-sidebar-top-margin;
    padding-left: $content-padding;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $white-opacity;

    .titleWrapper {
      display: flex;

      .title {
        @extend %display2;
        margin: 0;
        padding-left: 10px;
        color: $white;
      }

      .backBtn {
        padding: 0;
        margin-left: -10px;

        .arrowIcon {
          fill: $white;
          height: 36px;
          width: 34px;
          &:hover {
            fill: $grey-text;
          }
        }
      }
    }
  }

  .countryDescriptionContainer {
    column-count: 2;

    padding: $local-sidebar-top-margin $content-padding $local-sidebar-top-margin 0;

    .countryDescription {
      @extend %bodyText;
      color: $grey-text;
      margin: 0;
    }
  }

  .actionButtons {
    display: flex;
    margin-right: 30px;
    min-width: 96px;
  }

  .actionButton {
    margin-right: 8px;
    color: $white;

    svg {
      fill: currentColor;
    }
  }

  .sourceText {
    @extend %annotation;
    color: $grey-text;
    display: flex;
    margin: 0 40px 0 20px;
    border-bottom: 1px solid $grey-text;
    padding: 12px 0;
    a {
      color: $grey-text;
      text-decoration: underline;
      &:hover {
        color: $white;
      }
    }
  }

  .countryName {
    @extend %display2;
    margin: 0;
    padding-left: $site-gutter;
    color: $white;
  }

  .flagWrapper {
    display: flex;
    align-items: center;
  }

  .flag {
    width: 30px;
    position: relative;
  }


  &.nrcContentShrunken {
    .countryDescriptionContainer {
      column-count: 1;
    }
  }

  .titleTooltip {
    @extend %annotation;
    border-radius: $border-radius-desktop;
    background: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    color: $dark-text;
    margin-bottom: 5px;
    padding: 2px 6px;
    width: 200px;
  }

  .nrcContentVertebrates:before {
    content: '';
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 50px;
    z-index: 9;
    background-image: linear-gradient(to top, $app-background 0%, rgba(9, 12, 20, 0) 100%);
  }

  &.mobile {
    height: 100%; // Fallback for browsers that do not support the `svh` property
    height: $content-height-mobile;

    .motionView {
      height: 100%; // Fallback for browsers that do not support the `svh` property
      height: $content-height-mobile;
    }

    .closeButton {
      right: 10px;
      color: $white;
      background-color: transparent;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    .countryDescriptionContainer {
      column-count: 1;
    }
  }
}