@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 26px;
  flex-grow: 1;

  .info{
    display: flex;
    gap: 15px;

    .specs{
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      span{
        color: #FFF;
        font-family: "Open Sans";
        font-size: 13px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;

        b{
          color: #FFF;
          font-family: "Open Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }

    .arcChart{
      display: flex;
      height: 100px;
      align-items: center;
      justify-content: space-evenly;
      flex-grow: 1;
      border-radius: 5px;
      border: 1.5px solid $brand-color-main;

      .spi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .score{
          color: #FFF;
          text-align: center;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: -25px;
        }
      }

      .stats{
        display: flex;
        flex-direction: column;
        align-items: center;

        b {
          color: #FFF;
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        span{
          color: #FFF;
          font-family: "Open Sans";
          font-size: 12px;
          font-style: italic;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
  }
  .chart{
    width: 100%;
    margin-top: 25px;
  }
}
