@import 'styles/settings';
@import 'styles/typography-extends';


@keyframes loading {
  0% { width: 0%; }
  10% { width: 7%; }
  30% { width: 40%; }
  72% { width: 65%; }
  100% { width: 96%; }
}

.loaderCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
  margin-top: $site-gutter;
  padding: $sidebar-cards-padding;
  background-color: $white-opacity;
  border-radius: $card-border-radius;

  .loaderBarContainer {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: $white-opacity;
    border-radius: $sidebar-border-radius;

    .loaderBarPercentage {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $brand-color-main;
      border-radius: $sidebar-border-radius;
      animation-duration: 35s;
      animation-name: loading;
    }
  }

  .loaderTextContainer {
    @extend %bodyText;
    color: $white;
    margin-top: $site-gutter;

    p {
      margin: 0;
    }
  }

}


.cardWrapper {
  margin-top: $site-gutter;
}

.togglesContainer {
  fill: $dark-text;
  width: calc(100% + (2*#{$sidebar-cards-padding}));
  left: -$sidebar-cards-padding;
  position: relative;
}

.title {
  @extend %display2;
  text-align: center;
  margin: 0;
  padding-bottom: $site-gutter;
}

.description {
  @extend %bodyText;
}

.infoClue {
  cursor: help;
  margin: 0;
  display: block;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: $dark-opacity;
}

.globalRangeArea {
  @extend %bodyText;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $site-gutter;
  p {
    font-weight: 500;
    margin: 0 0 10px;
  }
}

.speciesBarContainer {
  padding-bottom: $site-gutter;
}


.speciesCarousel {
  position: relative;
  display: flex;
  align-items: center;
  height: 150px;

  .previousSpeciesImageWrapper {
    position: absolute;
    top: 0px;
    left: -20px;
    height: 130px;
  }

  .nextSpeciesImageWrapper {
    position: absolute;
    top: 0px;
    right: -20px;
    height: 130px;
  }

  .selectedSpeciesImageWrapper {
    position: absolute;
    height: 151px;
    z-index: 1;
  }

  .speciesImageWrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: $site-gutter;
    border-radius: 6px;
    background-repeat: no-repeat;
    // background-size: cover;?
    background-position: center;

    .placeholderText {
      @extend %title;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.sliderControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: $site-gutter;

  .speciesNames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 70%;
    .commonName {
      @extend %title;
      color: $dark-text;
      &:hover {
        color: $dark-text-hover;
      }
    }
    .scientificName {
      @extend %annotation;
      font-style: italic;
    }
  }
  .icon {
    fill: $dark-text;
    cursor: pointer;
    &.rotateLeft {
      transform: rotate(180deg);
    }
  }
}

.iucnStatus {
  @extend %bodyText;
  text-align: center;
}

.warningContainer {
  display: flex;
  align-items: flex-start;
}

.icon {
  min-width: 40px;
  height: 25px;
  stroke:none;
  fill: $warning;
  margin-right: 10px;
}
