@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

@keyframes loading {
  0% {
    width: 0%;
  }

  10% {
    width: 7%;
  }

  30% {
    width: 40%;
  }

  72% {
    width: 65%;
  }

  100% {
    width: 96%;
  }
}

.loaderCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
  margin-top: settings.$site-gutter;
  padding: settings.$sidebar-cards-padding;
  background-color: settings.$white-opacity;
  border-radius: settings.$card-border-radius;

  .loaderBarContainer {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: settings.$white-opacity;
    border-radius: settings.$sidebar-border-radius;

    .loaderBarPercentage {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: settings.$brand-color-main;
      border-radius: settings.$sidebar-border-radius;
      animation-duration: 35s;
      animation-name: loading;
    }
  }

  .loaderTextContainer {
    @extend %bodyText;
    color: settings.$white;
    margin-top: settings.$site-gutter;

    p {
      margin: 0;
    }
  }

}


.cardWrapper {
  margin-top: settings.$site-gutter;

  &.insideModal {
    section {
      background-color: transparent;
    }

    .dropdown {
      background-color: transparent;
      color: settings.$white;
    }

    .speciesNames,
    .commonName,
    .speciesDataContainer {
      color: settings.$white;
    }

    .sectionContainer,
    .speciesBarContainer {
      &:not(:last-child) {
        border-bottom-color: settings.$white-opacity;
      }
    }


    .speciesBarContainer {
      color: settings.$grey-text;
    }

    .speciesDataContainer {
      .sectionTitleWrapper {
        color: settings.$grey-text;
      }
    }

    .commonName {
      color: settings.$white !important;
    }

    .sliderControls svg {
      fill: settings.$white;
    }
  }
}

.togglesContainer {
  fill: settings.$dark-text;
  width: calc(100% + (2*#{settings.$sidebar-cards-padding}));
  left: calc(-1 * #{settings.$sidebar-cards-padding});
  position: relative;
}

.title {
  @extend %display2;
  text-align: center;
  margin: 0;
  padding-bottom: settings.$site-gutter;
}

.description {
  @extend %bodyText;
}

.infoClue {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: settings.$dark-opacity;
}

.globalRangeArea {
  @extend %annotation;
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.speciesBarContainer {
  padding: 8px 0;
}


.speciesCarousel {
  position: relative;
  display: flex;
  align-items: center;
  height: 230px;

  .previousSpeciesImageWrapper {
    position: absolute;
    top: 0px;
    left: -45px;
    height: 170px;
    margin-top: settings.$site-gutter * 2;
    cursor: pointer;
  }

  .nextSpeciesImageWrapper {
    position: absolute;
    top: 0px;
    right: -45px;
    height: 170px;
    margin-top: settings.$site-gutter * 2;
    cursor: pointer;
  }

  .selectedSpeciesImageWrapper {
    position: absolute;
    margin-top: settings.$site-gutter;
    height: 210px;
    z-index: 1;
    background-size: auto 90%;
  }

  .speciesImageWrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background-color: white;

    .placeholderText {
      @extend %title;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.sliderControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 8px;

  .speciesNames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;

    .commonName {
      @extend %annotation;
      color: settings.$dark-text;
      text-align: center;
      font-style: italic;
      text-transform: inherit;
      text-decoration: underline;
      text-underline-offset: 2px;
      margin-top: 4px;

      &:hover {
        color: settings.$dark-text-hover;
        text-decoration: none;
      }
    }

    .scientificName {
      @extend %title;
      text-transform: uppercase;


    }
  }

  .arrow_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      background-color: settings.$grey-text-hover;
    }

    .arrow_icon {
      fill: settings.$dark-text;
      cursor: pointer;
      height: 10px;
    }
  }
}

.warningContainer {
  display: flex;
  align-items: flex-start;
  @extend %annotation;
}

.icon {
  min-width: 40px;
  height: 25px;
  stroke: none;
  fill: settings.$warning;
  margin-right: 10px;
}

.speciesDataContainer {
  margin: 16px 0 24px 0;


  .sectionContainer {
    @extend %annotation;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;

    &:not(:last-child) {
      border-bottom: 1px dashed settings.$grey-text-hover;
    }

    .sectionTitleWrapper {
      align-items: center;
      display: flex;
      position: relative;
      color: settings.$dark-text;


      p {
        margin: 0;
      }
    }
  }

  .speciesBarContainer {
    border-bottom: 1px dashed settings.$grey-text-hover;
    color: settings.$dark-text;
  }

  .iconWrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 5px;

    .icon {
      color: settings.$white-opacity;
      stroke: settings.$white-opacity;
      stroke-width: 0.6px;
      height: 16px;
      min-width: 16px;
      margin-bottom: 2px;
    }
  }
}

.tooltip {
  @extend %annotation;
  background-color: settings.$white;
  border-radius: settings.$border-radius-desktop;
  box-shadow: settings.$box-shadow-light-bottom-large;
  color: settings.$dark-text;
  padding: 2px 6px;
  margin-bottom: 5px;
}