@import 'styles/settings';
@import 'styles/typography-extends';


@keyframes loading {
  0% { width: 0%; }
  10% { width: 7%; }
  30% { width: 40%; }
  72% { width: 65%; }
  100% { width: 96%; }
}

.loaderCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
  margin-top: $site-gutter;
  padding: $sidebar-cards-padding;
  background-color: $white-opacity;
  border-radius: $card-border-radius;

  .loaderBarContainer {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: $white-opacity;
    border-radius: $sidebar-border-radius;

    .loaderBarPercentage {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: $brand-color-main;
      border-radius: $sidebar-border-radius;
      animation-duration: 35s;
      animation-name: loading;
    }
  }

  .loaderTextContainer {
    @extend %bodyText;
    color: $white;
    margin-top: $site-gutter;

    p {
      margin: 0;
    }
  }

}


.cardWrapper {
  margin-top: $site-gutter;
}

.togglesContainer {
  fill: $dark-text;
  width: calc(100% + (2*#{$sidebar-cards-padding}));
  left: -$sidebar-cards-padding;
  position: relative;
}

.title {
  @extend %display2;
  text-align: center;
  margin: 0;
  padding-bottom: $site-gutter;
}

.description {
  @extend %bodyText;
}

.infoClue {
  display: inline;
  cursor: help;
  margin: 0;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: $dark-opacity;
}

.globalRangeArea {
  @extend %bodyText;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $site-gutter;
  p {
    font-weight: 500;
    margin: 0 0 10px;
  }
}

.speciesBarContainer {
  padding-bottom: $site-gutter;
}


.speciesCarousel {
  position: relative;
  display: flex;
  align-items: center;
  height: 230px;

  .previousSpeciesImageWrapper {
    position: absolute;
    top: 0px;
    left: -45px;
    height: 170px;
    margin-top: $site-gutter * 2;
    cursor: pointer;
  }

  .nextSpeciesImageWrapper {
    position: absolute;
    top: 0px;
    right: -45px;
    height: 170px;
    margin-top: $site-gutter * 2;
    cursor: pointer;
  }

  .selectedSpeciesImageWrapper {
    position: absolute;
    margin-top: $site-gutter;
    height: 210px;
    z-index: 1;
    background-size:auto 90%;
  }

  .speciesImageWrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    background-color: white;

    .placeholderText {
      @extend %title;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.sliderControls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: $site-gutter;

  .speciesNames {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 70%;

    .commonName {
      @extend %title;
      color: $dark-text;
      text-align: center;

      &:hover {
        color: $dark-text-hover;
      }
    }

    .scientificName {
      @extend %annotation;
      font-style: italic;
    }
  }

  .arrow_icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;

    &:hover {
      cursor: pointer;
      background-color: $grey-text-hover;
    }

    .arrow_icon {
      fill: $dark-text;
      cursor: pointer;
      height: 10px;
    }
  }
}

.iucnStatus {
  @extend %bodyText;
  text-align: center;
}

.warningContainer {
  display: flex;
  align-items: flex-start;
  @extend %annotation;
}

.icon {
  min-width: 40px;
  height: 25px;
  stroke:none;
  fill: $warning;
  margin-right: 10px;
}

.SPScontainer {
  @extend %annotation;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .SPStitle {
    align-items: center;
    display: flex;
    position: relative;
  }

  .iconWrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 9px;
    border: 1.2px solid $black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    .icon {
      stroke: $black;
      height: 14px;
      min-width: 14px;
    }
  }
}

.tooltip {
  @extend %annotation;
  background-color: $white;
  border-radius: $border-radius-desktop;
  box-shadow: $box-shadow-light-bottom-large;
  color: $dark-text;
  padding: 2px 6px;
  width: 65px;
  margin-bottom: 5px;
}

