@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

.aboutBtn {
  @extend %annotation;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  z-index: settings.$bring-to-front;
  padding: 20px 20px 8px 40px;
}