@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container {
  display: flex;
  opacity: 1;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  color: $white;
  border-radius: 2px;
  margin-bottom: $cards-bottom-margin;
}

.indexOverview,
.indexWidget {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 $sidebar-paddings;
}

.indexStatement {
  @extend %subtitle;
  padding-bottom: $sidebar-paddings;
}

.index {
  @extend %display2;
}

.indexExplanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: $site-gutter;
}

.indexExplanationText {
  @extend %display2;
  margin: 0 0 15px 0;
  color: $_temporary-dark-text;
  text-align: center;
}

.hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $sidebar-paddings;
  background-color: $accent-grey;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.hintTitle {
  @extend %title;
  color: $_temporary-dark-text;
}

.hintText {
  @extend %bodyText;
  color: $_temporary-dark-text;
}

.descriptionWrapper {
  padding: $sidebar-paddings $sidebar-paddings 0px;

  p {
    @extend %bodyText;
    margin: 0 0 10px;
  }
}

.donutContainer {
  display: flex;
  align-items: center;
}

.legendText {
  @extend %bodyText;
  color: $_temporary-dark-text;
  margin: 0;

  .legendTextUnderline {
    text-decoration: underline;
    text-decoration-color: $grey-text;
    text-underline-offset: 2px;
    text-decoration-style: dotted;
  }
}

.legendTextTooltip {
  @extend %bodyText;
  background-color: $white;
  box-shadow: 0 2px 10px 0 rgba(23, 27, 48, 0.15);
  font-size: 12px;
  padding: 16px;
  width: 280px;

  h4,
  p {
    margin: 0
  }
}

.switchAreaChart {
  @extend %subtitle;
  align-items: center;
  color: $_temporary-dark-text;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 5px 2px;
  width: 100%;

  .switchAreaChartText {
    text-transform: uppercase;
  }

  .switchAreaChartButton {
    @extend %subtitle;
    border: 1px solid #E9E9E9;
    color: $_temporary-dark-text;
    height: 30px;
    text-transform: capitalize;
    opacity: 0.4;
    width: 80px;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .switchAreaChartActiveButton {
    @extend %subtitle;
    background-color: #E9E9E9;
    opacity: 1;
  }
}

.areaChartContainer {
  position: relative;
  width: 100%;

  .areaChartYAxisLegend {
    @extend %annotation;
    color: $grey-text;
    font-size: 9px;
    font-weight: 600;
    left: -51px;
    position: absolute;
    top: 54px;
    transform: rotate(270deg);
  }
}

.areaLegend {
  display: flex;
  flex-direction: row;
  margin: 4px 0 14px 0;
  width: 100%;

  .areaLegendGroup {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0 20px 0 0;
  }

  .area1BoxLegend {
    background-image: $spi-chart-gradient;
    border: 0.1px solid $black;
    box-sizing: border-box;
    height: 10px;
    margin-right: 8px;
    width: 10px;
  }

  .area2BoxLegend {
    background-color: $protected-areas;
    height: 10px;
    margin-right: 8px;
    width: 10px;
  }
}

.areaChartLegendText {
  @extend %subtitle;
  color: $_temporary-dark-text;
  text-transform: capitalize;
  text-align: start;
  margin: 0 auto 0 0;
  padding: 0;
}

// styles used only when REACT_APP_FEATURE_MARINE is false
.indexBaseNumbersWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.indexBaseDataElement {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $sidebar-paddings;
}

.protectionNumber {
  width: 51%;
}

.baseNumber {
  @extend %display2;
  color: $_temporary-dark-text;
  margin: 0 0 5px 0;
}

.numberText {
  @extend %subtitle;
  color: $_temporary-dark-text;
  text-transform: uppercase;
  margin: 0;
}

.overviewText {
  @extend %subtitle;
  text-decoration: underline;
  color: $white;
  text-align: left;
  padding: 0 0 $sidebar-paddings;
}

.overviewTextWrapper {
  display: flex;
  align-items: center;
}

.indexWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $sidebar-paddings;
}

.indexBar {
  position: relative;
  height: 22px;
  width: 70%;
  background-color: $white;
  border-radius: 3px;
  display: flex;
  align-items: center;

  .progressMark {
    position: relative;
    border: 1px solid $white;
    height: 30px;
    transition: all .3s ease;
  }

  .meanMark {
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid $white;
    bottom: -6px;
  }

  .improvementArea {
    position: relative;
    height: 22px;
    background-color: rgba($_temporary-dark-text, 0.9);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all .3s ease;
  }
}
