@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;

  --border-color: #{$brand-color-main};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};

  .loginForm{
    display: flex;
    flex-direction: column;
    background: $white;
    width: 400px;
    padding: 10px;
    gap: 10px;
    border-radius: 8px;

    .saveButton {
      color: var(--save-button-text);
      background-color: var(--border-color);
      &:hover {
        background-color: var(--border-color-hover);
        color: var(--save-button-text);
      }
    }
  }
}
