@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/common-animations.module' as *;
@use 'styles/typography-extends' as *;

.sceneContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{settings.$nav-bar-height});
  height: calc(100svh - #{settings.$nav-bar-height});
  position: absolute;
  top: settings.$nav-bar-height;

  @media screen and (max-height: 670px) {
    overflow: auto;
  }

  @media #{settings.$mobile-landscape} {
    flex-direction: row;
    height: calc(100dvb - 30px);
    overflow-y: hidden;
  }
}