@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';
@import 'styles/typography-extends';

.sceneContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$nav-bar-height});
  height: calc(100svh - #{$nav-bar-height});
  position: absolute;
  top: $nav-bar-height;

  @media screen and (max-height: 670px) {
    overflow: auto;
  }

  @media (orientation: landscape) {
    flex-direction: row;
    height: calc(100dvb - 30px);
    overflow-y: hidden;
  }
}
