@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.button {
  @extend %title;
  color: settings.$alto;
  background-color: settings.$brand-color-secondary;
  max-width: 265px;

  &:hover {
    background-color: settings.$brand-color-secondary-hover;
  }
}