@import 'styles/settings';
@import 'styles/typography-extends';

.button {
  @extend %title;
  color: $alto;
  background-color: $brand-color-secondary;

  &:hover {
    background-color: $brand-color-secondary-hover;
  }
}
