@import 'styles/settings';

.sceneContainer {
  width: 100vw;
  height: calc(100vh - 65px) !important;
  padding-left: 0;
  
  @media #{$tablet-portrait} {
    height: 100vh  !important;
  }
}

.expanded {
  padding-left: $sidebar-width;
}