@import 'styles/settings';

.sceneWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  &.disabled {
    :global .esri-view-root {
      pointer-events: none;
    }
  }
  :global .esri-ui-top-right {
    top: 58px;
  }
}

.sceneWrapperBlur {
  width: 100%;
  height: 100%;
  position: relative;
  &.disabled {
    :global .esri-view-root {
      pointer-events: none;
    }
  }
  :global .esri-ui-top-right {
    top: 58px;
    filter: blur($bottom-menu-blur);
  }
}

.sceneContainer {
  width: 100vw;
  height: calc(100vh - 65px) !important;
  padding-left: 0;
  @media #{$tablet-portrait} {
    height: 100vh !important;
  }
}

.veil {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $space-background;
  opacity: 0.4;
}

.expanded {
  padding-left: $sidebar-width;
}
