@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/tooltip.scss';
@import 'styles/override/esri-component.scss';
@import 'styles/override/esri-search-widget.scss';
@import 'styles/override/esri-popup-widget.scss';

// load the fonts
@font-face {
  font-family: 'PierSans';
  src: url('../assets/fonts/pier-regular.otf');
}

@font-face {
  font-family: 'PierSans-Light';
  src: url('../assets/fonts/PierSans-Light.otf');
}

@font-face {
  font-family: 'PierSans-Bold';
  src: url('../assets/fonts/pier-bold.otf');
}

$site-gutter: 20px;

html {
  box-sizing: border-box;
  font-size: 100%; // 1rem = 16px
  overflow: hidden; // overflow-y does not work on Safari
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body * {
  font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'PierSans';
}

#root :global {
  width: 100vw;
  height: 100vh;
  // z-index: $zforeground;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

:focus {
  outline: 0;
}
