@mixin animationFunction($ease: linear, $time: 400ms, $propertyToAnimate: transform) {
  transition: $propertyToAnimate $time $ease;
}

.transform {
  @include animationFunction();
}

.leftHidden {
  transform: translateX(-150%);
}

.transformOpacity {
  transition: transform 400ms ease, opacity 400ms ease;
}

.bottomUp {
  transform: translateY(150%);
  opacity: 0;
}
