@use 'styles/settings' as settings;

.legendButton {
  height: 14px;
  width: 26px;
  padding: 0;
  z-index: 2;

  svg {
    fill: settings.$white;
    stroke: settings.$white;
    height: 14px;
    width: 14px;
  }
}