// Colors
$white: #fff;
$elephant: #0F2B3B;
$robins-egg-blue: #00BDB5;
$oslo-gray: #838C93;
$alto: #DBDBDB;
$firefly: #09141A;
$vida-loca: #4B9217;
$cobalt: #0041B1;
$green: #03C700;
$lochmara: #0272BA;
$biloba-flower: #BCACE8;
$port-gore: #282052;
$santa-fe: #B76958;
$totem-pole: #932109;
$blue: #0E2B3B;
$inactive-purple: #5E5C7A;
$active-purple: #3F3576;
$firefly: #0A212E;
$java: #1bcec7;
$mandalay: #A47916;
$marzipan: #F7DEA1;

// Animations
$animation-time: 0.3s;
$transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);

// Font sizes
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-s: 13px;
$font-size-sm: 14px;
$font-size: 16px;
$font-size-m: 19px;
$font-size-l: 24px;
$font-size-xl: 28px;
$font-size-xxl: 44px;
$font-size-xxxl: 54px;

//font-weights
$font-weight-light: 300;
$font-weight: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;

$font-family-1: 'PierSans';

// Layout 
$sidebar-width: 280px;  // use this for entry boxes and sidebar width
$site-gutter: 20px;
$widget-button-size: 24px;

// Blur
$blur-level: 16px;

// Global
$sidebar-margin: 20px;
$sidebar-paddings: 30px;

// Letter styles
$letter-spacing: 1.5px;
$line-height: 14px;
