@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';

.sharedSidebarCardContainer {
  width: calc(#{$sidebar-width} + #{$sidebar-border-width} + #{$sidebar-border-width});
  margin-bottom: $cards-bottom-margin;
  box-sizing: border-box;
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;

  &:hover {
    border-color: $brand-color-main;
  }
}

.sharedLayersTogglesContainer{
  @include backdropBlur();
  padding-left: $sidebar-paddings;
  padding-right: $sidebar-paddings;
  overflow: hidden;
  width: $sidebar-width;
  height: 0;
  @include animationFunction($propertyToAnimate: height);
  &.open {
    overflow: visible;
    padding-bottom: $sidebar-paddings;
  }
}