@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/common-animations.module' as *;

.sharedSidebarCardContainer {
  width: calc(#{settings.$sidebar-width} + #{settings.$sidebar-border-width} + #{settings.$sidebar-border-width});
  margin: 2px 2px settings.$cards-bottom-margin;
  box-sizing: border-box;
  border: settings.$sidebar-border;
  border-radius: settings.$sidebar-border-radius;

  &:hover {
    border-color: settings.$brand-color-main;
  }

  &.open {
    border-color: settings.$brand-color-main;
  }
}

.sharedLayersTogglesContainer {
  @include backdropBlur();
  padding-left: settings.$sidebar-paddings;
  padding-right: settings.$sidebar-paddings;
  overflow: hidden;
  width: settings.$sidebar-width;
  height: 0;
  @include animationFunction($propertyToAnimate: height);

  &.open {
    height: auto;
    overflow: visible;
    padding-bottom: settings.$sidebar-paddings;
  }
}