@import 'styles/settings';

// Onboarding landing page
%display1 {
  font-family: $font-family-serif;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 55px;
  @media print {
    font-size: 34pt;
    line-height: 50pt;
  }
}

// Mainly cards and section titles
%display2 {
  font-family: $font-family-serif;
  font-size: 32px;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: 1px;
  @media print {
    font-size: 25pt;
    line-height: 30pt;
  }
}

// Titles H1
// Categories, Areas names
%headline {
  font-family: $font-family-sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 30px;
  @media print {
    font-size: 18pt;
    line-height: 34pt;
  }
}

// Titles H2
// Sections title
%title {
  font-family: $font-family-sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @media print {
    font-size: 8pt;
    line-height: 18pt;
  }
}

// Subtitles H3
// Legend title, Actions, Small titles
%subtitle {
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @media print {
    font-size: 7pt;
    line-height: 14pt;
  }
}

// Datasets, Geodescriber
%bodyText {
  font-family: $font-family-sans-serif;
  font-size: $font-size-sm;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
  @media print{
    font-size: 10pt;
    line-height: 16pt;
  }
}

// Sources
// Tooltips, descriptions
%annotation {
  font-family: $font-family-sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0px;
}

// Sections title - mobile
%titleMobile {
  font-family: $font-family-sans-serif;
  font-size: $font-size-xxs;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}
