@import 'styles/settings';

$spacer-edge-opacity: 0;
$spacer-middle-opacity: 0.6;

.uiTopLeft {
  position: absolute;
  top: 60px;
  left: $site-gutter;
}

// blur effect && transparent fallback if no browser support
.backdropBlur {
  background-color: rgba($firefly, 0.45);
}

@supports ((-webkit-backdrop-filter: blur($blur-level)) or (backdrop-filter: blur($blur-level))) {
  .backdropBlur {
    background-color: rgba(9, 20, 26, 0.3);
    -webkit-backdrop-filter: blur($blur-level);
    backdrop-filter: blur($blur-level);
  }
}

%spacer {
  height: 1px;
  background-image: linear-gradient(to right, rgba($alto, $spacer-edge-opacity), rgba($white, $spacer-middle-opacity), rgba($alto, $spacer-edge-opacity))
}