@import 'styles/settings';

$spacer-edge-opacity: 0;
$spacer-middle-opacity: 0.6;

.uiTopLeft {
  position: absolute;
  top: 60px;
  left: $site-gutter;
}

@mixin backdropBlur($colour: rgba(9, 20, 26, 0.3), $fallback: $firefly, $fallbackOpacity: 0.8) {
  background-color: rgba($fallback, $fallbackOpacity);
  
  @supports ((-webkit-backdrop-filter: blur($blur-level)) or (backdrop-filter: blur($blur-level))) {
      background-color: $colour;
      -webkit-backdrop-filter: blur($blur-level);
      backdrop-filter: blur($blur-level);
  }
}

// .sidebar {
//   @include rtl(float, left, right);
// }

%spacer {
  height: 1px;
  background-image: linear-gradient(to right, rgba($alto, $spacer-edge-opacity), rgba($white, $spacer-middle-opacity), rgba($alto, $spacer-edge-opacity))
}