@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;

.container {
  background-color: settings.$white;
  position: absolute;
  width: 100vw;
  height: 100dvb;
  top: 0;
  left: 0;
  z-index: settings.$over-front;

  .searcherContainer {
    position: fixed;
    top: 16px;
    z-index: settings.$over-front;
    left: 5vw;
    width: 90vw;
  }

  .backBtn {
    padding: 0;
    position: fixed;
    top: 17px;
    left: calc(17px + 4vw);
    z-index: settings.$over-front;

    .arrowIcon {
      fill: settings.$black;
      height: 36px;
      width: 34px;
    }
  }
}

.containerHidden {
  display: none;
}

.initialSearcher {
  background-color: settings.$white;
  border-radius: 4px;
  height: 32px;
  left: 4vw;
  position: absolute;
  top: 60px;
  width: 92vw;

  .placeholderIcon {
    fill: settings.$grey-text;
    pointer-events: none;
    position: absolute;
    height: 15px;
    left: 14px;
    top: 8px;
    width: 15px;
  }

  .placeholderText {
    color: settings.$grey-text;
    opacity: 1;
    position: absolute;
    left: 36px;
    margin: 0;
    top: 9px;
    text-transform: uppercase;
  }
}

.initialSearcherHidden {
  display: none;
}