@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.sidenav{
  --nav-button-bg: #{$white};
  --svg-fill: #{$white};
  --svg-selected-fill: #{$black};
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};

  &.light{
    --nav-button-bg: #{$black};
    --svg-fill: #{$black};
    --svg-selected-fill: #{$white};
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
    @include lightBackdropBlur();
    border: none;
  }

  display: flex;
  height: 100%;

  .icons{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid var(--font-color);

    .subNav{
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.5);
    }

    button{
      width: 50px;
      height: 50px;

      svg{
        width: 30px;
        height: 30px;
        fill: var(--svg-fill);

        rect{
          width: 50px;
        }
      }

      &[aria-label="Species"]{
        svg{
          width: 50px;
          margin-left: -7px;
        }
      }

      &.selected,
      &:hover{
        background: var(--nav-button-bg);

        svg{
          fill: var(--svg-selected-fill);
        }
      }

      &.disabled{
        cursor: not-allowed;
        background: transparent;

        svg{
          fill: var(--svg-fill);
        }
      }
    }
  }
}
