@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.sourcesWrapper {
  @extend %annotation;
  color: settings.$dark-text;
  display: block;
  padding-top: settings.$paragraph-gutter;
  font-style: normal;

  .source {
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: settings.$dark-text-hover;
    }
  }

  &.light {
    color: settings.$grey-text;

    .source {
      &:hover {
        color: settings.$grey-text-hover;
      }
    }
  }
}

.metadataSource {
  @extend %annotation;
  color: settings.$dark-text;
  display: block;
  padding-top: settings.$paragraph-gutter;
  font-style: normal;

  p {
    margin: 0;

    a {
      text-decoration: underline;
      color: settings.$dark-text;

      &:hover {
        cursor: pointer;
        color: settings.$dark-text-hover;
      }
    }
  }

  &.light {
    color: settings.$grey-text;

    a {
      color: settings.$grey-text;

      &:hover {
        color: settings.$grey-text-hover;
      }
    }
  }
}