@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';

.sidebarCardContainer {
  width: calc(#{$sidebar-width} + 15px);
  margin-bottom: $cards-bottom-margin;
  overflow: hidden;
}

.layersTogglesContainer{
  @include backdropBlur();
  overflow: hidden;
  width: $sidebar-width;
  height: 0;
  @include animationFunction($propertyToAnimate: height);
  &.open {
    overflow: visible;
    height: 250px;
  }
}