@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

$scroll-bar-width: 7px;
$margin-left: 16px;
$bars-width: 22%;
$spi-index-width: 60px;
$spi-country-width: 226px;

.chartTitle {
  @extend %bodyText;
  color: $white;
  margin: 0.4rem 1rem 0 0;
  font-weight: $font-weight-bold;

  &.filterTitle {
    margin-left: 1rem;
  }
}

.chartTitleContainer {
  margin: 0 0 8px $margin-left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dropdownWrapper {
  width: 410px;
}

.titleText {
  @extend %subtitle;
  color: $grey-text;
  margin: 0;
}

.legendContainer {
  display: flex;
  margin-top: 20px;
  margin-left: $margin-left;
  padding-right: $scroll-bar-width;

  .blank {
    min-width: calc($spi-country-width + $spi-index-width);
    max-width: calc($spi-country-width + $spi-index-width);
  }

  .legendCategoryContainer {
    height: 8vh;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    width: $bars-width;
    margin-right: $scroll-bar-width;
    flex-direction: column;

    text-align: left;
    padding: 0;
    align-items: baseline;


    .legendItem {
      @extend %annotation;
      align-items: center;
      color: $grey-text;
      display: flex;

      .legendColor {
        height: 16px;
        width: 8px;
        margin-right: 4px;
      }

      p {
        margin: 0;
      }
    }
  }
}

.header {
  margin-left: $margin-left;
  padding-right: $scroll-bar-width;
  display: flex;
  align-items: flex-end;

  .headerItem {
    width: $bars-width;
    margin: 0 $scroll-bar-width 3px 0;
    text-align: left;
    padding: 0;
    align-items: baseline;
    cursor: default;

    .titleText {
      color: $white;
      letter-spacing: 0.06em;
    }
  }

  .spiHeader {
    min-width: $spi-index-width;
    max-width: $spi-index-width;
    margin-right: 0;
  }
}

.barContainer {
  width: $bars-width;
  margin-right: $scroll-bar-width;
}

.fullBar {
  width: 100%;
  cursor: default;

  // To avoid overflow - Remove it to check errors
  display: flex;
}

.bar {
  display: inline-block;
  height: 16px;
  margin-top: 2px;
}

.spiIndex {
  display: inline-block;
  min-width: $spi-index-width;
  max-width: $spi-index-width;
}

.spiCountry {
  width: 25%;
  cursor: pointer;
}

.spiCountryButton {
  @extend %subtitle;
  line-height: $line-height;
  color: $grey-text;
  text-align: left;
  min-width: $spi-country-width;
  max-width: $spi-country-width;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &:hover {
    color: $white;
  }
}

.spiCountryIndex {
  width: 2.5rem;
  display: inline-block;
}

.spiCountryName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rankingChartContent {
  @extend %verticalScrollbar;
  padding-bottom: 2rem;
  height: calc(100vh - 380px);
  flex-direction: column;

  &:before {
    content: '';
    position: absolute;
    bottom: 80px;
    width: 100%;
    height: 40px;
    z-index: 9;
    background-image: linear-gradient(to top, $dark 0%, rgba(9, 12, 20, 0) 100%);
    }

}

.row {
  padding-left: $margin-left;
  display: flex;
  height: 20px;
}

.found {
  color: $white;
}

.selectedCountry {
  color: $white;
  font-weight: $font-weight-bold;
  background-color: $white-opacity;

  .titleText, .spiCountryIndex, .spiCountryName {
    color: $white;
    font-weight: $font-weight-bold;
  }
}

.tooltip {
  background-color: $elephant;
  display: flex;
  position: relative;

  .labels {
    flex-direction: column;
    justify-content: center;
    padding: 6px;

    @extend %annotation;
    color: $grey-text;
  }

  .values {
    position: relative;

    .valuesBox {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      padding: 5px;
      color: $_temporary-dark-text;
      font-size: $font-size-xs;
    }
  }
}

.searchInput {
  min-width: $spi-country-width;
  max-width: $spi-country-width;
}

// Colors

.nonEndemic {
  background-color: $non-endemic-species;
}

.endemic {
  background-color: $endemic-species;
}

.veryHigh {
  background-color: $human-modification-high-color;
}

.totalMinusVeryHigh {
  background-color: $human-modification-color;
}

.protected {
  background-color: $protected-areas;
}

.protectionNeeded {
  background-color: $protection-needed;
}

.protectionNotNeeded {
  background-color: $protection-non-needed-color;
}

.noModification {
  background-color: $non-human-modification;
}
