@import 'styles/settings';
@import 'styles/typography-extends';

.chartTitle {
  @extend %headline;
  color: $alto;
  margin-right: 1rem;
}

.chartTitleContainer {
  margin-bottom: 3rem;
}

.titleText {
  @extend %title;
  font-size: $font-size-xxs;
  color: $alto;
}

.header {
  .headerItem {
    width: 85px;
    margin-right: 7px;
    margin-bottom: 10px;

    text-align: left;
    padding: 0;

    &:last-child {
      width: 95px;
    }
  }
}

.fullBar {
  margin-right: 7px;
  width: 85px;
  cursor: default;
}

.bar {
  display: inline-block;
  height: 18px;
}

.spiCountry {
  max-width: 115px;
  margin-left: 1em;
  display: inline-block;

  @media #{$desktop} {
    max-width: 376px;
  }
}

.spiIndex {
  display: inline-block;
  @media #{$desktop} {
    margin-right: 2rem;
  }
}

.rankingChartContentContainer {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 250px;
    height: 25px;
    background: linear-gradient(transparent, white);
    pointer-events: none;
  }
}

.rankingChartContent {
  padding-right: 3rem;
  padding-bottom: 2rem;
  display: flex;
  width: calc(100vw - #{$country-sidebar-width});
  justify-content: flex-start;
  align-items: flex-start;
  height: 500px;
  overflow-y: scroll;

  flex-direction: column;

  @media #{$desktop} {
    flex-direction: row;
  }
}

.row {
  display: flex;
}

.question {
  cursor: pointer;
  position: relative;
  top: 2px;
}

@mixin caret($color, $direction) {
  &::after {
    content: '';
    width: 0;
    height: 0;
    transform: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    @if ($direction == 'up') {
      border-top: 6px solid $color;
      border-bottom: none;
    }
    @if ($direction == 'down') {
      border-bottom: 6px solid $color;
      border-top: none;
    }
  }
}

.sortArrows {
  display: inline-block;
  position: relative;
  margin-left: 5px;

  .arrowUp {
    @include caret($_temporary-light-text, 'up');
    position: absolute;
    top: -1px;
  }

  .arrowDown {
    @include caret($_temporary-light-text, 'down');
    position: absolute;
    top: -26px;
  }
}

.legend {
  position: sticky;
  top: 0;
}

.legendBlock {
  margin-bottom: 2rem;

  .legendItem {
    display: flex;
    margin-bottom: 6px;

    .legendColor {
      display: block;
      width: 10px;
      height: 18px;
    }

    .legendText {
      @extend %bodyText;

      font-family: $font-family-1-light;
      font-size: $font-size-xs;
      margin-left: 1rem;
      margin-top: -3px;
      color: $alto;
    }
  }
}

.tooltip {
  background-color: $elephant;
  display: flex;
  position: relative;

  .labels {
    flex-direction: column;
    justify-content: center;
    padding: 6px;

    @extend %bodyText;
    font-family: $font-family-1-light;
    font-size: $font-size-xs;
    color: $alto;
  }

  .values {
    position: relative;

    .valuesBox {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      padding: 5px;
      color: $_temporary-dark-text;
      font-size: $font-size-xs;
    }
  }
}

// Colors

.nonEndemic {
  background-color: $persimmon;
}

.endemic {
  background-color: $saffron-mango;
}

.veryHigh {
  background-color: $human-modification-high-color;
}

.totalMinusVeryHigh {
  background-color: $human-modification-color;
}

.protected {
  background-color: $vida-loca;
}

.protectionNeeded {
  background-color: $screamin-green;
}

.protectionNotNeeded {
  background-color: $protection-non-needed-color;
}