@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';
@import 'styles/common-animations.module';

$section-padding: 0 24px;

.cardContainer {
  display: none;
  @include backdropBlur();

  flex-direction: column;
  width: $sidebar-width;
  height: auto;
  border-radius: 12px;
  background-color: $brand-color-secondary;
  overflow: hidden;
  @include animationFunction();

  @media #{$tablet-portrait} {
    display: flex;
  }

  &.bestPlaces{
    box-shadow: 0px 1px 8px #14ff3b;
  }
  &.discoverPlaces {
    box-shadow: 0px 1px 8px #F6962F;
  }
}

.delayOnOut {
  @include animationFunction($delay: 200ms);
}

.titleSection {
  padding: $section-padding;
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  padding: $section-padding;
}

.title {
  @extend %headline;
  color: $white;
  margin-top: 54px;
  margin-bottom: 0;
}

.shareButton {
  position: absolute;
  top: 13px;
  right: 13px;
}

.description {
  @extend %bodyText;
  color: white;
}

.allMapsButton {
  position: relative;
  bottom: 24px;
  margin-top: 20px;
  align-self: flex-end;

  .buttonText {
    @extend %subtitle;
    color: $white;
  }

  .arrowIcon {
    fill: $white;
    position: relative;
    top: 3px;
    left: 10px;
  }
}

.buttonSection{
  display: flex;
  justify-content: flex-start;
  padding: $section-padding;
  padding-bottom: 16px;

  button {
    height: 40px;
    border-radius: 8px;
    padding: 0 16px;
    color: $dark-text;
    text-transform: uppercase;

    &.bestPlaces {
      background-color: #14F63A;

      &:hover {
        background-color: #14ff3b;
      }
    }

    &.discoverPlaces {
      background-color: #F6962F;

      &:hover {
        background-color: #FF9B30;
      }
    }
  }
}
