@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;
@use 'styles/ui.module' as *;
@use 'styles/common-animations.module' as *;

$section-padding: 0 24px;

.cardContainer {
  display: none;
  @include backdropBlur();

  flex-direction: column;
  width: settings.$sidebar-width;
  height: auto;
  border-radius: 12px;
  background-color: settings.$brand-color-secondary;
  overflow: hidden;
  @include animationFunction();

  @media #{settings.$tablet-portrait} {
    display: flex;
  }

  &.bestPlaces {
    box-shadow: settings.$box-shadow-half-earth-green;
  }

  &.discoverPlaces {
    box-shadow: settings.$box-shadow-tangerine;
  }
}

.delayOnOut {
  @include animationFunction($delay: 200ms);
}

.titleSection {
  padding: $section-padding;
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  padding: $section-padding;
}

.title {
  @extend %headline;
  color: settings.$white;
  margin-top: 54px;
  margin-bottom: 0;
}

.shareButton {
  position: absolute;
  top: 13px;
  right: 13px;
}

.description {
  @extend %bodyText;
  color: white;
}

.allMapsButton {
  position: relative;
  bottom: 24px;
  margin-top: 20px;
  align-self: flex-end;

  .buttonText {
    @extend %subtitle;
    color: settings.$white;
  }

  .arrowIcon {
    fill: settings.$white;
    position: relative;
    top: 3px;
    left: 10px;
  }
}

.buttonSection {
  display: flex;
  justify-content: flex-start;
  padding: $section-padding;
  padding-bottom: 16px;

  button {
    height: 40px;
    border-radius: 8px;
    padding: 0 16px;
    color: settings.$dark-text;
    text-transform: uppercase;

    &.bestPlaces {
      background-color: var(--half-earth-green);

      &:hover {
        background-color: var(--half-earth-green-hover);
      }
    }

    &.discoverPlaces {
      background-color: var(--tangerine);

      &:hover {
        background-color: var(--tangerine-hover);
      }
    }
  }
}