@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

$checkbox-size: 15px;

.container {
  display: flex;
  width: 100%;
  padding: 0 20px;
  position: relative;
  justify-content: space-between;
}

.checkboxOption {
  align-items: center;
  margin-bottom: 4px;
  cursor: pointer;
  height: 30px;
  width: 100%;
}

.labelStyles {
  @extend %bodyText;
  color: inherit;
}

.toggle {
  display: flex;
  align-items: center;
}
