@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.arrowIcon {
  position: absolute;
  margin-left: 10px;
  right: 16px;
  transform: rotate(90deg);
  transition: all .1s linear;

  path {
    fill: $white;
    stroke: $white;
  }
}

.arrowIconDropdownOpen {
  position: relative;
  top: -2px;
  transform: rotate(-90deg);
}