@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 26px;
  flex-grow: 1;
  align-items: center;
  gap: 8px;

  .title{
    color: $white;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .spis{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-radius: 5px;
    border: 1.5px solid $brand-color-main;
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 0;

    .spi{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .score{
        color: #FFF;
        text-align: center;
        font-family: "Open Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: -20px;
      }

      .taxoGroup{
        display: flex;
        flex-direction: column;
        margin-top: -60px;
        align-items: center;

        .richness{
          color: #FFF;
          text-align: center;
          font-family: "Open Sans";
          font-size: 11px;
          font-style: italic;
          font-weight: 400;
          line-height: normal;
        }

        .score{
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 0;
        }
      }
    }
  }

  .chart{
    width: 100%;
    margin-top: 25px;
  }
}
