@import 'styles/settings';
@import 'styles/typography-extends';

.indicatorCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  grid-gap: 10px;
  padding-right: 16px;

  @media #{$mobile-landscape} {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .bar {
    height: 17px;
    width: 100%;
  }
  .spiAverageText {
    @extend %annotation;
    color: $grey-text;
    margin: 0;
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: $border-radius-desktop;
  background: $white;
  box-shadow: $box-shadow-light;
  color: $dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 200px;
}
