@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.indicatorCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  grid-gap: 10px;
  padding-right: 16px;

  @media #{settings.$mobile-landscape} {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .bar {
    height: 17px;
    width: 100%;
  }

  .spiAverageText {
    @extend %annotation;
    color: settings.$grey-text;
    margin: 0;
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: settings.$border-radius-desktop;
  background: settings.$white;
  box-shadow: settings.$box-shadow-light;
  color: settings.$dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 200px;
}