@import 'styles/settings';
@import 'styles/typography-extends';

.indicatorCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  grid-gap: 10px;
  padding-right: 16px;

  .bar {
    height: 17px;
    width: 100%;
  }
  .spiAverageText {
    @extend %annotation;
    color: $grey-text;
    margin: 0;
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: $border-radius-desktop;
  background: $white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: $dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 200px;
}

.titleTooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
