@import 'styles/settings';

.modeSwitch {
  z-index: 3;
  position: absolute;
  left: 50%;
  bottom: 30px;
}

.challengesViewContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $challenges-view-background;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.challengesSelected {
  opacity: 1;
  pointer-events: inherit;
}

.challengesChart {
  position: relative;
  left: calc(#{$sidebar-width} + 120px);
  top: 50px;
}

.rankingChart {
  position: relative;
  left: calc(#{$sidebar-width} + 83px);
  top: 50px;
}

@media print {
  .hideOnPrint {
    display: none;
  }

  .sceneWrapper {
    display: none;
  }
}
