@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.species{
  display: flex;
  flex-direction: column;

  .title{
    display: flex;
    gap: 10px;

    img{
      width: 130px;
      height: 130px;
      margin-top: 8px;
    }

    .info{
      display: flex;
      flex-direction: column;
      gap: 3px;
      color: $white;
      margin: 0 0 $site-gutter / 2 0;

      .commonName{
        @extend %display1;
        font-size: 24px;
        line-height: 1.5;
      }

      .taxa{
        font-style: italic;
        font-size: 18px;
        line-height: 1.5;
      }

      img{
        width: 60px;
        height: 60px;
      }
    }
  }

  .description {
    @extend %bodyText;
    color: $white;
    margin: 0 0 $site-gutter / 2 0;
    font-size: 14px;
  }
}
