@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.species{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #efefef;

  .title{
    display: flex;
    gap: 10px;

    img{
      width: 130px;
      height: 130px;
      margin-top: 8px;
    }

    .info{
      display: flex;
      flex-direction: column;
      gap: 5px;

      .commonName{
        font-weight: 700;
        font-size: 24px;
      }

      .taxa{
        font-style: italic;
        font-size: 18px;
      }

      img{
        width: 60px;
        height: 60px;
      }
    }

    .description {
      font-size: 14px;
    }
  }
}
