@import 'styles/settings';
@import 'styles/mixins';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.settingsButton {
  @extend .uiRight;
  top: 38px;
  align-items: center;
  justify-content: center;
  background-color: $elephant;
  border-radius: 2px;
  display: flex;
  height: $widget-button-size;
  padding: 0;
  width: $widget-button-size;

  &:hover svg g {
    fill: $robins-egg-blue;
  }

  svg g {
    fill: $white;
  }
}

.settingsTooltip {
  position: absolute;
  top: 38px;
  right: 50px;
  background-color: $elephant;
  width: 230px;
  height: 116px;

  z-index: $bring-to-front;
  padding: 10px 20px;

  @include caret($elephant, 'right', 10px);

  &::after {
    position: absolute;
    right: -10px;
    top: 10px;
  }
}

@media print {
  .settingsButton {
    display: none;
  }
}

.settingsTooltipTitle {
  margin-bottom: 5px;
  @extend %title;

  color: $white;
}

$checkbox-size: 15px;

.checkboxWrapper {
  @extend %bodyText;
  color: $white;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  cursor: pointer;
  padding-right: $mobile-sidebar-side-paddings;

  @media #{$tablet-portrait} {
    padding-right: $sidebar-paddings;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 100%;

  &:before {
    content: "";
    margin-right: 16px;
    height: $checkbox-size;
    width: $checkbox-size;
    border: 1px solid $white;
    border-radius: 2px;
  }
}

.label {
  margin-right: 8px;
}

.checkboxSelected {
  &:before {
    background: $java;
    border: 2px solid $white;
  }
}
