@import 'styles/settings';

.treemap {
  cursor: pointer;
  .square {
    fill: $inactive-purple;
  }
  .text {
    color: $alto;
    opacity: 0.5;
    font-size: 12px;
    line-height: 16px;
    pointer-events: none;
  }
  .removeText {
    display: none;
  }

  & .pressureFree {
    fill:$blue;
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }

  & .selected {
    fill:$active-purple;
    stroke: $white;

    > .text {
      color: $alto;
      opacity: 1;
    }
  }
}

.tooltip {
  background-color: $white;
}
