@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  margin: 10px;
  gap: 2rem;

  h1{
    font-size: 2rem;
    width: 500px;
    text-align: center;
  }

  .navigation{
    display: flex;
    justify-content: center;
    gap: 2rem;

    button{
      width: 150px;
      height: 150px;
      border: 1px solid black;
      border-radius: 10px;
    }
  }
}
