@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 2rem;
  flex-grow: 1;

  --font-color: #{$white};

  &.light{
    --font-color: #{$black};
  }

  h1{
    font-size: 2rem;
    width: 500px;
    text-align: center;
    color: var(--font-color);
  }

  .navigation{
    display: flex;
    justify-content: center;
    gap: 2rem;

    .navCard{
      display: flex;
      flex-direction: column;
      border-radius: 15px;
      height: 302px;
      width: 336px;
      background-position: center top;
      background-repeat: no-repeat;
      cursor: pointer;
      background-size: 336px;
      background-image: url('../../../assets/images/okapi_Derek_Keats_Flickr_CC-BY-2_0.jpg');

      &.regions{
        background-image: url('../../../assets/images/drc_region_logos.jpg');
      }

      &.trends{
          background-image: url('../../../assets/images/drc_metrics_logos.jpg');
      }

      .outline{
        border: 2px solid #ffffff;
        border-bottom: none;
        height: 100%;
        margin: 12px 12px 0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        outline-style: none;
      }

      label{
        font-size: 24px;
        font-weight: 600;
        line-height: 38px;
        letter-spacing: 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        margin: 0 12px;
        border-left: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        min-height: 50px;
        transition: color .3s;
        cursor: pointer;
      }

      p{
        background-color: #fff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 5px 15px 9px;
        margin: 0;
        text-align: center;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    button{
      width: 150px;
      height: 150px;
      border: 1px solid black;
      border-radius: 10px;
    }
  }
}
