@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

$circle-size: 15px;

.radioInput {
  @extend %bodyText;
  position: relative;
  padding-left: calc(#{$circle-size} + 10px );
  display: flex;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &:after {
    content: "";
    height: $circle-size;
    width: $circle-size;
    position: absolute;
    left: 0;
    border: 1px solid $white;
    border-radius: 50%;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    height: $circle-size;
    width: $circle-size;
    border-radius: 50%;
  }
}

.radioButton {
  flex: 1;

  input[type="radio"] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    // prevent the default radio button from taking up the space
    // display: none would screw up the keyboard navigation, so let's go for opacity
  }
}
