@import 'styles/ui.module';
@import 'styles/settings';

.content {
  height: 85vh;
  padding-bottom: $site-gutter;
}

.mapLayersContainer {
  @extend %verticalScrollbar;
  height: 100%;
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  position: relative;
  left: -$sidebar-paddings;
  width: calc(100% + (2 * #{$sidebar-paddings}));
}
