@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;

.content {
  height: 85vh;
  padding-bottom: settings.$site-gutter;
}

.mapLayersContainer {
  @extend %verticalScrollbar;
  height: 100%;
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  position: relative;
  left: calc(-1 * #{settings.$sidebar-paddings});
  width: calc(100% + (2 * #{settings.$sidebar-paddings}));
}