@import 'styles/ui.module';
@import 'styles/settings';

.container {
  @extend %verticalScrollbar;
  height: calc(100vh - #{$sidebar-top-margin});
  width: calc(#{$sidebar-width} + 25px);
  padding-bottom: $site-gutter;
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  position: relative;
  left: -$sidebar-paddings;
  width: calc(100% + (2 * #{$sidebar-paddings}));
}

.pointerBlocked {
  pointer-events: none;
}