@import 'styles/ui.module';
@import 'styles/settings';

.container {
  @extend %verticalScrollbar;
  height: calc(100vh - #{$sidebar-top-margin});
  width: calc(#{$sidebar-width} + 25px);
  padding-bottom: $site-gutter;
}
