@import 'styles/settings';
@import 'styles/ui.module';

.esri-search {
  @include backdropBlur();
  width: 100%;
  height: 345px;
  bottom: 55px;
  top: auto;
  border-radius: $border-radius-mobile;
  position: fixed;
  left: 0;
  padding: 30px 20px;
  display: block;

  @media #{$tablet-portrait} {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100000;
  }

  // hides loading bar after location start
  .esri-search--searching::before, .esri-search--searching::after {
    content: none;
  }

  // search button with magnifier icon
  .esri-search__submit-button {
    background-color: transparent;
    border: 0;
    outline: none;
    padding-bottom: 20px;
    height: 50px;

    .esri-icon-search::before {
      content: url('../assets/icons/search.svg');
    }
  }

  // hides esri clean search button
  .esri-search__clear-button {
    display: none;
  }

  .esri-search__container {
    border-bottom: 0.5px solid $white;
    flex: none;
    padding-right: 20px;
    margin: 0 auto 5%;
  }

  // search input
  .esri-input  {
    background-color: transparent;
    color: $white;
    font-family: $font-family-1;	
    font-size: 28px;
    height: 50px;
    line-height: 30px;
    margin: auto;
    outline: none;
    padding-bottom: 20px;
    width: 100%;

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }

    @media #{$tablet-portrait} {
      width: 700px;
      letter-spacing: 1px;
    }
  }

  .esri-search__sources-button {
    display: none;
  }

  .esri-icon-locate-circled {
    display: none;
  }

  // suggestions list
  .esri-menu.esri-search__suggestions-menu {
    background-color: transparent;
    box-shadow: none;

    li {
      border: 0;
      color: $robins-egg-blue;
      font-family: $font-family-1;	
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 14px;
      outline: none;
      padding: 10px;
      text-transform: uppercase;

      &:hover, &:focus, &:active {
        background-color: rgba(255,255,255,0.05);
      }
    }

    .esri-search__suggestions-list--current-location li {
      @extend %title;
      color: $white;
    }

    strong {
      color: $white;
    }
  }
}
