@use 'styles/settings' as settings;

.esri-ui {
  // Ensure ArcGIS UI (including popups) renders above app chrome
  z-index: settings.$over-front;

  @media #{settings.$mobile-landscape} {
    top: 0 !important;
    z-index: settings.$over-front;
  }
}