@import 'styles/settings';
@import 'styles/ui.module';

.esri-popup__header, .esri-popup__footer {
  display: none;
}

.esri-popup__content {
  margin: {
    top: 16px;
    bottom: 16px;
  }
}

.esri-popup__main-container {
  background-color: $firefly;
  color: $white;
  max-width: 200px;
}

.esri-popup__pointer-direction {
  background-color: $firefly;
  height: 5px;
  transform: scale(2.0, 2) rotate(45deg) !important;
  width: 10px;
  height: 6px;
}

.esri-popup--shadow {
  box-shadow: none;
}

.tooltip-dot {
  height: 10px;
  width: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 2px;
}

.tooltip-area-name {
  letter-spacing: 1.5px;
  line-height: 14px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
}

.tooltip-area-size {
  margin-left: 17px;
  margin-top: 5px;
  margin-bottom: 0;
}

.tooltip-container {
  display: flex;
  align-items: center;
  margin: 0;
}