@import 'styles/settings';

.wrapper {
  background-color: #031D2E;
  padding: $mobile-sidebar-side-paddings;
  border-radius: $border-radius-desktop;

  @media #{$tablet-portrait} {
    margin-top: $widgetsTopMargin;
    margin-bottom: 50px;
    padding: $sidebar-paddings;
  }
}

.buttonContainer {
  display: flex;
  margin-bottom: 12px;
  cursor: pointer;

  @media #{$tablet-portrait} {
    justify-content: center;
  }
}

.uploadButton {
  height: 26px;
  width: 26px;
  background-color: #18BAB4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  transform: rotate(45deg);
}

.title {
  text-transform: uppercase;
  color: $white;
  letter-spacing: 2px;
  font-size: $font-size-xxs;
  font-family: $font-family-1-bold;
  margin: 0;
  padding-left: 15px;
  align-self: flex-end;
  line-height: 16px;
}

.question {
  color: #DBDBDB;
  font-size: $font-size-xxs;
}