@import 'styles/settings';
@import 'styles/tooltip';
@import 'styles/typography-extends';

.titleContainer {
  align-items: center;
  color: $white;
  display: flex;
  font-family: $font-family-1;
  font-size: $font-size-xs;
  height: auto;
}

.imageLink {
  margin-right: 5px;
  z-index: 2;
}

.title {
  @extend %subtitle;
  height: auto;
  margin: 0;
}
