.titleContainer {
  height: 25px;
  display: flex;
  align-items: center;
}

.imageLink {
  margin-right: 5px;
  z-index: 2;
}

.title {
  font-family: 'PierSans-Bold';
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1.5px;
  line-height: 14px;
}
