
.titleContainer {
  height: 14px;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.imageLink {
  margin-right: 5px;
 
  z-index: 2;
}

.molLogo {
  height: 14px;
  width: 14px;
}

.title {
  font-family: 'PierSans-Bold';
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1.5px;
  line-height: 14px;
}
