@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.wrapper {
  overflow: hidden;
  @include bottom();
  position: fixed;

  @media #{settings.$tablet-portrait} {
    position: absolute;
    width: unset;
    bottom: 20px;
    left: calc(50% - 250px);
  }
}

.container {
  @include backdropBlur();
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  border-radius: 2px;
  padding: 10px 14px 10px 12px;

  @media #{settings.$tablet-portrait} {
    padding: 10px 0;
    width: 500px;
  }
}

.taxaButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.taxaIconContainer {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: settings.$grey-text;
}

.taxaName {
  @extend %bodyText;
  color: settings.$white;
  margin: 0;
}

.selectedTaxa {
  background-color: settings.$priority-blue;
  box-shadow: 0 0 8px 0 settings.$white;
  border: 2px solid settings.$white;

  svg g {
    fill: settings.$white;
  }
}