@import 'styles/settings';
@import 'styles/typography-extends';

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 500px;

  @media #{$tablet-portrait} {
    overflow-y: unset;
    height: auto;
  }
}

.title {
  @extend %headline;
  color: $white;
  margin-bottom: 40px;
  text-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
  padding: 20px;

  @media #{$tablet-portrait} {
    padding: 0;
    margin-bottom: 80px;
  }
}

.mouseNavigationSection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  width: auto;

  @media #{$tablet-portrait} {
    width: 400px;
  }

  .mouseClickIcon {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 15px;

    @media #{$tablet-portrait} {
      padding: 0;
    }

    span {
      color: $white;
      font-family: $font-family-1;
      font-size: $font-size-xxs;
      font-weight: bold;
      letter-spacing: $letter-spacing;
      line-height: $line-height;
      margin-top: 20px;
      text-transform: uppercase;
    }
  }
}

.storySection {
  display: block;
  text-align: center;
  width: 100%;

  @media #{$tablet-portrait} {
    width: 670px;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }
}

.storyElement {
  display: inline-flex;
  
  span {
    height: 88px;	
    width: 179px;
    color: $white;	
    font-family: $font-family-1;
    font-size: $font-size-sm;
    font-weight: $font-weight-light;
    line-height: 22px;
    margin-left: 20px;
  }
}

.horizontalFlip {
  transform: scale(-1, 1);
}
