@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
  height: max-content;
  border-left: 1px solid var(--font-color);

  .sectionTitle{
    font-size: $font-size-tick;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--font-color);
  }

  .data{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .saveButton {
      color: var(--save-button-text);
      background-color: var(--border-color);
      &:hover {
        background-color: var(--border-color-hover);
        color: var(--save-button-text);
      }
    }
  }

  .back{
    color: var(--font-color);
  }

  .areaNameEdit {
    @extend %display2;
    background-color: transparent;
    border-width: 0 0 2px 0;
    color: var(--font-color);
    margin: 0;
    max-width: 300px;
  }

  .searchInput {
    background-color: transparent;
    min-width: 300px;
    border: none;
    margin-left: 1em;
    color: var(--font-color);
    &::placeholder {
      color: $grey-text;
      text-transform: uppercase;
    }
  }

  .distributionTitle{
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: $font-size-sm;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.5;
      color: var(--font-color);
  }

  .arrowIcon {
    fill: var(--font-color);
    transform: rotate(0deg);

    &.isOpened {
      transform:rotate(90deg);
    }

    transition: transform 0.2s ease;

    > path {
      fill: inherit;
    }
  }

  .productTypeLogo {
    height: 25px;
    width: 25px;
  }
}

