@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;

  .saveButton {
    color: $dark-text;
    background-color: $brand-color-main;
    &:hover {
      background-color: $brand-color-main-hover;
    }
  }

  .areaNameEdit {
    @extend %display2;
    background-color: transparent;
    border-width: 0 0 2px 0;
    color: $white;
    margin: 0;
    max-width: 300px;
  }

  h3{
    color: $white;
  }
}
