@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

.modal {
  width: 90% !important;
  max-width: 90% !important;
  height: auto !important;

  @media #{settings.$tablet-landscape} {
    max-width: 620px !important;
    width: 600px !important;
  }
}

.modalContent {
  padding: 0 !important;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: settings.$brand-color-secondary;
}

.closeBtn {
  // TODO: Remove button when we stop using half-earth-components
  display: none;
}

.title {
  @extend %headline;
  margin-bottom: 8px;
}

.buttonsContainer {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.button {
  max-width: 200px;
  margin-left: 12px;
}

.cancelButton {
  max-width: 100px;
  text-transform: initial;
}

.paragraph {
  @extend %bodyText;
  margin: 0 0 8px 0;

  font-size: settings.$font-size-sm;
  line-height: settings.$line-height-lg;
  font-weight: 400;
  color: settings.$grey-text;

  &.bold {
    font-weight: settings.$font-weight-bold;
  }
}

.icon {
  margin-bottom: 16px;
}