@import 'styles/settings';
@import 'styles/typography-extends.scss';


.container {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  border: 1px dashed $white;
  border-radius: 4px;
  cursor: pointer;

  .shapeUploader {
    align-items: center;
    display: flex;

    .uploadShapeButton {
      height: 50px;
      margin-right: 20px;
      width: 50px;
    }

    .label {
      @extend %bodyText;
      color: $white;
      display: block;
      padding-bottom: 0;
    }

    .warning {
      @extend %annotation;
    }
  }
}



