@import 'styles/settings';
@import 'styles/tooltip';
@import 'styles/legend-button';

.opacityEnabled {
  svg {
    fill: $brand-color-main;
    stroke: $brand-color-main;
  }
}

.opacityButtonActive {
  background-color: $blue;
  border-radius: 0 0 2px 2px;
}

:global {
  .opacityChangeTooltip {
    .rc-tooltip-content {
      .rc-tooltip-arrow {
        background: $blue;
        border: 0;
        height: 5px;
        right: 0;
        width: 100%;
      }

      .rc-tooltip-inner {
        background: $blue;
        border-radius: 4px 4px 0 0;
        color: $grey-text;
        max-width: unset;
        width: 222px;
      }
    }
  }
}