@use 'styles/settings' as settings;

.wrapper {
  position: relative;

  .closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    fill: settings.$dark-text;
    z-index: settings.$bring-to-front;
  }

  &.closed {
    display: none;
  }
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
  border-radius: settings.$card-border-radius;
  color: settings.$dark-text;

  > :not(:last-child)::after {
    content: '';
    position: relative;
    bottom: calc(-1 * #{settings.$sidebar-cards-padding});
    display: block;
    margin: 0 auto;
    border-bottom: 1px dotted settings.$dark-text;
  }

  .section {
    padding: settings.$sidebar-cards-padding;
    border-radius: settings.$card-border-radius;
    background-color: settings.$white;
  }
}

.dark {
  color: settings.$dark-text;

  .section {
    background-color: settings.$grey-text;
  }
}