@import 'styles/settings';

.wrapper {
  position: relative;

  .closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    fill: $dark-text;
    z-index: $bring-to-front;
  }

  &.closed {
    display: none;
  }
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-height: inherit;
  border-radius: $card-border-radius;
  color: $dark-text;

  > :not(:last-child)::after {
    content: '';
    position: relative;
    bottom: -$sidebar-cards-padding;
    display: block;
    margin: 0 auto;
    border-bottom: 1px dotted $dark-text;
  }

  .section {
    padding: $sidebar-cards-padding;
    border-radius: $card-border-radius;
    background-color: $white;
  }
}

.dark {
  color: $dark-text;

  .section {
    background-color: $grey-text;
  }
}