@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends';

$max-width: 520px;
$area-title-width: 230px;

.modal {
  width: 90% !important;
  max-width: 90% !important;
  height: auto !important;
  max-height: 100vh !important;

  @media #{settings.$tablet-landscape} {
    max-width: $max-width !important;
    width: $max-width !important;
    max-height: 400px !important;
  }
}

.modalContent {
  padding: 0 !important;
}

.modalContainer {
  @extend %verticalScrollbar;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: settings.$site-gutter;
  background-color: settings.$brand-color-secondary;
  overflow-y: scroll;

  @media #{settings.$tablet-landscape} {
    max-width: $max-width;
    width: $max-width;
  }
}

.closeBtn {
  display: none !important;
}

.title {
  @extend %headline;
  margin: 0;
}

.description {
  @extend %bodyText;
  color: settings.$grey-text;
  margin: 0;
}

.timestamp {
  @extend %subtitle;
  color: settings.$grey-text;
  margin: 0 10px;
}

.aoiName {
  @extend %title;
}

.aoiListContainer {
  padding: 0;
  margin-top: settings.$site-gutter;
}

.aoiItemContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  left: -#{settings.$site-gutter};
  padding: 10px settings.$site-gutter;
  width: calc(100% + (2 * #{settings.$site-gutter}));

  &:hover,
  &.active {
    background-color: settings.$white-opacity;
  }

  .dataContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .data {
    display: flex;
    overflow: hidden;

    .nameInput {
      @extend %title;
      padding: 0 10px;
      background-color: settings.$modal-light-background;
      border: none;
      color: settings.$dark-text;
      text-transform: none;
      width: 345px;
      border-radius: settings.$card-border-radius;
      height: 40px;
    }

    .aoiName {
      cursor: pointer;
      border: none;
      width: $area-title-width;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 95px;

    .item {
      color: settings.$white;
      background-color: transparent;

      &:hover {
        background-color: settings.$dark-opacity;
      }
    }

    .saveButton {
      color: settings.$dark-text;
      background-color: settings.$brand-color-main;

      &:hover {
        background-color: settings.$brand-color-main-hover;
      }
    }
  }
}

.deleteAllButton {
  background-color: transparent;
  border-radius: settings.$border-radius-desktop;
  margin-top: settings.$sidebar-paddings;
  align-items: center;
  width: 140px;

  span {
    @extend %bodyText;
    text-transform: none !important;
  }

  &:hover {
    background-color: settings.$white-opacity;
  }
}


.shareInputLayout {
  margin-top: settings.$site-gutter;
}