@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

$max-width: 520px;
$area-title-width: 230px;

.modal {
  width: 90% !important;
  max-width: 90% !important;
  height: auto !important;
  max-height: 100vh !important;

  @media #{$tablet-landscape} {
    max-width: $max-width !important;
    width: $max-width !important;
    max-height: 400px !important;
  }
}

.modalContent {
  padding: 0 !important;
}

.modalContainer {
  @extend %verticalScrollbar;
  display: flex;
  flex-direction: column;
  padding: $site-gutter;
  background-color: $brand-color-secondary;
  overflow-y: scroll;
  @media #{$tablet-landscape} {
    max-width: $max-width;
    width: $max-width;
  }
}

.closeBtn {
  display: none !important;
}

.title {
  @extend %headline;
  margin: 0;
}

.description {
  @extend %bodyText;
  color: $grey-text;
  margin: 0;
}

.timestamp {
  @extend %subtitle;
  color: $grey-text;
  margin: 0 10px;
}

.aoiName {
  @extend %title;
}

.aoiListContainer {
  padding: 0;
  margin-top: $site-gutter;
}

.aoiItemContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  left: -$site-gutter;
  padding: 10px $site-gutter;
  width: calc(100% + (2 * #{$site-gutter}));
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: $white-opacity;
  }

  .data {
    display: flex;
    overflow: hidden;

    .nameInput {
      @extend %title;
      padding: 0 10px;
      background-color: $modal-light-background;
      border: none;
      color: $_temporary-dark-text;
      text-transform: none;
      width: 345px;
      border-radius: $card-border-radius;
      height: 40px;
    }

    .aoiName {
      cursor: pointer;
      border: none;
      width: $area-title-width;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 95px;
    .item {
      color: $white;
      background-color: transparent;
      &:hover {
        background-color: $dark-opacity;
      }
    }
    .saveButton {
      color: $dark-text;
      background-color: $brand-color-main;
      &:hover {
        background-color: $brand-color-main-hover;
      }
    }
  }
}

.deleteAllButton {
  // pointer-events: none;
  background-color: transparent;
  border-radius: $border-radius-desktop;
  margin-top: $sidebar-paddings;
  align-items: center;
  width: 140px;
  span {
    @extend %bodyText;
    text-transform: none !important;
  }
  &:hover {
    background-color: $white-opacity;
  }
}