@import 'styles/settings';
@import 'styles/shared-sidebar.module';
@import 'styles/typography-extends.scss';

.sidebarCardContainerOLD {
  @include backdropBlur();
  @extend .sharedSidebarCardContainer;
}

.sidebarCardContainer {
  @include backdropBlur();
  @extend .sharedSidebarCardContainer;
  padding: 0 16px 16px 16px;
}

.subtitle {
  @extend %bodyText;
  color: $grey-text;
  font-weight: 400;
}

.cardContentContainer {
  @extend .sharedLayersTogglesContainer;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  padding-top: $sidebar-paddings;
}

.sectionContainer {
  padding-top: $sidebar-paddings;
}

.sizeWarningContainer {
  display: flex;
  align-items: center;
  padding: $paragraph-gutter;
  margin-bottom: $site-gutter;
  background-color: $white-opacity;
  border-radius: $border-radius-desktop;
  &.active {
    background-color: $warning;
  }

  .info {
    position: relative;
    top: 3px;
    fill: $white;
    margin-right: $paragraph-gutter;
  }

  .warning {
    @extend %bodyText;
    color: $white;
  }
}

.separatorLabel,
.label {
  @extend %bodyText;
  color: $white;
  display: block;
  padding-bottom: $paragraph-gutter;
}

.shapeUploader {
  display: flex;
  align-items: center;
  padding: 40px;
  width: 100%;
  height: 100px;
  border: 1px dashed $white;
  border-radius: $border-radius-desktop;
  .uploadShapeButton{
    margin-right: $paragraph-gutter;
  }
  .label {
    padding-bottom: 0;
  }
}

.separatorLabel {
  text-align: center;
  padding: $sidebar-paddings 0;
}

.areasHistoryButton {
  background-color: transparent;
  border-radius: $border-radius-desktop;
  margin-top: $sidebar-paddings;
  span {
    @extend %bodyText;
    text-transform: none !important;
  }
  &:hover {
    background-color: $white-opacity;
  }
}

.analyzeMenuContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;



  .analyzeMenuTitle {
    @extend %bodyText;
    color: $white;
    text-transform: uppercase;
  }

  .analyzeMenuTabsContainer {
    border: 1px solid $brand-color-main;
    border-radius: 4px;
    display: flex;
    margin: 6px 0;

    .tabButton {
      height: 48px;
      padding: 12px;
      width: 46px;

      .tabIcon {
        height: 24px;
        fill: $white;
        margin-bottom: $paragraph-gutter;
        width: 24px;
      }

      .tabIconActive {
        fill: $dark-text;
      }
    }

    .tabButtonActive {
      background-color: $brand-color-main;
    }
  }
}

.sectionLabel {
  @extend %bodyText;
  color: $white;
  display: block;
  margin-bottom: 6px;
}

.sectionSubtitleLabel {
  @extend %annotation;
  color: $grey-text;
  margin: 0 0 6px 0;

  a {
    @extend %annotation;
    color: $grey-text;
  }
}

.checkboxContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: relative;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkbox:after {
    display: block;
  }

  input:checked ~ .checkbox {
    background-color: #2196F3;
  }

  .checkbox {
    border-radius: 50%;
    border: 1px solid $white;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .checkboxSelected {
    background-color: $brand-color-main;
  }

  .label {
    @extend %bodyText;
    color: $white;
    margin: 0;
    padding: 0 0 0 10px;
  }
}