@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/mixins';

.chart {
  width: 100%;
}

.angleLabels {
  @extend %subtitle;
  fill: currentColor;
  font-size: $font-size-xxs;
}

.radialLabels {
  @extend %subtitle;
  fill: currentColor;
  font-size: $font-size-xs;
  stroke: transparent;
  text-anchor: middle;
}

.point {
  fill-opacity: 1;
  stroke-opacity: 0.5;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  min-width: 100px;

  .tooltipText {
    background-color: $white;
    @extend %annotation;
    color: $black;
    padding: 5px;
  }

  &::before {
    content: '';
    width: 0;
    height: 0;
    transform: none;

    border-left: none;
    border-right: 5px solid $white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
  }

  &.inverted {
    transform: translate(calc(-100% - 10px), -10px);

    &::before {
      border: 0;
    }

    &::after {
      content: '';
      width: 0;
      height: 0;
      transform: none;

      border-right: none;
      border-left: 5px solid $white;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }
}