@import 'styles/settings';

.toolbarButton {
  width: 26px;
  height: 26px;
  padding: 0;
  svg {
    fill: white;
    stroke: white;
    width: 14px;
    height: 14px;
  }
}

.toolbarButtonVisibilityChanged {
  svg {
    fill: $brand-color-main;
    stroke: $brand-color-main;
  }
}

.toolbarButtonActive {
  background-color: $blue;
  border-radius: 0 0 2px 2px;
}

.opacityTooltip {
  width: 208px;
}