@import 'styles/settings';
@import 'styles/typography-extends';

.tooltipContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  transition: all .3s linear;
}

.tooltipSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.tooltipFlag {
  width: 30px;
  margin-right: 10px;
}

.tooltipName {
  @extend %title;
  color: $white;
}

.tooltipExplore {
  @extend %title;
  background-color: $brand-color-main;
  width: 100%;
  height: 30px;
  padding: 5px 20px;
  border-radius: 2px;
}

.tooltipClose {
  width: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.spiInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  .spi {
    @extend %display1;
    margin: 0;
    padding-bottom: 10px;
  }
  .subtitle {
    @extend %subtitle;
    letter-spacing: 1.2px;
    margin: 0;
    padding-bottom: 10px;
  }
}

.countryInfo {
  display: flex;
  flex-direction: column;
  background-color: $white-opacity;
  padding: $site-gutter;
  border-radius: 6px;
  margin-bottom: 10px;
  .infoPill {
    display: flex;
    padding-bottom: $site-gutter;
    &:last-child() {
      padding: 0;
    }
    
    .numeric {
      @extend %title;
      flex-grow: 1;
      font-weight: bold;
    }

    .text {
      @extend %annotation;
      text-align: left;
      width: 65%;
    }
  }
}