@import 'styles/settings';
@import 'styles/typography-extends';

.tooltipContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  transition: all .3s linear;
}

.tooltipSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 2px 0;
  width: 100%;

  div {
    display: flex;
    align-items: center;
  }

  .switchDataButton {
    @extend %subtitle;
    border: 1px solid #E9E9E9;
    color: #E9E9E9;
    font-size: 10px;
    height: 25px;
    text-transform: capitalize;
    width: 50px;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .switchDataActiveButton {
    @extend %subtitle;
    background-color: #E9E9E9;
    color: $_temporary-dark-text;
  }
}

.tooltipFlag {
  width: 30px;
  margin-right: 10px;
}

.tooltipName {
  @extend %title;
  color: $white;
}

.tooltipExplore {
  @extend %title;
  background-color: $white;
  width: 100%;
  height: 30px;
  padding: 5px 20px;
  border-radius: 2px;

  &:hover {
    background-color: $brand-color-main;
  }
}

.tooltipClose {
  width: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  fill: $white;
  cursor: pointer;
}

.spiInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  .spi {
    @extend %display1;
    font-size: 32px;
    margin: 0;
    padding-bottom: 4px;
  }

  .subtitle {
    @extend %subtitle;
    font-size: 10px;
    letter-spacing: 1.2px;
    margin: 0;
    padding-bottom: 10px;
  }
}

.countryInfo {
  display: flex;
  flex-direction: column;
  background-color: $white-opacity;
  padding: $site-gutter;
  border-radius: 6px;
  margin-bottom: 10px;

  .infoPill {
    display: flex;
    padding-bottom: $site-gutter;

    &:last-child() {
      padding: 0;
    }

    .numeric {
      @extend %title;
      flex-grow: 1;
      font-weight: bold;
    }

    .endemic {
      font-weight: bold;
    }

    .text {
      @extend %annotation;
      text-align: left;
      width: 65%;
    }
  }
}

.mobile {

  .tooltipSection {
    margin: 0;

    .tooltipName {
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  .spiInfo {
    .spi {
      padding-bottom: 0;
    }
    .subtitle {
      font-size: 12px;
      padding-bottom: 0;
    }
  }

  .switchDataButtonsContainer {
    margin-top: 8px;
    width: 86vw;

    .switchDataButton {
      @extend %subtitle;
      border: 1px solid #E9E9E9;
      color: #E9E9E9;
      font-size: 12px;
      height: 32px;
      width: 50%;
      text-transform: capitalize;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .switchDataActiveButton {
      @extend %subtitle;
      background-color: #E9E9E9;
      color: $_temporary-dark-text;
    }
  }

  .countryInfo {
    background: transparent;
    margin-bottom: 0;
    padding: 18px 10% 10px 10%;

    .infoPill {
      padding-bottom: 8px;
      align-items: baseline;

      .text {
        width: 75%;
        font-weight: 600;
        line-height: 16px;
      }
    }
  }

  .tooltipExplore {
    height: 38px;
    width: 86vw;
  }

  .tooltipClose {
    width: 16px;
    height: 16px;
    right: 18px;
    top: 20px;

  }
}