@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 26px;
  flex-grow: 1;
  align-items: center;
  gap: 8px;

  .tableWrapper{
    background-color: rgba(255, 255, 255, 0.3);
    height: 300px;
    width: 100%;
    overflow-y: auto;

    table{
      font-size: $font-size-xs;

      th{
        span{
          color: $white;
          text-align: center;
        }
      }

      tbody {
        tr {
          height: 40px;
          border-bottom: 1px solid var(--font-color);
          background-color: $wild-sand;
        }
      }

      .firstColumn{
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}
