@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.filters {
  width: 50%;

  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};
  color: var(--font-color);

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  .titleRow {
    .title {
      font-size: 18px;
      font-weight: 700;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .close{
    color: var(--font-color);
  }

  .filterGroupTitle {
    font-size: 16px;
    padding: 15px 0 8px;
  }

  .filterbox {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
  }
}

.taxaList {
  max-width: 400px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.thumb {
  height: 32px;
  width: 32px;
}
.title {
  cursor: pointer;
  padding: 0 5px;
}

.spinner {
  max-height: 32px;
}
.datasetList {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  a:hover,
  a:focus {
    background-color: unset;
    color: var(--font-color);
  }
  img {
    margin: 2px !important;
    height: 25px !important;
    max-width: 25px !important;
  }
}
.title {
  font-size: $font-size-base;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  font-family: $font-family-1;

  .header {
    padding-left: 7px;
  }
}

.filterCount {
  margin-left: auto;
  text-align: right;
  margin-right: 15px;
  font-size: 12px;
}

.speciesList {
  padding-top: 5px;
  height: calc(100vh - 280px);
  overflow-y: hidden;
  width: 250px;

  .filterResults {
    margin-top: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 315px);
  }

  .search{
    border: 1px solid var(--border-color);
    padding: 5px;
    border-radius: 8px;
    flex-grow: 1;
    background: #{$white};
    width: 225px;
    margin: 5px 0;

    input[type="text"]{
      color: var(--border-color);
      width: 100%;
    }

    ::placeholder{
      color: var(--border-color);
    }

    svg{
      fill: var(--border-color);
      color: var(--border-color);

      path{
        fill: var(--border-color);
        color: var(--border-color);
      }
    }

    &.showResults{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .speciesFilter {
    padding: 10px 0;
    line-height: 32px;
    justify-content: center;
    input {
      width: 90%;
      line-height: 32px;
      margin-left: 2.5%;
    }
  }

  .close {
    margin: 10px 15px 10px 10px;
  }
}

