@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

$checkbox-size: 15px;

.checkboxWrapper {
  @extend %bodyText;
  color: $white;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  cursor: pointer;
  padding-right: $sidebar-paddings;
  &:hover {
    @extend .checkboxWrapperSelected;
  }
}

.checkboxWrapperSelected {
  background-color: rgba(255, 255, 255, 0.05);
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  width: 100%;
  padding-left: 20px;

  &:before {
    content: "";
    margin-right: 16px;
    height: $checkbox-size;
    width: $checkbox-size;
    border: 1px solid $white; 
    border-radius: 2px;
  }
}

.label {
  margin-right: 8px;
}

.checkboxSelected {
  &:before {
    background: linear-gradient(270deg, #0c2c84 0%, #41b6c4 50%, #ffffcc 100%);
    border: 2px solid $white; 
  }
}

.icon {
  @extend %icon;
}

.rightDot {
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
}