@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

$max-width: 520px;
$area-title-width: 230px;

.modal {
  width: 90% !important;
  max-width: 90% !important;
  height: auto !important;
  max-height: 100vh !important;

  @media #{settings.$tablet-landscape} {
    max-width: $max-width !important;
    width: $max-width !important;
    max-height: 400px !important;
  }
}

.modalContent {
  padding: 0 !important;
}

.modalContainer {
  @extend %verticalScrollbar;
  display: flex;
  flex-direction: row;
  padding: settings.$site-gutter;
  background-color: settings.$brand-color-secondary;

  @media #{settings.$tablet-landscape} {
    max-width: $max-width;
    width: $max-width;
  }
}

.closeBtn {
  display: none !important;
}

.title {
  @extend %headline;
  margin: 0;
  padding-bottom: 10px;
}

.description {
  @extend %bodyText;
  color: settings.$grey-text;
  margin: 0;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  margin-right: settings.$site-gutter;
  border-radius: 100%;
  background-color: settings.$white;

  .icon {
    stroke: settings.$warning;
    fill: settings.$warning;
  }
}