@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

$max-width: 520px;
$area-title-width: 230px;

.modal {
  width: 90% !important;
  max-width: 90% !important;
  height: auto !important;
  max-height: 100vh !important;

  @media #{$tablet-landscape} {
    max-width: $max-width !important;
    width: $max-width !important;
    max-height: 400px !important;
  }
}

.modalContent {
  padding: 0 !important;
}

.modalContainer {
  @extend %verticalScrollbar;
  display: flex;
  flex-direction: row;
  padding: $site-gutter;
  background-color: $brand-color-secondary;
  @media #{$tablet-landscape} {
    max-width: $max-width;
    width: $max-width;
  }
}

.closeBtn {
  display: none !important;
}

.title {
  @extend %headline;
  margin: 0;
  padding-bottom: 10px;
}

.description {
  @extend %bodyText;
  color: $grey-text;
  margin: 0;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  margin-right: $site-gutter;
  border-radius: 100%;
  background-color: $white;

  .icon {
    stroke: $warning;
    fill: $warning;
  }
}