@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;
@use 'styles/common-animations.module' as *;

$sidebar-content-top: 180px;

.sidebarContainer {
  @include animationFunction($propertyToAnimate: all);
  position: absolute;
  height: calc(100vh - #{settings.$nav-bar-height});
  width: calc(#{settings.$sidebar-width} + 30px);
  top: settings.$nav-bar-height;
  left: settings.$site-gutter;
  padding-bottom: settings.$site-gutter;
  padding-left: 5px;
}

.container {
  @extend %verticalScrollbar;
  @include backdropBlur();
  position: absolute;
  top: $sidebar-content-top;
  left: settings.$site-gutter;
  display: flex;
  flex-direction: column;
  border: settings.$sidebar-border;
  border-radius: settings.$sidebar-border-radius;
  height: calc(100vh - #{$sidebar-content-top});
  width: settings.$sidebar-width;
  padding: settings.$site-gutter;
  z-index: settings.$bring-to-front;
}


.headerCard {
  @include backdropBlur();
  z-index: settings.$bring-to-front;
  top: settings.$ui-left-top;
  left: settings.$site-gutter;
  width: settings.$sidebar-width;
  padding: settings.$sidebar-paddings;
  border: settings.$sidebar-border;
}

.content {
  @extend %verticalScrollbar;
  @include backdropBlur();
  position: absolute;
  left: 40;
  display: flex;
  flex-direction: column;
  border: settings.$sidebar-border;
  border-radius: settings.$sidebar-border-radius;
  height: 72vh;
  width: settings.$sidebar-width;
  padding: settings.$site-gutter;
  z-index: settings.$bring-to-front;
}

.backButton {
  height: 32px;
  left: calc(#{settings.$local-sidebar-width} - #{settings.$rounded-button-size}/2);
  position: absolute;
  top: settings.$local-sidebar-top-margin;
  width: 32px;
}

.loading {
  padding: settings.$mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{settings.$tablet-portrait} {
    padding: settings.$sidebar-paddings;
  }
}

.loadingText {
  @extend %bodyText;
  margin-bottom: settings.$site-gutter;
  color: settings.$white;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nameWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
  min-height: 60px;
}

.areaName {
  @extend %display2;
  color: settings.$white;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 300px;
}

.saveButton {
  height: 30px;
  width: 60px;
  color: settings.$dark-text;
  background-color: settings.$brand-color-main;

  &:hover {
    background-color: settings.$brand-color-main-hover;
  }
}

.areaNameEdit {
  @extend %display2;
  background-color: transparent;
  border-width: 0 0 2px 0;
  color: settings.$white;
  margin: 0;
  max-width: 300px;
}

.area {
  @extend %annotation;
  color: settings.$grey-text;
  margin: 0;
}

.actionButtons {
  display: flex;

  button {
    margin-left: 5px;
  }
}

.contextualDataRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contextualIndicator {
  display: flex;
  align-items: center;

  span {
    @extend %subtitle;
    position: relative;
    top: 2px;
    color: settings.$white;
    margin: 0 5px;
    max-width: 105px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.scrollableArea {
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    max-height: 66px;
    border-radius: 3px;
    background-color: #DBDBDB;
    width: 30px;
  }
}

.actionButton {
  margin-left: settings.$site-gutter;
  margin-bottom: settings.$site-gutter;
}

.completeDatabaseWrapper {
  @extend %bodyText;
  color: settings.$white;
  margin-top: settings.$site-gutter;
  border-top: 2px solid settings.$white-opacity;
  padding-bottom: settings.$site-gutter;

  .link {
    @extend %title;
    width: 100%;
    background-color: settings.$white;
    color: settings.$dark-text;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: settings.$border-radius-desktop;
    text-decoration: none;
    text-align: center;
    padding: 10px 25px;

    &:hover {
      background-color: settings.$brand-color-main;
    }
  }
}

.mapLayersContainer {
  @extend %verticalScrollbar;
  height: 100%;
}

.goalSection {
  background-color: settings.$elephant;
  border: 1px solid settings.$white-opacity;
  border-radius: settings.$card-border-radius;
  color: settings.$white;
  margin-top: 20px;
  padding: 16px 20px;
  width: 100%;

  .goalHeader {
    align-items: center;
    display: flex;

    .goalTitle {
      @extend %bodyText;
      color: settings.$brand-color-main;
      margin-left: 16px;
      font-weight: settings.$font-weight;
    }
  }

  .goalSentence {
    @extend %display2;
    font-size: 24px;
    font-style: italic;
    letter-spacing: 2px;
    margin: 15px 0 0 0;

    span {
      color: settings.$brand-color-main;
    }
  }
}

.loadingAreaName {
  background-color: settings.$white;
  height: 1px;
  margin: 18px 0;
  width: 200px;
}

.loadingArea {
  background-color: settings.$white;
  opacity: 0.8;
  height: 1px;
  width: 100px;
  margin: 12px 0;
}

.loadingIndicator {
  background-color: settings.$white;
  height: 1px;
  width: 50px;
  margin: 2px 8px;

}