@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.sidebarContainer {
  @include animationFunction($propertyToAnimate: all);
  position: absolute;
  height: calc(100vh - #{$nav-bar-height});
  width: calc(#{$sidebar-width} + 30px);
  top: $nav-bar-height;
  left: $site-gutter;
  padding-bottom: $site-gutter;
  padding-left: 5px;
}

.headerCard {
  @include backdropBlur();
  z-index: $bring-to-front;
  top: $ui-left-top;
  left: $site-gutter;
  width: $sidebar-width;
  padding: $sidebar-paddings;
  border: $sidebar-border;
}

.content {
  @extend %verticalScrollbar;
  @include backdropBlur();
  position: absolute;
  left: 40;
  display: flex;
  flex-direction: column;
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  height: 72vh;
  width: $sidebar-width;
  padding: $site-gutter;
  z-index: $bring-to-front;
}

.backButton {
  position: absolute;
  top: -$local-sidebar-top-margin;
  left: calc(#{$local-sidebar-width}/2 - #{$rounded-button-size}/2);
}

.loading {
  padding: $mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-portrait} {
    padding: $sidebar-paddings;
  }
}

.loadingText {
  @extend %bodyText;
  margin-bottom: $site-gutter;
  color: $white;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: $site-gutter;
}

.nameWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
}

.areaName {
  @extend %display2;
  color: $white;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
}

.saveButton {
  height: 30px;
  width: 60px;
  color: $dark-text;
  background-color: $brand-color-main;

  &:hover {
    background-color: $brand-color-main-hover;
  }
}

.areaNameEdit {
  @extend %display2;
  background-color: transparent;
  border-width: 0 0 2px 0;
  color: $white;
  margin: 0;
  max-width: 300px;
}

.area {
  @extend %annotation;
  color: $grey-text;
  margin: 0;
}

.actionButtons {
  display: flex;
  button {
    margin-left: 5px;
  }
}

.contextualDataRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contextualIndicator {
  display: flex;
  align-items: center;
  cursor: help;
  span {
    @extend %subtitle;
    position: relative;
    top: 2px;
    color: $white;
    margin: 0 5px;
    max-width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.scrollableArea {
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    max-height: 66px;
    border-radius: 3px;
    background-color: #DBDBDB;
    width: 30px;
  }
}

.actionButton {
  margin-left: $site-gutter;
  margin-bottom: $site-gutter;
}

.completeDatabaseWrapper {
  @extend %bodyText;
  color: $white;
  margin-top: $site-gutter;
  border-top: 2px solid $white-opacity;

  .link {
    @extend %title;
    width: 100%;
    height: 40px;
    background-color: $white;
    color: $dark-text;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-desktop;
    text-decoration: none;
    &:hover {
      background-color: $brand-color-main;
    }
  }
}
