@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 30px;
  position: relative;
  width: 100vw;
  justify-content: space-between;

  @media (orientation: landscape) {
    margin-top: 0px;
    justify-content: start;
  }

  .subtitle {
    @extend %subtitle;
    color: $robins-egg-blue;
    text-align: center;

    @media (orientation: landscape) {
      margin-bottom: 0;
    }
  }

  .title {
    @extend %display1;
    color: $white;
    font-weight: 200;
    margin: 6px 20px 0 20px;
    text-align: center;
    font-size: 24px;
    padding: 0;
    line-height: 32px;
    @media (orientation: landscape) {
      margin-top: 0;
      padding: 20px;
    }
  }

  .footer {
    @extend %annotation;
    color: $grey-text;
    display: flex;
    font-weight: 300;
    margin: 0 20px 0 20px;

    @media (orientation: landscape) {
      bottom: 40px;
      position: absolute;
      font-size: 12px;
      line-height: normal;
    }

    p {
      text-align: center;
    }

    a {
      color: $grey-text;
      text-decoration: underline;
    }
  }

  .cards {
    align-self: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 32px 16px;

    @media (orientation: landscape) {
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 24px;
      margin: 0 16px 0 16px;
    }
  }
}
