@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

.scrolleableArea {
  box-sizing: content-box;
  height: 100%;
  overflow-y: scroll;
  padding-right: 67px;
  width: 93%;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;

  .rowsContainer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
  }

  .title {
    margin: 0;
    font-family: settings.$font-family-serif;
    color: settings.$white;
    font-weight: 100;
  }

  .closeButton {
    position: absolute;
    top: settings.$site-gutter;
    right: settings.$site-gutter;
    fill: settings.$white;

    svg g {
      fill: settings.$brand-color-secondary;
      stroke: settings.$brand-color-secondary;
      height: 22px;
      width: 22px;
    }

    &:hover svg g {
      fill: settings.$brand-color-secondary-hover;
      stroke: settings.$brand-color-secondary-hover;
    }
  }

  .section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .tabs {
    display: flex;

    .tab {
      color: settings.$white;
      text-transform: uppercase;
      border-bottom: 1px solid transparent;
      padding-bottom: 3px;

      &:hover {
        border-bottom: 1px solid transparent;
        color: settings.$grey-text;
      }

      &:last-of-type {
        margin-left: 10px;
      }
    }

    .selectedTab {
      color: settings.$brand-color-main;
      border-bottom: 1px solid settings.$brand-color-main;
      padding-bottom: 3px;

      &:hover {
        border-bottom: 1px solid transparent;
        color: settings.$brand-color-main;
      }
    }
  }

  .speciesTab {
    width: 210px;
  }

  .speciesTabTitle {
    display: inline-block;
    margin-top: 15px;
    font-family: settings.$font-family-1;
    font-size: settings.$font-size-xxs;
    font-weight: settings.$font-weight-bold;
    text-transform: uppercase;
    color: settings.$white;
  }

  .tableContainer {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .tableHeaderContainer {
    padding: 10px 74px 10px 10px;
    background-color: settings.$elephant;
    border-radius: 5px 5px 0 0;
    margin-bottom: 2px;
  }

  .tableHeader {
    display: flex;

    button {
      padding: 0 25px 0 28px;

      &:first-child {
        padding: 0 25px 0 0;
      }
    }
  }


  .tableRowContainer {
    display: flex;
    position: relative;
    width: 100%;
    border: 1px solid settings.$firefly;
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;

    >button {
      padding: 0;
    }
  }

  .arrowIcon {
    fill: settings.$white;
    transform: rotate(90deg);

    &.isOpened {
      transform: rotate(-90deg);
    }

    transition: transform 0.2s ease;

    >path {
      fill: inherit;
    }
  }

  .mainInfo {
    display: flex;
    padding: 8px 40px;
    align-items: center;

    @extend %bodyText;
    // Replaced private $_temporary-dark-text with public token
    color: settings.$dark-text;

    &.isOpened,
    &:hover {
      background-color: settings.$firefly;
    }

    &:first-of-type {
      padding: 8px 40px 8px 10px;
    }
  }

  .expandedInfo {
    max-height: 0;
    opacity: 0;

    &.isOpened {
      opacity: 1;
      max-height: 600px;
    }

    transition: all 0.5s ease;
  }

  .tableItem {
    flex: 1 1 0;
    text-align: left;
    color: settings.$white;
    padding: 0 25px 0 0;
    font-size: 14px;

    &.bold {
      font-family: settings.$font-family-1;
      font-weight: settings.$font-weight-bold;
    }

    &.italic {
      font-style: italic;
    }
  }

  .search {
    display: flex;
    align-items: center;
  }

  .searchInput {
    background-color: transparent;
    min-width: 300px;
    border: none;
    margin-left: 1em;
    color: settings.$white;

    &::placeholder {
      color: settings.$grey-text;
      text-transform: uppercase;
    }
  }

  .searchIcon {
    fill: settings.$white;
    height: 15px;
    width: 15px;

    g {
      stroke: settings.$white;
    }
  }

  .groupColor {
    position: absolute;
    width: 3px;
    top: 0;
    left: 0;
    height: 100%;

    &.mammals {
      background-color: settings.$mammals-color;
    }

    &.mar-mammals {
      background-color: settings.$mar-mammals-color;
    }

    &.amphibians {
      background-color: settings.$amphibians-color;
    }

    &.reptiles {
      background-color: settings.$reptiles-color;
    }

    &.birds {
      background-color: settings.$birds-color;
    }

    &.fishes {
      background-color: settings.$fishes-color;
    }
  }
}

.expandedButton {
  padding: 0;
}

.loader {
  margin-top: 25%;
  width: 100%,
}

.message {
  @extend %bodyText;
  color: settings.$white;
}