@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

.toggle {
  display: flex;
  align-items: center;
  fill: $dark-text;
  stroke: $dark-text;
}

.button {
  display: flex;
  height: 12px;
}

.icon {
  @extend %icon;
}

.iconWrapper {
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}