@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

.toggle {
  display: flex;
  align-items: center;
  fill: inherit;
  stroke: inherit;
}

.button {
  display: flex;
  height: 12px;
}

.icon {
  @extend %icon;
}

.tooltip {
  @extend %annotation;
  padding: 1px 4px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: $white;
}

.iconWrapper {
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
