@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.trendChart {
  display: block;
  position: relative;
  margin: 0;
}

.label {
  font-size: settings.$font-size-xxs;
  text-anchor: end;
  font-family: settings.$font-family-1;
}

.cursorText {
  @extend %annotation;

  fill: settings.$white;
  text-anchor: center;
}

.cursorLine {
  stroke: settings.$white;
  stroke-dasharray: 2;
}