@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

$top: calc(#{$sidebar-top-margin} + #{$he-project-logo-size});
$trends-width: 950px;

.container {
  @extend %verticalScrollbar;
  @include backdropBlur();
  position: absolute;
  top: $top;
  left: $site-gutter;
  display: flex;
  flex-direction: column;
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  height: calc(100vh - #{$top});
  width: $trends-width;
  z-index: $bring-to-front;

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    .title{
      display: flex;
      flex-direction: column;
      width: 310px;
      color: $white;
    }

    .tabs{
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;
      padding-left: 26px;
      padding-right: 5px;
      flex-grow: 1;

      button{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;

        label{
          color: #000;
          text-align: center;
          font-family: "Roboto Flex";
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        span{
          color: #000;
          text-align: center;
          font-family: "Roboto Condensed";
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        &.selected{
          background-color: $white;
        }
      }
    }
  }
}


$info-width: 300px;

.trends{
  display: flex;
  padding: $paragraph-gutter;
  gap: 10px;

  .info{
    width: $info-width;

    .title{
      @extend %display1;
      display: flex;
      gap: 10px;
      color: $white;
      margin: 0 0 calc($site-gutter / 2) 0;
      font-size: 24px;
      line-height: 1.5;
    }

    .description {
      @extend %bodyText;
      color: $white;
      margin: 0 0 calc($site-gutter / 2) 0;
      font-size: 14px;
    }

    .spsSpeciesTitle{
      color: $white;
      font-family: "Open Sans";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .spsSpecies{
      list-style: none;
      margin: 0;
      padding: 0;
      color: $white;

      li{
        display: flex;
        gap: 12px;
        margin: 6px 0;

        .spsInfo{
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .name{
            color: $white;
            font-family: "Open Sans";
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          .scientificname{
            color: $white;
            font-family: "Open Sans";
            font-size: 11px;
            font-style: italic;
            font-weight: 400;
            line-height: normal;
            flex-grow: 1;
          }

          .addToMap{
            color: $white;
            font-family: "Roboto Mono";
            font-size: 9px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            width: fit-content;
            padding: 0;
            text-decoration: underline;
          }
        }

        .spsScore{
          color: $white;
          font-family: "Open Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }

    .options{
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      margin-top: 10px;

      .helpText{
        color: $white;
        font-family: "Open Sans";
        font-size: 9px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  .btnGroup{
    display: flex;
    gap: 3px;
    padding: 2px;
    border: 1px solid $brand-color-main;
    border-radius: 5px;

    .saveButton{
      border: none;
    }
  }

  .saveButton {
    color: $dark-text;
    background-color: $brand-color-main;
    &:hover {
      background-color: $brand-color-main-hover;
    }
  }

  .notActive{
    background-color: transparent;
    color: $white;
    border: 1px solid $brand-color-main;
  }
}
