@import 'styles/settings';
@import 'styles/typography-extends';

.searchInputContainer {
  display: flex;
  align-items: flex-start;
  margin-left: 4px;
  width: 250px;

  .searchInput {
    @extend %subtitle;
    border: none;
    margin-left: 25px;
    background-color: transparent;
    color: $white;
  }

  .searchIcon {
    color: $white;
    fill: currentColor;
    height: 14px;
    min-width: 14px;
    margin-top: 4px;
  }
}