@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
