
@import 'styles/settings';
@import 'styles/typography-extends';

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
 
  @media #{$tablet-portrait} {
    height: unset;
    overflow-y: unset;
  }
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
  width: 100%;

  @media #{$tablet-portrait} {
    width: 960px;
  }
}

.title {
  @extend %headline;
  color: $white;
  font-size: 28px;
  margin: 0;
  margin-bottom: 50px;
  text-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
  padding: 20px;
  text-align: center;

  @media #{$tablet-portrait} {
    font-size: $font-size-xl;
    padding: 0;
    text-align: left;
  }
}

.logosWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  & > * {
    @extend %title;
    color: $logos-text;
    align-items: center;
    font-size: $font-size-sm;
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    width: 25%;
  }

  @media #{$tablet-portrait} {
    flex-direction: row;
  }
}

.description {
  @extend %bodyText;
  color: $white;
  margin: 0;
  text-align: center;
  padding: 20px;

  a {
    color: $brand-color-main;
    text-decoration: none;
  }

  @media #{$tablet-portrait} {
    padding: 0;
  }
}

.partners {
  .description {
    width: auto;

    @media #{$tablet-portrait} {
      width: 500px;
    }
  }
  .logosWrapper {
    justify-content: space-between;
    width: 75%;
  }
}

.platformPartners .logosWrapper {
  justify-content: center;
}

.sponsors .title {
  margin-bottom: 34px;
}

.narrow {
  height: 70px;
}