@import 'styles/settings';
@import 'styles/typography-extends';

.slider {
  width: 45%;
}

.title {
  @extend %annotation;
  line-height: $line-height;
}

.subtitle {
  @extend %annotation;
  color: $grey-text;
}

.bars {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 320px;
  padding-bottom: 20px;
}

.bar {
  display: block;
  width: 80px;
  background-color: $grey-text;
  margin: 10px 2px 0 0;

  .xAxisTick {
    @extend %annotation;

    top: 80px;
    position: absolute;
    color: $grey-text;
    min-width: 30px;
    margin-left: -6px;
  }

  .tickHighlighted {
    color: $white;
  }

  &.highlighted {
    background-color: $white;
  }
}