@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/shared-sidebar.module';

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
}

.layersTogglesContainer {
  @extend .sharedLayersTogglesContainer;

  &.open {
    height: 1307px;

    &.priorityTab {
      height: 782px;
    }

    &.richnessTab {
      height: 1287px;
    }
  }
}

.cardContainer {
  padding: 20px;
}