@import 'styles/settings';
@import 'styles/mixins';
@import 'styles/typography-extends';

.headerItem {
  @extend %subtitle;
  display: flex;
  align-items: end;
  flex: 1 1 0;
  color: $white;
  text-align: left;
  font-weight: 500;
  padding: 0 25px 0 10px;

  &:first-child {
    padding-left: 0;
  }
}

.sortArrows {
  display: inline-block;
  position: relative;
  transform: translate(5px, -2px);

  .arrowUp {
    @include caret($_temporary-light-text, 'up');
    position: absolute;
    top: -6.5px;
    &.highlightedSort::after {
      border-top-color: $white;
    }
  }

  .arrowDown {
    @include caret($_temporary-light-text, 'down');
    position: absolute;
    bottom: 11px;
    &.highlightedSort::after {
      border-bottom-color: $white;
    }
  }
}
