@use 'styles/settings' as settings;
@use 'styles/mixins' as mixins;
@use 'styles/typography-extends' as *;

.headerItem {
  @extend %subtitle;
  display: flex;
  align-items: flex-end;
  flex: 1 1 0;
  color: settings.$white;
  text-align: left;
  font-weight: 500;
  padding: 0 25px 0 10px;

  &:first-child {
    padding-left: 0;
  }
}

.sortArrows {
  display: inline-block;
  position: relative;
  transform: translate(5px, -2px);

  .arrowUp {
    // Using grey-text as replacement for temporary light text token
    @include mixins.caret(settings.$grey-text, 'up');
    position: absolute;
    top: -6.5px;

    &.highlightedSort::after {
      border-top-color: settings.$white;
    }
  }

  .arrowDown {
    @include mixins.caret(settings.$grey-text, 'down');
    position: absolute;
    bottom: 11px;

    &.highlightedSort::after {
      border-bottom-color: settings.$white;
    }
  }
}