@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px 26px;
  flex-grow: 1;

  --font-color: #{$white};
  --border-color: #{$brand-color-main};

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
  }

  .info{
    display: flex;
    gap: 15px;

    .specs{
      display: flex;
      flex-direction: column;
      row-gap: 8px;
      max-width: 180px;
      min-width: 180px;

      span{
        color: var(--font-color);
        font-family: "Open Sans";
        font-size: 12px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;

        b{
          color: var(--font-color);
          font-family: "Open Sans";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
    }

    .arcGrid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 70px 30px;
      justify-items: center;
      border-radius: 5px;
      height: 100px;
      border: 1.5px solid #18bab4;
      align-items: center;

      .values{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;

        b{
          font-size: 20px;
        }
      }

      .spi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .score{
          color: var(--font-color);
          text-align: center;
          font-family: "Open Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-top: -35px;
        }
      }

        b {
          color: var(--font-color);
          font-family: "Open Sans";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          align-self: end;
        }

        span{
          color: var(--font-color);
          font-family: "Open Sans";
          font-size: 12px;
          font-style: italic;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }
    }
  }
  .chart{
    width: 100%;
    margin-top: 25px;
    max-width: 580px;
  }
}
