
@import 'styles/settings';
@import 'styles/typography-extends';

.title {
  @extend %display2;
  margin: 0;
  color: $_temporary-dark-text;
  text-align: center;
  padding-bottom: $sidebar-cards-padding;
}

.datasetWrapper {
  display: flex;
}

.wdpaIcon {
  min-width: 13px;
  margin-right: 15px;
}

.wdpaIcon {
  width: 13px;
  height: 13px;
  position: relative;
  top: 5px;
  border-radius: 2px;
}

.gradientLegend {
  .description {
    padding: $paragraph-gutter;
  }
}

.description {
  @extend %bodyText;
  color: $dark-text;
  margin: 0;
}
