@import 'styles/settings';
@import 'styles/typography-extends';

.cardContainer {
  padding: $sidebar-paddings;
}

.chartContainer {
  position: relative;
  .chart {
    position: relative;
    left: 35px;
  }
}

.title {
  @extend %title;
  margin: 0;
  color: $_temporary-dark-text;
  text-align: center;
  padding-bottom: $site-gutter;
}

.chartLegend {
  background-color: white;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 77px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 95px;
  left: 90px;
}

.chartLegendItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartLegendItemNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %subtitle;
}

.legendList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: -10px 0 0;
}

.legendItem {
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 10px);
  margin-top: 10px;
}

.legendNameContainer {
  display: flex;
  flex-direction: column;
  font-family: $font-family-1;
  font-size: $font-size-xs;
}

.speciesName {
  font-weight: $font-weight-bold;
}

.speciesCount,
.speciesSentence {
  @extend %bodyText;
  color: $_temporary-dark-text;
}

.speciesCount {
  display: flex;
  align-items: center;
}

.birdsIcon,
.mammalsIcon,
.reptilesIcon,
.amphibiansIcon,
.fishesIcon,
.marMammalsIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  border-radius: 13px;
  margin-right: 10px;
}

.amphibiansIcon {
  background-color: $amphibians-color;
}

.reptilesIcon {
  background-color: $reptiles-color;
}

.mammalsIcon {
  background-color: $mammals-color;
}

.marMammalsIcon {
  background-color: $mar-mammals-color;
}

.birdsIcon {
  background-color: $birds-color;
}

.fishesIcon {
  background-color: $fishes-color;
}

.actionButton {
  width: 100%;
  justify-content: center;
  margin: 25px 0 0;
}
