@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container {
  --font-color: #{$white};
  --dark-color: #{$black};

  &.light{
    --font-color: #{$black};
    --dark-color: #{$white};
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
  height: max-content;
  border-left: 1px solid var(--font-color);

  .content{
    flex-grow: 1;
    height: 100%;
    color: var(--font-color);

    .sectionTitle{
      font-size: $font-size-tick;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.5;
      color: var(--font-color);
    }

    p{
      color: var(--font-color);
    }

    .sections{
      display: flex;
      gap: 12px;
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: space-between;

      .navCard{
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        fill: var(--font-color);
        width: 250px;

        .title{
          display: flex;
          align-items: flex-end;
          gap: 10px;
          border-bottom: 1px solid var(--font-color);
          width: 100%;
          svg {
            width: 40px;
            height: 40px;
            color: var(--font-color);
            fill: var(--font-color);
          }

          h2{
            text-transform: uppercase;
            margin: 0 0 5px;
            font-size: $font-size-rg;
          }
        }

        p{
          margin-top: 10px;
          text-align: left;
          font-size: $font-size-base;
        }
      }
    }
  }
}
