@import 'styles/settings';

.overrideCheckbox-protected-areas {
  input[type="checkbox"]:checked + label::before {
    background: $protected-areas;
    border: 2px solid $white; 
  }
}

.overrideCheckbox-community-areas {
  input[type="checkbox"]:checked + label::before {
    background: $protected-areas;
    border: 2px solid $white; 
  }
}