@import 'styles/settings';
@import 'styles/typography-extends';

.cardContainer {
  padding: 0 $sidebar-paddings;
  margin: $sidebar-cards-padding 0;
  min-height: 607px;
}

.legendContainer {
  padding: 0 $sidebar-cards-padding;
  margin-bottom: 2 * $sidebar-paddings;
}

.legendBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: $sidebar-paddings;
  & :last-child {
    margin-bottom: 0;
  }
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  & :last-child {
    margin-bottom: 0;
  }
}

.color {
  width: 10px;
  height: 18px;
  display:inline-block;
  margin-right: 8px;
}

.label {
  @extend %subtitle;
  color: $white;
}