@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.wrapper {
  @include backdropBlur();
  padding: $sidebar-paddings 0;
  padding-bottom: 24px;
}

.titleSection {
  display: flex;
  padding: 0 $sidebar-paddings;
}

.widgetTitle {
  color: $white;
  @extend %title;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
}

.description {
  color: $alto;
  @extend %annotation;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 $sidebar-paddings;
}