@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  --font-color: #{$white};

  &.light{
    --font-color: #{$black};
  }

  width: 100%;
  height: max-content;
  border-left: 1px solid var(--font-color);

  .selectedRegion{
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: var(--font-color);
    padding: 10px;

    h2{
      margin: 0;
      padding: 0;
    }

    .regionInfo{
      display: flex;
      flex-direction: column;

      span{
        font-style: italic;
      }
    }
  }
}
