@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';
@import 'styles/common-animations.module';

$card-content-max-height: 220px;

.container {
  position: fixed;
  bottom: $menuFooterHeight;
  display: flex;
  width: 100%;
  min-height: 380px;
  background-color: transparent;
  overflow: hidden;
  pointer-events: all;

  @media #{$tablet-portrait} {
    position: absolute;
    bottom: 0;
    pointer-events: none;
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;

  @media #{$tablet-portrait} {
    height: unset;
    margin-bottom: 0;
  }
}

.navigation {
  width: 100%;
  max-width: $card-max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: all;
  background-color: $white;
  padding: 22px $mobile-sidebar-side-paddings 10px $mobile-sidebar-side-paddings;
  border-radius: $border-radius-mobile;

  @media #{$tablet-portrait} {
    padding: 0;
    border-radius: 0;
    height: 45px;
    background-color: transparent;
  }

  .backToMap {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  
    .text {
      @extend %title;
      color: $black;
      margin: 0;

      @media #{$tablet-portrait} {
        color: $white;
      }
    }
  
    .arrowIcon {
      top: 2px;
      position: relative;
      transform: rotate(180deg);
      margin-right: 10px;
      fill: $black;

      @media #{$tablet-portrait} {
        fill: $white;
        margin-right: 30px;
      }
    }
  }

  .placesNavigator {
    width: 100px;
    padding: 0 10px;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .arrowWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 100%;
      cursor: pointer;
    }

    .leftArrow {
      transform: rotate(180deg);
      fill: $dark-text;
      stroke: $dark-text;
    }

    .separator {
      height: 20px;
      width: 1px;
      background-color: $grey-text;
    }

    .rightArrow {
      fill: $dark-text;
      stroke: $dark-text;
    }
  }
}

.cardGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 170px 1fr;
  grid-template-areas: 
    "title"
    "picture"
    "text";

  background-color: $white;
  pointer-events: all;
  position: relative;
  max-width: $card-max-width;
  padding: 12px $mobile-sidebar-side-paddings 0;
  overflow-y: scroll;
  width: 100%;

  @media #{$tablet-portrait} {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 190px 1fr;
    grid-template-areas: 
      "picture text"
      "exploreButton text";

    overflow-y: unset;
    height: 350px;
    padding: 60px 40px 40px;
  }

  .pictureContainer {
    background-color: $alto;
    height: 170px;
    position: relative;
    grid-area: picture;

    .picture {
      float: left;
      height: 100%;
      object-fit: cover;
      margin-right: 0;
      margin-bottom: 22px;
      cursor: pointer;
      width: 100%;
    }

    @media #{$tablet-portrait} {
      height: unset;

      .picture {
        margin-right: 40px;
        margin-bottom: 0;
      }
    }
  }

  .landscapeTriggerButton {
    align-self: end;
    display: flex;
    justify-self: start;
    align-items: center;
    margin-top: 20px;
    grid-area: exploreButton;
  }

  .landscapeTriggerText {
    @extend %subtitle;
    color: $dark-text;
  }

  .contentContainer {
    grid-area: text;
    padding-bottom: 20px;

    @media #{$tablet-portrait} {
      max-height: $card-content-max-height;
      overflow-y: scroll; 
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      mask-image: linear-gradient(to bottom,
      rgba(0,0,0,1) 85%,
      rgba(0,0,0,0) 100%
      );
    }
  }

  .title {
    @extend %display1;
    font-size: $font-size-xl;
    line-height: 30px;
    color: $dark-text;
    margin: 0;
    margin-bottom: 12px;
    grid-area: title;

    @media #{$tablet-portrait} {
      margin-bottom: 0;
      font-size: $font-size-xxl;
      line-height: 50px;
    }
  }

  .text {
    @extend %bodyText;
    color: $dark-text;
    padding-bottom: 22px;

    @media #{$tablet-portrait} {
      padding-bottom: 0;
    }
  }

  .sourceText {
    @extend %bodyText;
    color: $dark-text;
    padding-bottom: 24px;
  }
}

// mobile only

.spacer {
  height: 1px;
  width: calc(100% - (2 * #{$mobile-sidebar-side-paddings}));
  background-color: $alto;
}

.spacerContainer {
  height: 3px;
  width: 100%;
  background-color: $white;
  display: flex;
  justify-content: center;
}

.exploreAreaButtonContainer {
  background-color: $white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: {
    bottom: 12px;
    top: 12px;
  }
}

.exploreAreaButton {
  @extend %title;
  font-family: $font-family-1;
  font-size: 10px;
  width: calc(100% - (2 * #{$mobile-sidebar-side-paddings}));
  border-radius: 2px;
  padding: 10px 40px;
  color: $firefly;
  background-color: $robins-egg-blue;
}

.shareButton {
  background-color: $elephant;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}