@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

.container {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  min-height: 380px;
  background-color: transparent;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navigation {
  width: 100%;
  height: 45px;
  max-width: $card-max-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: all;

  .backToMap {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  
    .text {
      @extend %title;
      color: $white;
      margin: 0;
    }
  
    .arrowIcon {
      top: 2px;
      position: relative;
      transform: rotate(180deg);
      margin-right: 30px;
    }
  }

  .placesNavigator {
    width: 100px;
    padding: 0 10px;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .arrowWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 100%;
      cursor: pointer;
    }

    .leftArrow {
      transform: rotate(180deg);
      fill: $dark-text;
      stroke: $dark-text;
    }

    .separator {
      height: 20px;
      width: 1px;
      background-color: $grey-text;
    }

    .rightArrow {
      fill: $dark-text;
      stroke: $dark-text;
    }
  }
}



.card {
  pointer-events: all;
  position: relative;
  flex-grow: 1;
  width: 100%;
  max-width: $card-max-width;
  background-color: white;
  padding: 60px 40px 0px;

  .pictureContainer {
    width: 300px;
  }
  
  .picture {
    float: left;
    width: 100%;
    margin-right: 40px;
  }
  
  .title {
    @extend %display1;
    color: $dark-text;
    margin: 0;
  }
  .text {
    @extend %bodyText;
    color: $dark-text;
  }
}
