@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

.container {
  bottom: 4px;
  display: flex;
  height: 40%;
  left: 3%;
  position: absolute;
  width: 94vw;
  z-index: 10;

  .card {
    border: 1px solid $elephant;
    color: $white;
    min-width: 94vw;
    padding: 24px 16px;
    background: rgba($navy-he, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include backdropBlur();

    h5 {
      @extend %display1;
      font-size: 16px;
      line-height: 20px;
      margin: 0;
    }

    p {
      @extend %bodyText;
    }

    .withLegend {
      display: flex;
    }

    .title {
      margin-bottom: 8px;
    }

    .description {
      margin: 2px 0;
    }

    .legendContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .legendTitle,
      .legend {
        color: $white;
        margin: 0;
      }

      .legendTitle {
        @extend %bodyText;
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 6px;
      }

      .singleLegend {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 3.5px 8px 0 0;
        border: 1px solid $white;
        border-radius: 2px;
      }

      .source {
        @extend %annotation;
        color: $grey-text;
        font-size: $font-size-xxs;
        max-width: 90vw;
        margin: 2px 0 0 0;
        line-height: 6px;


        .sourceIntro {
          display: inline;
        }

        a {
          color: $grey-text;
        }

        p {
          display: inline;
          margin-bottom: 0;
          font-size: $font-size-xxs;
          line-height: 1rem;
        }
      }
    }
  }

  .progress {
    @extend %bodyText;
    border: 1px solid $elephant;
    border-radius: 2px;
    color: $white;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 16px;
    margin: 0;
    position: absolute;
    top: -10px;
    width: 34px;
    z-index: 11;

    p {
      font-size: 12px;
      margin: 0;
    }
  }
}
