@import 'styles/settings';

.legendItemToolbar {
  margin: 4px 0 0 20px; // Margin with the title
  flex-shrink: 0;
  display: flex;
  align-items: center;

  > * {
    &:last-child {
      margin-right: 0;
    }
  }
}
