@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

$checkbox-size: 14px;

.checkboxWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: calc(#{$checkbox-size} + 10px );
  cursor: pointer;
  height: 30px;
  width: 100%;

  &:after {
    content: "";
    height: $checkbox-size;
    width: $checkbox-size;
    position: absolute;
    left: 0;
    border: 1px solid $white;
    border-radius: 2px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    height: $checkbox-size;
    width: $checkbox-size;
    border-radius: 2px;
  }
}

.label {
  color: inherit;
  margin-right: $site-gutter;
}

.icon {
  @extend %icon;
}

.rightDot {
  border-radius: 50%;
  display: block;
  height: 10px;
  width: 10px;
}