@import 'styles/settings';
@import 'styles/typography-extends';

.cardWrapper {
  margin-top: $site-gutter;
}

.togglesContainer {
  fill: $dark-text;
  width: calc(100% + (2*#{$sidebar-cards-padding}));
  left: -$sidebar-cards-padding;
  position: relative;
}

.title {
  @extend %display2;
  text-align: center;
  margin: 0;
  padding-bottom: $site-gutter;
}

.description {
  @extend %bodyText;

  p {
    margin: 0;
  }
}

.fullwidthButton {
  width: 100%;
  color: $light-text;
  background-color: $brand-color-secondary;
  padding: 10px;
  margin-top: 10px;

  &:hover {
    background-color: $firefly;
  }
}

.warningWrapper {
  display: flex;
  .warning {
    min-width: $site-gutter;
    margin-right: $paragraph-gutter;
    fill: $warning;
  }
}
