@import 'styles/settings';
@import 'styles/typography-extends';

.cardWrapper {
  margin-top: $site-gutter;
}

.togglesContainer {
  fill: $dark-text;
  width: calc(100% + (2*#{$sidebar-cards-padding}));
  left: -$sidebar-cards-padding;
  position: relative;
}

.title {
  @extend %display2;
  text-align: center;
  margin: 0;
  padding-bottom: $site-gutter;
  letter-spacing: 0.8px;
}

.description {
  @extend %bodyText;
  margin: 10px 0 0 0;

  p {
    margin: 0;
  }
}

.fullwidthButton {
  width: 100%;
  color: $light-text;
  background-color: $brand-color-secondary;
  padding: 10px;
  margin-top: 10px;

  &:hover {
    background-color: $firefly;
  }
}

.warningWrapper {
  display: flex;
  .warning {
    min-width: $site-gutter;
    margin-right: $paragraph-gutter;
    fill: $warning;
  }
}

.hpLegendTitle {
  @extend %bodyText;
  color: $dark-text;
  text-transform: uppercase;
  margin: 0px 0 8px 0;
}

.humanPressureIndicators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 14px;
  row-gap: 6px;
  margin: 24px 0;

  .humanPressureIndicator {
    position: relative;
    height: 120px;
    width: 166px;

    .title {
      @extend %bodyText;
      text-align: left;
      padding: 0;

    }
    .percentage {
      @extend %display2;
      margin: 0;
    }

    .hpChartContainer {
      position: absolute;
      left: -18px;
      top: 50px;
    }
  }
}

.protectedAreaChartContainer {
  margin-top: 4px;
  .protectedAreaChartLegend {
    @extend %bodyText;
    text-align: center;
    margin: 6px 0 44px 0;
  }
}

.attributtesContainer {

  .attributtesItem {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(34, 34, 34, 0.1);

    .titleWrapper {
      align-items: center;
      display: flex;

      .title {
        @extend %bodyText;
        color: $oslo-gray;
        font-size: 12px;
        font-weight: $font-weight;
        margin: 0 9px 0 0;
        padding: 0;
      }
    }

    .value {
      @extend %bodyText;
      font-size: 12px;
      margin: 0 0 0 38px;
      line-height: 22px;
    }
  }
}

.tooltip {
  @extend %annotation;
  background-color: $white;
  border-radius: $border-radius-desktop;
  box-shadow: $box-shadow-light-bottom-large;
  color: $dark-text;
  padding: 2px 6px;
  width: 65px;
  margin-bottom: 5px;
}
