@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.cardWrapper {
  margin-top: settings.$site-gutter;
}

.togglesContainer {
  fill: settings.$dark-text;
  width: calc(100% + (2*#{settings.$sidebar-cards-padding}));
  left: calc(-1 * #{settings.$sidebar-cards-padding});
  position: relative;
}

.title {
  @extend %display2;
  text-align: center;
  margin: 0;
  padding-bottom: settings.$site-gutter;
  letter-spacing: 0.8px;
}

.description {
  @extend %bodyText;
  margin: 10px 0 0 0;

  p {
    margin: 0;
    position: relative;
  }
}

.fullwidthButton {
  width: 100%;
  color: settings.$light-text;
  background-color: settings.$brand-color-secondary;
  padding: 10px;
  margin-top: 10px;

  &:hover {
    background-color: settings.$firefly;
  }
}

.reverseIconButton {
  flex-direction: row-reverse;
  gap: 10px;

  svg {
    margin-right: 0 !important;
  }
}

.warningWrapper {
  display: flex;

  .warning {
    min-width: settings.$site-gutter;
    margin-right: settings.$paragraph-gutter;
    fill: settings.$warning;
  }
}

.hpLegendTitle {
  @extend %bodyText;
  color: settings.$dark-text;
  text-transform: uppercase;
  margin: 0px 0 8px 0;
}

.protectedAreaChartContainer {
  margin-top: 4px;

  .protectedAreaChartLegend {
    @extend %bodyText;
    text-align: center;
    margin: 6px 0 44px 0;
  }
}

.attributtesContainer {

  .attributtesItem {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(34, 34, 34, 0.1);

    .titleWrapper {
      align-items: center;
      display: flex;

      .title {
        @extend %bodyText;
        color: settings.$oslo-gray;
        font-size: 12px;
        font-weight: settings.$font-weight;
        margin: 0 9px 0 0;
        padding: 0;
      }
    }

    .value {
      @extend %bodyText;
      font-size: 12px;
      margin: 0 0 0 38px;
      line-height: 22px;
      text-align: right;
    }
  }
}

.tooltip {
  @extend %annotation;
  background-color: settings.$white;
  border-radius: settings.$border-radius-desktop;
  box-shadow: settings.$box-shadow-light-bottom-large;
  color: settings.$dark-text;
  padding: 2px 6px;
  margin-bottom: 5px;
}

.tooltipTriggerText {
  text-decoration: underline dotted;
}

.tooltipContainer {
  position: relative;
}