
@import 'styles/settings';
@import 'styles/ui.module';

.locationButton {
  @extend .uiRight;
  top: 122px;
  align-items: center;
  background-color: $elephant;
  border-radius: 2px;
  display: flex;
  height: $widget-button-size;
  justify-content: center;
  padding: 0;
  width: $widget-button-size;

  &:hover svg {
    stroke: $robins-egg-blue;
  }

  svg {
    stroke: $white;
  }
}

$durationTime: 800ms;

.spinnerAnimation {
  animation-name: spin;
  animation-duration: $durationTime;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
  }
  @-moz-keyframes spin {
      from { -moz-transform: rotate(0deg); }
      to { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
      from { -webkit-transform: rotate(0deg); }
      to { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
    }
}

.icon {
  height: 16px;
  width: 16px;
}