@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.speciesModal {
  height: 100%;
  left: 0;
  overflow-y: scroll;
  top: 0;
  width: 100vw;
  z-index: 11;

  @media #{$tablet-portrait} {
    background-color: $elephant;
    height: 100vh;
    overflow-y: unset;
    position: absolute;
  }

  .grid {
    @media #{$tablet-portrait} {
      padding: 70px 5% 50px;
      height: 100%;
    }
  }

  .title {
    margin: 0;
    font-family: $font-family-serif;
    color: $white;
    font-weight: 100;
  }

  .closeButton {
    position: absolute;
    top: $site-gutter;
    right: $site-gutter;
    fill: $white;
    svg g {
      fill: $brand-color-secondary;
      stroke: $brand-color-secondary;
      height: 22px;
      width: 22px;
    }

    &:hover svg g {
      fill: $brand-color-secondary-hover;
      stroke: $brand-color-secondary-hover;
    }
  }

  .section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .summary {
    display: flex;
    flex-direction: column;
    align-items: flex-end
  }

  .speciesTab {
    width: 210px;
  }

  .speciesTabTitle {
    display: inline-block;
    margin-top: 15px;
    font-family: $font-family-1;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $white;
  }

  .tableHeaderContainer {
    min-height: 60px;
    padding: 15px 74px 15px 40px;
    background-color: $firefly;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 2px;
  }

  .tableHeader {
    display: flex;
  }


  .tableRowContainer {
    display: flex;
    position: relative;
    min-height: 50px;
    width: 100%;
    // background-color: $white;
    border: 1px solid $firefly;
  }

  .tableRow {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $elephant;

    > button {
      padding: 0;
    }
  }

  .arrowIcon {
    fill: $white;
    transform: rotate(90deg);

    &.isOpened {
      transform:rotate(-90deg);
    }

    transition: transform 0.2s ease;

    > path {
      fill: inherit;
    }
  }

  .mainInfo {
    display: flex;
    padding: 0 40px;
    align-items: center;
    min-height: 50px;

    @extend %bodyText;
    color: $_temporary-dark-text;

    &.isOpened, &:hover {
      background-color: $firefly;
    }
  }

  .expandedInfo {
    max-height: 0;
    opacity: 0;

    &.isOpened {
      opacity: 1;
      max-height: 600px;
    }

    transition: all 0.5s ease;
  }

  .tableItem {
    flex: 1 1 0;
    text-align: left;
    color: $white;
    padding: 0 25px 0 0;

    &.bold {
      font-family: $font-family-1;
      font-weight: $font-weight-bold;
    }
    &.italic {
      font-style: italic;
    }
  }

  .loader {
    background-color: $white;
    display: flex;
    justify-content: center;
  }

  .search {
    display: flex;
    align-items: center;
  }

  .searchInput {
    // @extend %title;
    background-color: transparent;
    min-width: 300px;
    border: none;
    margin-left: 1em;
    color: $white;
    &::placeholder {
      color: $accent-grey;
      text-transform: uppercase;
    }
  }

  .searchIcon {
    fill: $accent-grey;

    g {
      stroke: $_temporary-dark-text;
    }
  }

  .groupColor {
    position: absolute;
    width: 3px;
    top: 0;
    left: 0;
    height: 100%;

    &.mammals {
      background-color: $mammals-color;
    }

    &.mar-mammals {
      background-color: $mar-mammals-color;
    }

    &.amphibians {
      background-color: $amphibians-color;
    }

    &.reptiles {
      background-color: $reptiles-color;
    }

    &.birds {
      background-color: $birds-color;
    }

    &.fishes {
      background-color: $fishes-color;
    }
  }
}

.expandedButton {
  padding: 0;
}
