@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.speciesModal {
  height: 100%;
  left: 0;
  overflow-y: scroll;
  top: 0;
  width: 100vw;
  z-index: 11;

  @media #{$tablet-portrait} {
    background-color: $modal-light-background;
    height: 100vh;
    overflow-y: unset;
    position: absolute;
  }

  .grid {
    @media #{$tablet-portrait} {
      padding: 70px 5% 50px;
      height: 100%;
    }
  }

  .title {
    font-family: $font-family-2;
    font-size: $font-size-xl;
    font-weight: $font-weight;
  }

  .summary,
  .search {
    font-family: $font-family-1;
    font-size: $font-size-xs;
  }

  .closeButton {
    svg g {
      fill: $brand-color-secondary;
      height: 22px;
      stroke: $brand-color-secondary;
      width: 22px;
    }

    &:hover svg g {
      fill: $brand-color-secondary-hover;
      stroke: $brand-color-secondary-hover;
    }
  }

  .section {
    display: flex;
    justify-content: space-between;
  }
}
