@import 'styles/settings';
@import 'styles/typography-extends';

.title {
  @extend %_temporaryTitle;
  margin: 0;
  color: $_temporary-dark-text;
  text-align: center;
  padding-bottom: $sidebar-paddings;
}

.datasetWrapper {
  display: flex;
}

.wdpaIcon,
.priorityIcon {
  min-width: 13px;
  margin-right: 15px;
}

.wdpaIcon {
  width: 13px;
  height: 13px;
  position: relative;
  top: 5px;
  border-radius: 2px;
  background-color: #008604;
}

.priorityIcon {
  height: 241px;
  width: 12px;
  border-radius: 2px;
  background: linear-gradient(0deg, #47039F 0%, #9C179E 12.51%, #BD3786 30.56%, #D8576B 46.02%, #ED7953 59.45%, #FA9E3B 74.07%, #FDC926 86.18%, #F0F921 100%);
}

.priorityLegend {
  .datasetWrapper {
    padding: 15px 0;
    align-items: center;
  }
}

.legendTag {
  @extend %subtitle;
  margin: 0;
}

.datasetExplanation {
  @extend %bodyText;
  color: $_temporary-dark-text;
  margin: 0;
  padding-bottom: 5px;
}

.datasetSource {
  @extend %annotation;
  color: $_temporary-light-text;
  margin: 0;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}