@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/ui.module';

.radioOption {
  @extend %subtitle;
  color: $white;
  align-items: center;
  margin-bottom: 4px;
  cursor: pointer;
  height: 30px;
  width: 100%;
}

.reverseSwitchIcon {
  transform: rotate(180deg);
}

.container {
  display: flex;
  width: $sidebar-width;
  left: -20px;
  padding: 0 20px;
  position: relative;
  justify-content: space-between;
  &:hover,
  &.checked {
    background-color: $white-opacity;
  }

}