@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';

.sidebar {
  display: inline-block;
  box-sizing: border-box;
  border-radius: $border-radius-mobile;
  left: 0;
  top: auto;
  overflow: hidden;
  @include bottom();
  position: fixed;

  @media #{$tablet-portrait} {
    overflow: unset;
    border-radius: 2px;
    width: auto;
    bottom: auto;
    @include topLeft();
    @include animationFunction($propertyToAnimate: all);
    &.countrySelected {
      top: $high-sidebar-top-margin;
    }
  }
}

.wrapper {
  @include backdropBlur();
  border: $sidebar-border;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 345px;
  overflow-y: scroll;
  border-radius: $border-radius-mobile;

  @media #{$tablet-portrait} {
    overflow-y: unset;
    width: $sidebar-width;
    border-radius: 2px;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}

.button {
  display: flex;
  align-items: center;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  letter-spacing: 2px;
  color: $robins-egg-blue;
  padding: 0;
}

.buttonText {
  margin-right: 10px;
}

.icon {
  transform: rotate(180deg);
  height: 25px;
}

.content {
  @extend %verticalScrollBar;
  max-height: calc(100vh - (#{$sidebar-top-margin} + #{$sidebar-header-height}));
  width: auto;
  position: relative;
  &.high {
    max-height: calc(100vh - (#{$high-sidebar-top-margin} + #{$sidebar-header-height}));
  }

  @media #{$tablet-portrait} {
    width: 310px;
    padding-right: 30px;
  }
}