@import 'styles/ui.module';
@import 'styles/settings';

.sidebar {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
}

.wrapper {
  @include backdropBlur();
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  bottom: 0;
  width: $sidebar-width;
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  letter-spacing: 2px;
  color: $robins-egg-blue;
  padding: 0;
}

.buttonText {
  margin-right: 10px;
}

.icon {
  transform: rotate(180deg);
  height: 25px;
}

.content {
  @extend %verticalScrollBar;
  max-height: calc(100vh - (#{$sidebar-top-margin} + #{$sidebar-header-height}));
  width: $sidebar-width;
}