@import 'styles/ui.module';
@import 'styles/settings';

.sidebar {
  @extend .backdropBlur;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
}

.wrapper {
  width: $sidebar-width;
  margin: {
    top: $sidebar-margin;
  }
  display: flex;
  flex-direction: column;
  height: calc(100vh - 92px); // 92px => 2 * $sidebar-margin + search widget height and margin

  & > * {
    padding-left: $sidebar-margin;
  }
}

.content {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  letter-spacing: 2px;
  color: $robins-egg-blue;
  padding: 0;
}

.buttonText {
  margin-right: 10px;
}

.icon {
  transform: rotate(180deg);
  height: 25px;
}