@import 'styles/ui.module';
@import 'styles/settings';

$margin: 20px;

.sidebar {
  @extend .backdropBlur;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 2px;
}

.wrapper {
  width: $sidebar-width - $margin;
  margin: {
    left: $margin;
    top: $margin;
  }
  display: flex;
  flex-direction: column;
  height: calc(100vh - 92px); // 40px => 2 * $margin + search widget height and margin
}

.content {
  overflow-y: scroll;
}

.button {
  display: flex;
  align-items: center;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  letter-spacing: 2px;
  color: $robinsEggBlue;
  padding: 0;
}

.buttonText {
  margin-right: 10px;
}

.icon {
  transform: rotate(180deg);
  height: 25px;
}