@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.container {
  @include backdropBlur();
  @include bottom();
  padding: 30px 20px;
  border-radius: 16px 16px 0 0;
  display: none;
}

.box {
  @extend %subtitle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white;
  padding: 40px;
  position: relative;
  cursor: pointer;

  &:not(:last-child) {
    &::after {
      @extend %spacer;
  
      bottom: 1px;
      left: 0;
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      z-index: 5;
    }
  }
}

.title {
  max-width: 320px;
}

.visible {
  display: block;
}

.modalWrapper {
  background-color: $dark-text;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 11;
}

.button {
  margin-top: 38px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  letter-spacing: 2px;
  color: $robins-egg-blue;
  padding: 0;
}

.icon {
  transform: rotate(180deg);
  height: 25px;
}

.backButton {
  margin-top: 4px;
}