@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container {
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};
  --selected-green: #{$lime-green};

  &.light {
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
  height: max-content;
  border-left: 1px solid var(--font-color);

  .sectionTitle {
    font-size: $font-size-tick;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--font-color);
  }

  .sectionSubtitle {
    font-size: $font-size-sm;
    font-style: italic;
    color: var(--font-color);
  }

  .selectionTitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color);
  }

  .selectionSubTitle {
    ont-size: 14px;
    font-weight: 400;
    color: var(--font-color);
    padding: 4px 0 8px;
  }

  p {
    font-size: $font-size-sm;
    color: var(--font-color);
  }

  .choices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--font-color);

    .radioGroup {
      display: flex;
      flex-direction: column;
      padding: 12px;

      label {
        padding: 12px 8px;
        border-radius: 8px;

        span {
          svg {
            fill: var(--light-grey);
          }
        }
        &.selected {
          background-color: #0d4a5a;

          span {
            svg {
              fill: var(--lime-green);
            }
          }
        }
      }
      .disabled {
        span {
          color: var(--font-color);
          font-style: italic;
          opacity: 0.5;
        }
      }

      .regionLabel {
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: var(--font-color);
        font-size: $font-size-sm;

        .regionTitle {
          font-weight: 500;
          color: var(--font-color);
        }

        .regionDescription {
          font-weight: 400;
          font-size: $font-size-xs;
          color: var(--font-color);
          margin: 0;
        }
      }
    }

    .customAreaContainer {
      display: flex;
      gap: 8px;

      .customArea {
        background-color: transparent;
        border: 1px solid var(--lime-green);
        color: var(--lime-green);
        padding: 10px 24px;
        width: max-content;
      }

      .comingSoon {
        display: flex;
        flex-direction: column;
        gap: 8px;

        span {
          font-size: $font-size-sm;
        }

        button {
          color: var(--save-button-text);
          background-color: var(--border-color);
          padding: 10px 24px;
          &:hover {
            background-color: var(--border-color-hover);
          }

          &.disabled {
            color: #aababc;
            background-color: #5a5a5a;
          }

          span {
            font-style: normal;
          }
        }
      }
    }
  }

  .search {
    display: flex;
    column-gap: 8px;
    margin-top: 8px;

    .saveButton {
      color: var(--save-button-text);
      background-color: var(--border-color);
      &:hover {
        background-color: var(--border-color-hover);
      }
    }
  }
}
