@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;
  height: max-content;
  border-left: 1px solid var(--font-color);

  .sectionTitle{
    font-size: $font-size-tick;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--font-color);
  }

  .sectionSubtitle{
    font-size: $font-size-sm;
    font-style: italic;
    color: var(--font-color);
  }

  p{
    font-size: $font-size-sm;
    color: var(--font-color);
  }

  .choices{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--font-color);

    span{
      color: var(--font-color);
    }

    .disabled{
      span{
        color: var(--font-color);
        font-style: italic;
        opacity: 0.5;
      }
    }

    .comingSoon{
      display: flex;
      flex-direction: column;
      gap: 8px;

      span{
        font-size: $font-size-sm;
      }

      button{
        width: 200px;
        color: var(--save-button-text);
        background-color: var(--border-color);
        &:hover {
          background-color: var(--border-color-hover);
        }

        &.disabled{
          color: var(--font-color);
          border: 1px solid rgba(255, 255, 255, 0.5);
          background-color: transparent;
        }

        span{
          font-style: normal;
        }
      }
    }
  }

  .search{
    display: flex;
    column-gap: 8px;
    margin-top: 8px;

    .saveButton {
      color: var(--save-button-text);
      background-color: var(--border-color);
      &:hover {
        background-color: var(--border-color-hover);
      }
    }
  }
}
