@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  width: 100%;

  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  height: max-content;
  border-left: 1px solid var(--font-color);

  .sectionTitle{
    font-size: $font-size-tick;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--font-color);
  }

  .commonName{
    font-size: $font-size-tick;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.5;
    color: var(--font-color);
  }

  .speciesName{
    font-size: $font-size-tick;
    text-transform: capitalize;
    font-style: italic;
    line-height: 1.5;
    color: var(--font-color);
  }

  .tabs{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-left: 26px;
    padding-right: 5px;
    border-bottom: solid 2px var(--border-color);

    button{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      .perc{
        color: var(--font-color);
        text-align: center;
        font-family: $font-family-roboto-flex;
        font-size: $font-size-rg;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      span{
        color: var(--font-color);
        text-align: center;
        font-family: $font-family-roboto-condensed;
        font-size: $font-size-xs;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &.selected{
        background-color: var(--border-color);
        color: $white;
        border: solid 2px var(--border-color);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom: none;

        label,
        span{
          color: var(--selected-font-color);
        }
      }
    }
  }

  p{
    font-size: $font-size-xs;
    color: var(--font-color);
  }

  .choices{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .search{
    display: flex;
    column-gap: 8px;
    margin-top: 8px;

    .saveButton {
      color: var(--save-button-text);
      background-color: var(--border-color);
      &:hover {
        background-color: var(--border-color-hover);
      }
    }
  }
}
