@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.closeButton {
  height: 32px;
  width: 32px;
  transform: rotate(0deg);
  transition: .5s cubic-bezier(0.6, 0.2, 0, 0.8);
  color: settings.$black;

  &:hover {
    color: settings.$brand-color-main;
    transform: rotate(90deg);
  }

  svg path {
    stroke: currentColor;
    fill: currentColor;
  }
}