@import 'styles/settings';
@import 'styles/typography-extends';

.nrcContent {
  width: 100%;
  height: 80vh;
  overflow: hidden;

  .scrolleableArea {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 20px;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
  }

  .scrolleableArea::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .closeButton {
    top: $local-sidebar-top-margin;
    right: -16px;
    position: absolute;
  }

  .header {
    padding-top: $local-sidebar-top-margin;
    padding-left: 40px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $white-opacity;

    .titleWrapper {
      display: flex;

      .title {
        @extend %display2;
        margin: 0;
        padding-left: 10px;
        color: $white;
      }

      .backBtn {
        padding: 0;
        margin-left: -10px;
        .arrowIcon {
          fill: $white;
          height: 36px;
          width: 34px;
          &:hover {
            fill: $grey-text;
          }
        }
      }
    }
  }

  .countryDescriptionContainer {
    column-count: 2;
    padding: $local-sidebar-top-margin 40px $local-sidebar-top-margin 20px;
    .countryDescription {
      @extend %bodyText;
      color: $grey-text;
      margin: 0;
    }
  }

  .indicatorCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-left: 20px;
    padding-right: 40px;
      .bar {
        height: 17px;
        width: 100%;
      }
      .spiAverageText {
        @extend %annotation;
        color: $grey-text;
        margin: 0;
      }
  }

  .vertebratesContainer {
    background: $dark;
    border: 1px solid $elephant;
    border-radius: 8px;
    color: $white;
    display: flex;
    justify-content: space-between;
    margin: 8px 40px 8px 20px;
    padding: 10px 16px;

    .endemicCardsContainer {
      @extend %bodyText;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .endemicCard {
        align-items: center;
        display: flex;
        margin-right: 15px;
      }

      .endemicIcon {
        background-color: $white;
        border-radius: 50%;
        padding: 1px;
        height: 32px;
        width: 32px;
        margin-right: 8px;
      }
    }
    p {
      margin: 0;
    }

    button {
      border-radius: $border-radius-desktop;
      margin-left: 20px;
      padding: 10px 32px;
      white-space: nowrap;
    }
  }

  .areaChartContainer {
    background: $dark;
    border: 1px solid $elephant;
    border-radius: 6px;
    margin: 8px 40px 8px 20px;
    position: relative;
    width: auto;
  }

  .chartHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 0;

    .chartTitle {
      @extend %bodyText;
      color: $white;
      margin: 0;
    }
  }

  .scatterPlotContainer {
    background: $dark;
    border: 1px solid $elephant;
    border-radius: 6px;
    margin: 8px 40px 8px 20px;
    position: relative;
    width: auto;
  }

  .actionButtons {
    display: flex;
    margin-right: 30px;
  }

  .actionButton {
    margin-right: 8px;
  }

  .sourceText {
    @extend %annotation;
    color: $grey-text;
    margin: 0 40px 0 20px;
    border-bottom: 1px solid $grey-text;
    padding: 12px 0;
    a {
      color: $grey-text;
      text-decoration: underline;
      &:hover {
        color: $white;
      }
    }
  }

  .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 40px 10px 20px;
    .footerText {
      @extend %annotation;
      color: $white;
      font-size: 14px;
    }

    .analyzeBtn {
      background-color: $white;
      white-space: nowrap;
      padding: 5px 15px;
      width: auto;
      svg {
        stroke: $dark-text;
        margin-right: 10px;
      }
      &:hover {
        background-color: $brand-color-main;
      }

    }
  }

  .countryName {
    @extend %display2;
    margin: 0;
    padding-left: $site-gutter;
    color: $white;
  }

  .flagWrapper {
    display: flex;
    align-items: center;
  }

  .flag {
    width: 30px;
    position: relative;
  }
}

.nrcContentShrunken {
  .countryDescriptionContainer {
    column-count: 1;
  }

  .indicatorCardsContainer {
    display: flex;
    flex-direction: column;
  }

  .vertebratesContainer {
    flex-direction: column;
    .endemicCardsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .endemicCard {
        margin-right: 5px;
      }
    }
    button {
      display: flex;
      justify-content: center;
      margin-left: 0;
      margin-top: 15px;
    }
  }

  .footer {
    flex-direction: column;
    .footerText {
      font-size: 12px;
    }
    .analyzeBtn {
      width: 100%;
    }
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: $border-radius-desktop;
  background: $white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: $dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 200px;
}

.titleTooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
