@import 'styles/settings';
@import 'styles/typography-extends';

.closeButton {
  top: $local-sidebar-top-margin;
  right: -16px;
  position: absolute;
}

.header {
  padding-top: $local-sidebar-top-margin;
  padding-left: $local-sidebar-top-margin;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $navy-he;
}

.actionButtons {
  display: flex;
  margin-right: 30px;
}

.actionButton {
  margin-right: 8px;
}

.countryName {
  @extend %display2;
  margin: 0;
  padding-left: $site-gutter;
  color: $white;
}

.flagWrapper {
  display: flex;
  align-items: center;
}

.flag {
  width: 30px;
  position: relative;
}
