@import 'styles/settings';
@import 'styles/typography-extends';

.closeButton {
  top: $local-sidebar-top-margin;
  right: -16px;
  position: absolute;
}

.header {
  padding-top: $local-sidebar-top-margin;
  padding-left: $local-sidebar-top-margin;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $navy-he;
}

.countryDescriptionContainer {
  column-count: 2;
  padding: $local-sidebar-top-margin;
  .countryDescription {
    @extend %bodyText;
    color: $grey-text;
    margin: 0;
  }
}

.indicatorCardsContainer {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
  padding-left: $local-sidebar-top-margin;
  padding-right: $local-sidebar-top-margin;
  .bar {
    height: 17px;
    width: 100%;
  }
  .spiAverageText {
    @extend %annotation;
    color: $grey-text;
    margin: 0;
  }
}

.actionButtons {
  display: flex;
  margin-right: 30px;
}

.actionButton {
  margin-right: 8px;
}

.countryName {
  @extend %display2;
  margin: 0;
  padding-left: $site-gutter;
  color: $white;
}

.flagWrapper {
  display: flex;
  align-items: center;
}

.flag {
  width: 30px;
  position: relative;
}
