@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.tooltip {
  @extend %annotation;
  padding: 1px 4px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: settings.$white;
}