@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.container {
  margin-bottom: 5px;
}

.gradientWrapper {
  height: 8px;
  border-radius: 5px;
  background-color: settings.$brand-color-secondary;
}

.valuesWrapper {
  color: settings.$white;

  &.light {
    color: settings.$space-background;
  }
}

.gradient {
  display: flex;
  height: 8px;
  border-radius: 5px;
  border: 1px solid settings.$brand-color-secondary;
}

.gradientItem {
  width: 100%;
}

.land-human-pressures {
  background: settings.$human-pressures-gradient;
}

.marine-human-pressures {
  background: settings.$marine-pressures-gradient;
}

.biodiversity {
  background: settings.$biodiversity-gradient-rotated;
}

.carbon-layer-land {
  background: settings.$carbon-layer-gradient;
}

.spi {
  background: settings.$spi-gradient;
}

.country_priority_layer {
  background: settings.$biodiversity-gradient-rotated;
}

.valuesWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;

  &:last-child {
    text-align: right;
  }

  span {
    @extend %subtitle;
    color: inherit;

    @media #{settings.$mobile-only} {
      font-size: settings.$font-size-xxs;
    }
  }
}