@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

$icon-size: 25px;

.header {
  padding-top: $sidebar-margin;
  padding-left: $mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  height: $sidebar-header-height;
  position: relative;

  @media #{$tablet-portrait} {
    padding-left: $sidebar-paddings;
  }
}

.higherHeader {
  height: 130px; 
}

.autoHeightHeader {
  height: unset;
  padding-bottom: 14px;
}

.shareButton {
  position: absolute;
  right: $share-button-margin;
  top: $share-button-margin;
}

.button {
  display: flex;
  align-items: center;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  letter-spacing: 2px;
  color: $robins-egg-blue;
  padding: 0;
  margin-left: -8px; // svg icon has some padding
}

.buttonText {
  margin-right: 10px;
}

.icon {
  transform: rotate(180deg);
  height: $icon-size;
}

.flipToggleSwitchIcon {
  cursor: pointer;
  position: absolute;
  height: $icon-size;
  width: $icon-size;
  right: 20px;
  top: 32px;
  transform: rotate(90deg);
  background-image: url('../../assets/icons/arrow_expand.svg');
}

.collapsedFlipToggleSwitchIcon {
  transform: rotate(-90deg);
  top: 35px;
}

.backButton {
  @extend %subtitle;
  margin-top: 4px;
}

.title {
  @extend %headline;
  font-size: 24px;
  color: $white;
  margin-top: 5px;
  margin-right: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
  display: flex; 
  flex-direction: column;

  @media #{$tablet-portrait} {
    padding-bottom: 0;
    margin-right: 0;
    font-size: 32px;
  }
}

.spacer {
  @extend %spacer;
  bottom: 0;
  left: 0;
  height: 2px;
  position: absolute;
  width: 100%;
}

.smallerPaddingLeft {
  padding-left: $mobile-sidebar-side-paddings;
}