@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;
@use 'styles/common-animations.module' as *;

$icon-size: 25px;

.header {
  padding-top: settings.$sidebar-margin;
  padding-left: settings.$mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  height: settings.$sidebar-header-height-mobile;
  position: relative;

  @media #{settings.$tablet-portrait} {
    padding-left: settings.$sidebar-paddings;
    height: settings.$sidebar-header-height;
  }
}

.higherHeader {
  height: 130px;
}

.autoHeightHeader {
  height: unset;
  padding-bottom: 20px;
}

.shareButton {
  position: absolute;
  right: settings.$share-button-margin;
  top: settings.$share-button-margin;
}

.button {
  display: flex;
  align-items: center;
  font-size: settings.$font-size-xxs;
  font-weight: settings.$font-weight-bold;
  font-family: settings.$font-family-1;
  letter-spacing: 2px;
  color: settings.$robins-egg-blue;
  padding: 0;
}

.buttonText {
  margin-right: 10px;
}

.icon {
  transform: rotate(180deg);
  background-image: url('../../assets/icons/arrow_expand.svg');
  height: $icon-size;
  width: $icon-size;
}

.flipToggleSwitchIcon {
  cursor: pointer;
  position: absolute;
  height: $icon-size;
  width: $icon-size;
  right: 20px;
  top: 32px;
  transform: rotate(90deg);
  background-image: url('../../assets/icons/arrow_expand.svg');
}

.backButton {
  @extend %subtitle;
  margin-top: 4px;
}

.titleContainer {
  @extend %headline;
  font-size: 24px;
  color: settings.$white;
  margin-top: 5px;
  margin-right: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  @media #{settings.$tablet-portrait} {
    padding-bottom: 0;
    margin-right: 0;
    font-size: 32px;
    overflow: visible;
  }
}


.spacer {
  @extend %spacer;
  bottom: 0;
  left: 0;
  height: 2px;
  position: absolute;
  width: 100%;
}