@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

$icon-size: 25px;

.header {
  padding-top: $sidebar-margin;
  padding-left: $mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  height: $sidebar-header-height-mobile;
  position: relative;

  @media #{$tablet-portrait} {
    padding-left: $sidebar-paddings;
    height: $sidebar-header-height;
  }
}

.higherHeader {
  height: 130px; 
}

.autoHeightHeader {
  height: unset;
  padding-bottom: 20px;
}

.shareButton {
  position: absolute;
  right: $share-button-margin;
  top: $share-button-margin;
}

.button {
  display: flex;
  align-items: center;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  font-family: $font-family-1;
  letter-spacing: 2px;
  color: $robins-egg-blue;
  padding: 0;
}

.buttonText {
  margin-right: 10px;
}

.icon {
  transform: rotate(180deg);
  background-image: url('../../assets/icons/arrow_expand.svg');
  height: $icon-size;
  width: $icon-size;
}

.flipToggleSwitchIcon {
  cursor: pointer;
  position: absolute;
  height: $icon-size;
  width: $icon-size;
  right: 20px;
  top: 32px;
  transform: rotate(90deg);
  background-image: url('../../assets/icons/arrow_expand.svg');
}

.collapsedFlipToggleSwitchIcon {
  transform: rotate(-90deg);
  top: 35px;
}

.backButton {
  @extend %subtitle;
  margin-top: 4px;
}

.titleContainer {
  @extend %headline;
  font-size: 24px;
  color: $white;
  margin-top: 5px;
  margin-right: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
  display: flex; 
  flex-direction: column;

  @media #{$tablet-portrait} {
    padding-bottom: 0;
    margin-right: 0;
    font-size: 32px;
    overflow: visible;
  }
}
.optionsToggle {
  position: absolute;
  right: 25px;
  transform: rotate(90deg);
  top: 70px;
  cursor: pointer;
  @include animationFunction($propertyToAnimate: all);
  &.openList{
    transform: rotate(270deg);
  }
}

.titleOptionsList {
  position: relative;
  overflow-y: scroll;
  width: 280px;
  z-index: 2;
  list-style: none;
  overflow-x: hidden;
  left: -20px;
  height: 0;
  margin: 0;
  padding: 0;
  @include animationFunction($propertyToAnimate: all);
  &.open {
    height: 130px;
    margin-top: 10px;
  }
}

.titleOptionItem {
  @extend %bodyText;
  cursor: pointer;
  padding: 5px 0px 5px 20px;
  &:hover {
    background-color: $firefly;
  }
}

.spacer {
  @extend %spacer;
  bottom: 0;
  left: 0;
  height: 2px;
  position: absolute;
  width: 100%;
}
