@import 'styles/settings';
@import 'styles/typography-extends';

.modal {
  padding: 0;

  max-width: 720px;
  width: 90%;
  height: auto;

  @media #{$tablet-landscape} {
    width: 50%;
    min-width: 512px;
  }
}

.modalContent {
  padding: 20px 30px;

  @media #{$tablet-landscape} {
    padding: 50px 60px;
  }

  @extend %bodyText;
}

.modalTitle {
  @extend %title;
}

.closeBtn {
  background-color: transparent;
  border: none;
}

.metadataDescription {
  margin: $site-gutter 0;
}

.metadataList {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  margin: $site-gutter 0;

  dt,
  dd {
    display: inline-block;
    line-height: 1.5;
  }

  dt {
    font-weight: 800;
  }

  dd {
    margin-left: 10px;
  }

  @media #{$tablet-landscape} {
    font-size: 14px;
  }
}

.metadataSource {
  opacity: 0.5;
  font-size: $font-size-xxs;
  font-weight: 300;
  line-height: 1.5;

  a {
    color: $brand-color-main;
  }

  @media #{$tablet-landscape} {
    font-size: 12px;
  }
}

.logoContainer {
  text-align: center;
  margin: 40px 0 20px 0;
}

.logoImg {
  width: 100%;
  max-width: 85px;
}
