@import 'styles/settings';

.modal {
  padding: 50px 60px;
  max-width: 100%;
  height: 100vh;

  @media #{$tablet-landscape} {
    max-width: 620px;
    width: 80%;
    height: auto;
  }
}

.modalContent {
  padding: 50px 60px;
}

.metadataDescription {
  margin: $site-gutter 0;
}

.metadataList {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  margin: $site-gutter 0;

  dt,
  dd {
    display: inline-block;
    line-height: 1.5;
  }

  dt {
    font-weight: 800;
  }

  dd {
    margin-left: 10px;
  }
}

.metadataSource {
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;

  a {
    color: $java;
  }
}

.logoContainer {
  text-align: center;
  margin: 40px 0 20px 0;
}

.logoImg {
  width: 100%;
  max-width: 85px;
}
