@import 'styles/settings';

.container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url('../../../assets/images/landing-background.png');
  height: 100%;
  width: 100%;

  .switcherWrapper {
    display: flex;
    align-items: center;
    position: absolute;
    height: 7svh;
    right: 20px;
    top: 0;
    z-index: $over-front;

  }
}
