@import 'styles/settings';

.container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url('../../../assets/images/landing-background.png');
  height: 100%;
  width: 100%;

  .switcherWrapper {
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: $over-front;
  }
}
