@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/shared-sidebar.module' as *;
@use 'styles/typography-extends' as *;

.sidebarCardContainer {
  @extend .sharedSidebarCardContainer;
  position: relative;
}

.layersTogglesContainer {
  @extend .sharedLayersTogglesContainer;
}

.layersTitle {
  @extend %subtitle;
  color: settings.$white;
}

.description {
  @extend %bodyText;
  color: settings.$white;
}

.legendContainer,
.sourceContainer,
.togglesContainer,
.dropdownContainer {
  padding-top: settings.$sidebar-vertical-flow;
}

.allButton {
  @extend %bodyText;
  color: settings.$white;
  text-decoration: underline;
  text-underline-offset: 1.5px;
  padding: 8px 20px 0;
}

.togglesContainer {
  // this way we expand the toggles to the edge of the sidebar
  position: relative;
  left: calc(-1 * #{settings.$sidebar-paddings});
  width: calc(100% + (2 * #{settings.$sidebar-paddings}));
}