@import 'styles/settings';
@import 'styles/typography-extends';

.tooltipContainer {
  display: none;

  &.isVisible {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    transition: all .3s linear;
  }

  &.isMobile {
    margin-bottom: 30px;
  }
}

.tooltipSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.tooltipFlag {
  width: 30px;
  margin-right: 10px;
}

.featureNaming {
  display: flex;
  flex-direction: column;
  width: 100%;
  .title {
    @extend %title;
    color: $white;
  }

  .subtitle {
    @extend %annotation;
    color: $white;
    margin-bottom: 5px;
  }

  .speciesContent {
    @extend %annotation;
    background-color: $elephant;
    border-radius: 4px;
    margin: 5px 0px;
    padding: 10px 20px;
    width: 100%;

    .speciesContentNumbers {
      font-weight: bold;
      margin-right: 25px;
    }
  }
}

.tooltipExplore {
  @extend %title;
  background-color: $brand-color-main;
  width: 100%;
  height: 30px;
  padding: 0px 20px;
  border-radius: 2px;
}

.tooltipClose {
  fill: $white;
  width: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
