@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};
  --small-font: 14px;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  p{
    color: var(--font-color);
  }

  .scores {
    display: flex;
    justify-content: space-between;

    .metric {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .material-symbols-outlined {
        font-size: 48px;
        color: #c72929;
      }

      label {
        color: var(--font-color);
        text-align: center;
        font-family: STIX Two Text;
        font-size: var(--small-font);
        font-style: italic;
        font-weight: 500;
        line-height: normal;
      }

      .score {
        display: flex;
        margin-top: 0.25rem;

        .chartWrapper {
          width: 60px;
          height: 60px;
          position: relative;

          b {
            position: absolute;
            top: 28px;
            left: 48%;
            translate: -50% -50%;
            color: var(--font-color);
          }
        }

        .results {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 125px;

          b {
            color: var(--font-color);
            text-align: center;
            font-family: STIX Two Text;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }

          .desc {
            color: var(--font-color);
            font-family: STIX Two Text;
            font-size: var(--small-font);
            font-style: italic;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }

  .chart {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;

    .compareWrap{
      display: flex;
      align-items: center;
      gap: 0.75rem;

      .compare {
        color: var(--font-color);
        font-family: STIX Two Text;
        font-size: var(--small-font);
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        white-space: nowrap;
      }
    }

    .dashed,
    .dotted,
    .solid {
      min-width: 100px;
      text-align: center;
      color: var(--font-color);
      font-family: STIX Two Text;
      font-size: var(--small-font);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .dashed {
      border: none;
      border-bottom: 3px dashed var(--font-color);;
    }

    .dotted {
      border: none;
      border-bottom: 3px dotted var(--font-color);;
    }

    .solid {
      border: none;
      border-bottom: 3px solid var(--font-color);;
    }

    .labels{
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    label {
      color: var(--font-color);
      font-family: STIX Two Text;
      font-size: var(--small-font);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .legend{
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 0.25rem;

      .legendBox {
        width: 30px;
        height: 8px;

        &.blue {
          background-color: #2f2cae;
        }

        &.green {
          background-color: #228d19;
        }
      }
    }
  }

  .dataTable {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      font-family: STIX Two Text;
      font-size: var(--small-font);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &.textLeft{
        text-align: left;
      }

      &.w28{
        width: 7rem;
      }

      &.w20{
        width: 5rem;
      }

      &.w12{
        width: 3rem;
      }

      &.textCenter{
        text-align: center;
      }
    }

    th {
      vertical-align: bottom;
      color: var(--font-color);
    }

    tbody {
      tr {
        height: 30px;
        border: 1px solid transparent;

        &:nth-child(odd) {
          background-color: #d9d9d9;
        }

        &:nth-child(even) {
          background-color: #ededed;
        }

        &:hover {
          border: 1px solid var(--font-color);
          cursor: pointer;
        }

        &:has(+ :hover) {
          border-bottom: 1px solid var(--font-color);
        }

        &.highlighted {
          background-color: rgba(0, 0, 0, 0.4);

          td{
            color: #{$white};
          }
        }
      }

      td {
        color: #{$black};
        padding: 0 5px;
      }
    }
  }
}
