@import 'styles/settings';
@import 'styles/ui.module';

.halfEarthModal {
  background-color: $firefly;
  background-image: url('../../assets/images/stars.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.wrapper {
  display: flex;
  height: 100%;
  padding: 70px 10% 100px;
  overflow: hidden;

  > :first-child {
    width: 40%;
  }

  > :last-child {
    width: 60%;
  }
}

.globeWrapper {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  transform: scale(1.6)
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  color: $white;
  font-family: $font-family-1;
  font-size: $font-size-xxl;
  font-weight: unset;
  letter-spacing: 1px;
  line-height: 50px;
  margin: 0;
  text-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
  width: 430px;
}

.descriptionWrapper {
  height: 50%;
  margin-bottom: 100px;
  position: relative;
  max-width: 300px;

  &::after,  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
  }

  &::after {
    background: linear-gradient(transparent, #06101C);
    bottom: 0;
  }

  &::before {
    background: linear-gradient(#020D16, transparent);
    box-shadow: -3px -10px 31px -9px rgba(2,13,22,0.81);
  }
}

.description {
  color:  $white;
  -ms-overflow-style: none;  /* IE 10+ */
  font-family: $font-family-1;
  font-size: $font-size-sm;
  font-weight: $font-weight-light;
  line-height: 22px;
  text-align: center;
  height: 100%;
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  overflow-y: scroll;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  width: 100%;

  &::-webkit-scrollbar { /* WebKit */
    height: 0;
    width: 0;
  }
}

$icon-size: 40px;


.legendItem {
  background-color: rgba(2,114,186,0.1);
  color: $white; 
  display: flex;
  flex-direction: column;
  font-family: $font-family-1;
  font-weight: bold;
  justify-content: center;
  height: 76px;
  padding-left: 50px;
  position: relative;
  width: 200px;

  .value {
    font-size: $font-size-xs;
    letter-spacing: 2px;
    line-height: 20px;
  }

  .label {
    font-size: $font-size-xxs;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
  }
}


.icon {
  height: $icon-size;
  left: calc(#{$icon-size} / -2);
  position: absolute;
  top: calc(50% -  #{$icon-size} / 2);
  width: $icon-size;
}

.legendWrapper {
  display: flex;
  justify-content: space-between;
  margin-left: calc(#{$icon-size} / 2);
  width: 500px;
}


.globeS {
  background-image: url('../../assets/images/halfEarthGlobe.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1366px) {
  .globeWrapper {
    transform: scale(1.2)
  }
}