@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.halfEarthModal {
  height: 100%;
  left: 0;
  overflow-y: scroll;
  top: 0;
  width: 100vw;
  z-index: 11;

  @media #{$tablet-portrait} {
    background-color: #020A14;;
    background-image: url('../../assets/images/stars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: unset;
    position: absolute;
  }
}

.grid {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 400px auto;
  grid-template-areas: 
    "title title"
    "globe globe"
    "marine-legend land-legend"
    "text text";
  padding: 10% 32px 100px;

  @media #{$tablet-portrait} {
    grid-column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "title title title globe"
      "text text text globe"
      "marine-legend land-legend smth globe";
    padding: 70px 10% 100px;
    height: 100%;
  }
}

.globeWrapper {
  align-items: center;
  display: flex;
  grid-area: globe;
  height: 100%;
  justify-content: center;
  justify-self: center;
  width: 80%;

  .progresBars {
    background-image: url('../../assets/images/lines.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    .globe {
      user-select: none;
      width: 100%;
    }

    &::before {
      @extend %title;
      content: 'HALF-EARTH';
      color: $light-text;
      display: block;
      position: absolute;
      text-align: center;
      top: -40px;
      width: 100%;
    }
  }
}

.title {
  color: $white;
  font-family: $font-family-1;
  font-size: 24px;
  font-weight: unset;
  letter-spacing: 1px;
  line-height: 28px;
  margin: 0;
  text-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
  grid-area: title;

  @media #{$tablet-portrait} {
    font-size: $font-size-xxl;
    line-height: 50px;
    width: 430px;
  }
}

.description {
  @extend %verticalScrollBar;
  @extend %bodyText;

  color:  $white;
  grid-area: text;
  margin: 20px 0 60px;
  padding: 25px 0;
  text-align: left;
  
  p:first-child {
    margin-top: 0px;
  }
  p:last-child {
    margin-bottom: 0px;
  }

  @media #{$tablet-portrait} {
    mask-image: linear-gradient(to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,1) 10%,
    rgba(0,0,0,1) 90%,
    rgba(0,0,0,0) 100%
    );
    max-width: 460px;
  }
}

$icon-size: 40px;

.legendItem {
  background-color: rgba(2,114,186,0.1);
  color: $white; 
  display: flex;
  flex-direction: column;
  font-family: $font-family-1;
  font-weight: bold;
  justify-content: center;
  padding: 32px 16px 20px;
  position: relative;

  @media #{$tablet-portrait} {
    padding: 0 0 0 50px;

    height: 76px;
    width: 200px;
  }

  &:first-child {
    grid-area: marine-legend;
  }

  &:last-child {
    grid-area: land-legend;
  }

  .value {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;

    @media #{$tablet-portrait} {
      font-size: $font-size-xs;
    }
  }

  .label {
    font-size: $font-size-xxs;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
  }
}

.icon {
  height: $icon-size;
  left: -4px;
  position: absolute;
  top: $icon-size / -2;
  width: $icon-size;
  
  @media #{$tablet-portrait} {
    left: $icon-size / -2;
    top: calc(50% -  #{$icon-size} / 2);
  }
}

.closeButton {
  display: none;
  @media #{$tablet-portrait} {
    display: block;
  }
}

.share {
  display: none;
  @media #{$tablet-portrait} {
    display: block;
    grid-area: globe;
    align-self: flex-end;
    justify-self: flex-end;
  }
}