@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.halfEarthModal {
  background-color: #020A14;;
  background-image: url('../../assets/images/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.wrapper {
  display: flex;
  height: 100%;
  padding: 70px 10% 100px;
  overflow: hidden;
  align-items: center;

  > :first-child {
    width: 40%;
    height: 100%;
  }
}

.globeWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .progresBars {
    background-image: url('../../assets/images/lines.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 60vh;
    width: 60vh;

    .globe {
      user-select: none;
      width: 100%;
    }

    &::before {
      @extend %title;
      content: 'HALF-EARTH';
      color: $light-text;
      display: block;
      position: absolute;
      text-align: center;
      top: -40px;
      width: 100%;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  color: $white;
  font-family: $font-family-1;
  font-size: $font-size-xxl;
  font-weight: unset;
  letter-spacing: 1px;
  line-height: 50px;
  margin: 0;
  text-shadow: 0 0 10px 0 rgba(255,255,255,0.5);
  width: 430px;
}

.description {
  @extend %verticalScrollBar;
  @extend %bodyText;

  color:  $white;
  margin: 20px 0 60px;
  padding: 25px 0;
  text-align: left;
  max-width: 300px;
  mask-image: linear-gradient(to bottom,
  rgba(0,0,0,0) 0%,
  rgba(0,0,0,1) 10%,
  rgba(0,0,0,1) 90%,
  rgba(0,0,0,0) 100%
  );

  p:first-child {
    margin-top: 0px;
  }
  p:last-child {
    margin-bottom: 0px;
  }
}

$icon-size: 40px;

.legendItem {
  background-color: rgba(2,114,186,0.1);
  color: $white; 
  display: flex;
  flex-direction: column;
  font-family: $font-family-1;
  font-weight: bold;
  justify-content: center;
  height: 76px;
  padding-left: 50px;
  position: relative;
  width: 200px;

  .value {
    font-size: $font-size-xs;
    letter-spacing: 2px;
    line-height: 20px;
  }

  .label {
    font-size: $font-size-xxs;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
  }
}

.icon {
  height: $icon-size;
  left: calc(#{$icon-size} / -2);
  position: absolute;
  top: calc(50% -  #{$icon-size} / 2);
  width: $icon-size;
}

.legendWrapper {
  display: flex;
  justify-content: space-between;
  margin-left: calc(#{$icon-size} / 2);
  width: 500px;
}
