@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';
@import 'styles/tooltip';

$site-gutter: 20px;
$map-attribution-height: 30px;
$icon-size: 14px;

%legend-ramp-text {
  font-family: $font-family-1-light !important;
  color: $grey-text;
  line-height: 10px;
}

%legend-ramp-bar {
  height: 6px;
  border-radius: 5px;
  margin-bottom: 4px;
}

%legend-label-text {
  background: transparent;
}

%tooltip-arrow {
  content: '';
  background-color: $white;
  bottom: -3px;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  height: 10px;
  width: 10px;
}

//legend tooltip styles
:global {
  .wri_api__close {
    margin-right: 0;
  }
  
  .rc-tooltip-content {
    background-color: transparent;
    border-radius: 2px;
    position: relative;
    transform: translateY(-6px);
  }

  .rc-tooltip-arrow {
    display: none !important;
  }

  .c-rc-tooltip.-default .rc-tooltip-inner {
    @extend %tooltip-apperance;
    max-width: unset;
    position: unset;
    margin: 0 20px;

    .tooltip-opacity-text::after {
      @extend %tooltip-arrow;
      right: 58px;
    }

    .tooltip-remove-text::after {
      @extend %tooltip-arrow;
      right: 34px;
    }

    .tooltip-info-text::after {
      @extend %tooltip-arrow;
      right: 86px;
    }
  }

  .rc-slider-mark {
    display: flex;
    justify-content: space-between;      
  }

  .wri_api__c-legend-item-button-opacity-tooltip { // tooltip styles
    font-size: $font-size-xs;
    position: relative;
    
    .wri_api__slider-tooltip-container {
      padding: 0;
    }
  }

  .wri_api__legend-item-header { // legend item title
    h3 {
      color: $white !important;
      font-family: $font-family-1;
      font-size: $font-size-xs;
    }
  }

  .wri_api__c-legend-item-types {
    background: none;
  }

  .wri_api__c-legend-map { //legend container
    background: none;
    border: none;
    border-radius: 2px;
  }
  
  .wri_api__name {
    @extend %legend-ramp-text;
  }

  .wri_api__c-legend-type-gradient .wri_api__icon-gradient {
    @extend %legend-ramp-bar;
  }

  .wri_api__c-legend-item .wri_api__legend-item-container.wri_api__-sortable { //whole legend item padding
    padding: 10px 12px 12px;
  }

  li.wri_api__c-legend-item { //use this only for legend item container
    @include backdropBlur();
    
    margin-bottom: 0;
    border-bottom: none;
    border-radius: 2px;

    &:not(:last-child) {
      &::before { 
        @extend %spacer;
        content: '';
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
      }
    }
  }

  li > .wri_api__c-legend-item { //disable white background for item legend label
    @extend %legend-label-text;
    align-items: center;
    z-index: 0;
  }

  .wri_api__c-legend-button {
    // background-repeat: no-repeat;
    // background-size: contain;
    height: $icon-size;
    width: $icon-size;
    z-index: 2;

    // svg {
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   use {
    //     display: none;
    //   }
    // }

    // &:nth-child(1) {
    //   background-image: url('../../assets/icons/info.svg');
    // }

    // &:nth-child(2) {
    //   svg {
    //     background-size: cover;
    //     background-image: url('../../assets/icons/opacity.svg');
    //     margin: auto;
    //     width: 12px;
    //   }
    // }

    // &:nth-child(3) {
    //   background-image: url('../../assets/icons/closeWhite.svg');
    // }
  }

  .wri_api__c-icon.wri_api__-small {
    height: $icon-size;
    width: $icon-size;
  }

  .wri_api__toggle-legend {
    display: none;
  }

  .wri_api__c-legend-handler {
    // height: 100%;
    // left: 0;
    // top: 0;
    // width: 100%;
    // z-index: 1;

    svg {
      display: none;
    }
  }

  .wri_api__slider-tooltip-container {
    margin-top: 10px;
  }
  
  .wri_api__c-legend-type-gradient .wri_api__icon-gradient {
    @extend %legend-ramp-bar;
  }
}

body {
  :global {
    .wri_api__slider-ranges {
      position: relative; 
    }

    .-sortable {  //when dragging the legend item
      background: $firefly;
      box-shadow: 0 2px 10px 0 rgba(23,27,48,0.15);
      padding-left: 0px;

      li > .wri_api__c-legend-item {  //disable white background for item legend label
        @extend %legend-label-text;
      }

      .wri_api__name {
        @extend %legend-ramp-text;
      }

      .wri_api__c-legend-type-gradient .wri_api__icon-gradient {
        @extend %legend-ramp-bar;
      }
    }
  }
}

.legend {
  position: absolute;
  bottom: calc(#{$site-gutter} + #{$map-attribution-height});
  right: $site-gutter;
  width: 260px;
}

.itemButton {
  position: relative;
}

.legendItemButtonOpacity {
  left: unset !important;
  right: $site-gutter;
  width: 208px;

  :global {
    .rc-tooltip-content {
      .wri_api__slider-tooltip-container {
        min-width: unset;
      }
  
      .rc-tooltip-inner {
        background-color: $blue !important;
        color: $grey-text !important;
        position: relative;
        margin: 0;
      }
    }
  }
}
