@import 'styles/settings';

$site-gutter: 20px;
$map-attribution-height: 30px;

:global {
  .rc-tooltip-placement-top {
    .rc-tooltip-arrow {
      display: none !important;
    }
  }

  .c-rc-tooltip.-default .rc-tooltip-inner {
    background-color: #0E2B3B;
    color: #DBDBDB;
    font-family: 'PierSans';
  }

  .c-rc-tooltip .rc-tooltip-content .rc-tooltip-inner {
    .wri_api__c-legend-item-button-opacity-tooltip {
      position: relative;
      .wri_api__slider-tooltip-container {
        padding: 2px 0 0px;
      }
    }
  }

  .rc-slider-mark-text {
    color: #DBDBDB;
  }

  .wri_api__legend-item-header {
    h3 {
      color: $white !important;
      font-family: $font-family-1;
      font-size: $font-size-xs;
    }
  }

  .wri_api__c-legend-item-types {
    background: none;
  }

  .wri_api__name {
    color: $white;
  }
}

.legend {
  position: absolute;
  bottom: calc(#{$site-gutter} + #{$map-attribution-height});
  right: $site-gutter;
  width: 240px;

  :global {
    .wri_api__c-legend-map {
      border: none;
      border-radius: 2px;
      background: rgba(#09141a, 0.4);
    }
    
    .wri_api__name {
      font-family: 'PierSans-Light' !important;
      color: #DBDBDB;
    }

    .wri_api__c-legend-type-gradient .wri_api__icon-gradient {
      height: 6px;
      border-radius: 5px;
    }

    .wri_api__c-legend-item {
      background: rgba(#09141a, 0.4);
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .wri_api__toggle-legend {
      display: none;
    }
  }
}

body {
  :global {
    .wri_api__slider-ranges {
      position: relative;
    }
  }
}

.itemButton {
  position: relative;
}

.legendItemButtonOpacity {
  left: unset !important;
  right: $site-gutter;
  width: 208px;

  :global {
    .rc-tooltip-content {
      background-color: #0E2B3B;
      border-radius: 2px;
      padding: 8px 16px;

      .rc-tooltip-inner {
        padding: 4px;
      }
    }

    .wri_api__slider-tooltip-container {
      margin-top: 10px;
    }
    
    .rc-slider-mark {
      display: flex;
    }
  }
}

