@import 'styles/settings';
@import 'styles/common-animations.module';
@import 'styles/ui.module';

.background {
  width: 100vw;
}

.sidebarContainer {
  @include animationFunction($propertyToAnimate: all);
  position: absolute;
  top: $ui-left-top;
  left: $site-gutter;
}

.modeSwitch {
  z-index: 3;
  position: absolute;
  left: 50%;
  bottom: 30px;
}

.challengesChart {
  position: relative;
}

.nrcContentContainer {
  position: absolute;
  left: calc($site-gutter + 30vw);
  top: 56px;
  background-color: rgba($navy-he, 0.8);
  border: 1px solid $navy-he;
  width: calc(100vw - $site-gutter - 30vw - 24px);
  height: 100vh;
  border-radius: 6px;
}

.rankingContainer {
  position: absolute;
  top: 92px;
  bottom: 36px;
  left: $site-gutter;
  width: 30vw;
  border: 1px solid $navy-he;
  height: calc(100vh - 92px - 36px);
  overflow: hidden;
}

.rankingChart {
  padding: 16px 24px;
  position: relative;
  width: 30vw;
}

@media print {
  .hideOnPrint {
    display: none;
  }

  .sceneWrapper {
    display: none;
  }
}
