@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';

.sidebarContainer {
  @include animationFunction($propertyToAnimate: all);
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$nav-bar-height});
  padding-bottom: $site-gutter;
  position: absolute;
  top: $nav-bar-height;
}
