@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/common-animations.module';
@import 'styles/typography-extends';

.sceneContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{$nav-bar-height});
  position: absolute;
  top: $nav-bar-height;

  .globesContainer {
    align-content: end; 
    margin: auto 0 0 0;
    padding: 0 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
}
