@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};
  --disabled: rgba(255, 255, 255, 0.3);

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
    --disabled: rgba(0,0,0,0.5);
  }

  .arrowIcon {
    fill: var(--font-color);
    transform: rotate(0deg);

    &.isOpened {
      transform:rotate(90deg);
    }

    transition: transform 0.2s ease;

    > path {
      fill: inherit;
    }
  }

  ul{
    margin:0;
    list-style-type: none;
  }

  .parent,
  .children{
    display: grid;
    column-gap: 15px;
    align-items: center;
    margin-left: 15px;
    color: var(--font-color);

    span{
      color: var(--font-color);

      &[aria-disabled="true"]{
        color: var(--disabled);
      }

      text-transform: capitalize;
    }

    > span{
      text-align: center;
    }
  }

  .disabled{
    + span{
      color: var(--disabled) !important;
    }
  }

  .parent{
    grid-template-columns: 15px 1fr 30px 50px;
  }

  .children{
    grid-template-columns: 1fr 30px 50px;
  }

  .productTypeLogo {
    height: 25px;
    width: 25px;
  }
}

