@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container{
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  width: 100%;

  --font-color: #{$white};
  --border-color: #{$brand-color-main};
  --selected-font-color: #{$white};
  --save-button-text: #{$dark-text};
  --border-color-hover: #{$brand-color-main-hover};

  &.light{
    --font-color: #{$black};
    --border-color: #{$mol-blue};
    --selected-font-color: #{$white};
    --save-button-text: #{$white};
    --border-color-hover: #{$mol-blue};
  }

  height: max-content;
  border-left: 1px solid var(--font-color);

  color: var(--font-color);

  .sectionTitle{
    font-size: $font-size-tick;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--font-color);
  }

  button{
    color: var(--font-color);
    text-align: left;
  }

  .help{
    display: flex;

    nav{
      display: flex;
      flex-direction: column;
      min-width: 275px;
      align-items: flex-start;
      gap: 10px;

      h3{
        margin: 0;
        font-style: italic;
        font-size: $font-size-xs;
        font-weight: 400;
      }

      .section{
        font-size: $font-size-tick;
        text-transform: uppercase;
        font-weight: 700;
        width: 100%;
        padding: 5px;
        position: relative;

        &.selected{
          background-color: rgba(255, 255, 255, 0.3);

          &::after{
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            right: 5px;
            background-color: $brand-color-main;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      ul{
        margin:-5px 0 0;
        list-style: none;
        padding: 0 0 0 20px;
        width: 100%;

        li{
          padding: 5px 0;

          button{
            text-transform: uppercase;
            font-size: $font-size-sm;
            width: 100%;
            padding: 5px;
            position: relative;

            &.selected{
              background-color: rgba(255, 255, 255, 0.3);

              &::after{
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                right: 5px;
                background-color: $brand-color-main;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }

    .information{
      display: flex;
      flex-direction: column;
      overflow: auto;
      height: calc(100vh - 300px);
      width: 100%;
    }
  }

  .title{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    width: 100%;

    svg {
      width: 40px;
      height: 40px;
      color: var(--font-color);
      fill: var(--font-color);
    }

    h2{
      text-transform: uppercase;
      margin: 0 0 5px;
      font-size: $font-size-rg;
      scroll-margin-top: 10px;
      margin-top: 15px;
    }
  }

  .subTitle{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    width: 100%;

    svg {
      width: 30px;
      height: 30px;
      color: var(--font-color);
      fill: var(--font-color);
    }

    h3{
      margin: 0 0 5px;
      font-size: $font-size-base;
      font-weight: 700;
      scroll-margin-top: 10px;
      margin-top: 15px;

      &.sub{
        font-style: italic;
        text-decoration: underline;
        font-weight: 400;
        text-underline-offset: 5px;
      }
    }
  }

  img{
    padding: 10px 0;
  }
}
