@import 'styles/settings';
@import 'styles/ui.module';

$container-width: 134px;
$box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.20);

.container {
  bottom: 0;
  display: flex;
  justify-content: space-around;
  right: calc(50% - $container-width/2);
  height: 45px;
  position: absolute;
  width: $container-width;

  .globeHighlight {
    align-items: center;
    background-color: transparent;
    border: 2px solid $accent-grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 34px;
    width: 34px;
    box-shadow: $box-shadow;
  }

  .globeHidden {
    align-items: center;
    background-color: transparent;
    border: none;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 34px;
    width: 34px;
    box-shadow: $box-shadow;
  }

  .globeImage {
    height: 32px;
    width: 32px;
  }
}
