// @import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module.scss';

.questionMarkButton {
  @extend .pulse;
  height: 16px;
  padding: 0;
  position: absolute;
  width: 16px;
  border-radius: 100%;
  z-index: 10;
  svg {
    fill: $brand-color-main;
    width: 16px;
    height: 16px;
  }
}

.container {
  position: relative;
}

.modalContainer {
  background-color: $firefly;
  border: 2px solid $brand-color-main;
  border-radius: 2px;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  min-height: 200px;
  width: 270px;
  transform: translateY(50%);

  .button {
    align-self: end;
    height: 32px;
    width: 102px;
    border-radius: 2px;
    background-color: $brand-color-main;
    text-transform: uppercase;
  }
  label {
    @extend %annotation;
    padding-left: 0 !important;
    text-transform: unset;
  }
}
