@import 'styles/settings';
@import 'styles/typography-extends';

.areaChartContainer {
  background: $dark;
  border: 1px solid $elephant;
  border-radius: 6px;
  margin: 8px 16px 8px 0;
  position: relative;
  width: auto;
}

.chartHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0;

  .chartTitleContainer {
    align-items: center;
    display: flex;
  }

  .chartTitle {
    @extend %bodyText;
    color: $white;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: $border-radius-desktop;
  background: $white;
  box-shadow: $box-shadow-light;
  color: $dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 350px;
}
