@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.areaChartContainer {
  background: settings.$dark;
  border: 1px solid settings.$elephant;
  border-radius: 6px;
  margin: 8px 16px 8px 0;
  position: relative;
  width: auto;
}

.chartHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0;

  .chartTitleContainer {
    align-items: center;
    display: flex;
  }

  .chartTitle {
    @extend %bodyText;
    color: settings.$white;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }

  .areaChartLegend {
    @extend %annotation;
    color: settings.$white;
    display: flex;
    position: absolute;
    top: 36px;
    right: 20px;

    .areaChartLegendItem {
      align-items: center;
      display: flex;
    }

    .area1ChartLegendLine {
      border: 1px solid settings.$white;
      height: 1px;
      margin-right: 6px;
      width: 20px;
    }

    .area2ChartLegendLine {
      background-color: transparent;
      border: none;
      border-top: 2px dashed settings.$white;
      margin-left: 16px;
      margin-right: 6px;
      width: 20px;
    }
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: settings.$border-radius-desktop;
  background: settings.$white;
  box-shadow: settings.$box-shadow-light;
  color: settings.$dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 350px;
}