@import 'styles/settings';
@import 'styles/typography-extends';

.areaChartContainer {
  background: $dark;
  border: 1px solid $elephant;
  border-radius: 6px;
  margin: 8px 16px 8px 0;
  position: relative;
  width: auto;
}

.chartHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0;

  .chartTitleContainer {
    align-items: center;
    display: flex;
  }

  .chartTitle {
    @extend %bodyText;
    color: $white;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: $border-radius-desktop;
  background: $white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: $dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 200px;
}

.titleTooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
