@import 'styles/settings';
@import 'styles/typography-extends';

.areaChartContainer {
  background: $dark;
  border: 1px solid $elephant;
  border-radius: 6px;
  margin: 8px 16px 8px 0;
  position: relative;
  width: auto;
}

.chartHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 0;

  .chartTitleContainer {
    align-items: center;
    display: flex;
  }

  .chartTitle {
    @extend %bodyText;
    color: $white;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }

  .areaChartLegend {
    @extend %annotation;
    color: $white;
    display: flex;
    position: absolute;
    top: 36px;
    right: 20px;
    .areaChartLegendItem {
      align-items: center;
      display: flex;

    }
    .area1ChartLegendLine {
      border: 1px solid $white;
      height: 1px;
      margin-right: 6px;
      width: 20px;
    }

    .area2ChartLegendLine {
      background-color: transparent;
      border: none;
      border-top: 2px dashed #fff;
      margin-left: 16px;
      margin-right: 6px;
      width: 20px;
    }
  }
}

.titleTooltip {
  @extend %annotation;
  border-radius: $border-radius-desktop;
  background: $white;
  box-shadow: $box-shadow-light;
  color: $dark-text;
  margin-bottom: 5px;
  padding: 2px 6px;
  width: 350px;
}
