@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/common-animations.module' as *;

.sidebarContainer {
  @include animationFunction($propertyToAnimate: all);
  position: absolute;
  height: calc(100vh - #{settings.$nav-bar-height});
  width: calc(#{settings.$sidebar-width} + 30px);
  top: settings.$nav-bar-height;
  left: settings.$site-gutter;
  padding-bottom: settings.$site-gutter;
  padding-left: 5px;
  z-index: settings.$default-z-index;
}