@import 'styles/settings';

@media print {
  .app {
    display: none;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: $app-background;

  @media #{$mobile-only} {
    height: 100svh;
  }
}

