@import 'styles/settings';

@media print {
  .app {
    display: none;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: $app-background;
}

.mobile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-image: url('./assets/images/landing-bg.png');
}