@use 'styles/settings' as settings;

@media print {
  .app {
    display: none;
  }
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: settings.$app-background;

  @media #{settings.$mobile-only} {
    height: 100svh;
  }
}
