.container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.containerChallenges {
  background-color: #040E14;
}

.button {
  color: white;
}

.switchContainer {
  display: inline-flex;
  position: absolute;
  left: 50%;
  bottom: 200px;
}

.scatterPlot {
  position: absolute;
  left: 30%;
  bottom: 300px;
}