@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

.inputContainer {
  @extend %title;
  background-color: settings.$white;
  border-radius: 6px;
  position: relative;

  &.fullWidth {
    width: 100%;
  }

  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.searchResultsList {
  z-index: settings.$bring-to-front;
  height: 300px;
  overflow-y: auto;
}

.searchResultsListMobile {
  z-index: settings.$over-front;
}

.placeholderIcon {
  fill: settings.$grey-text;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 16px;
  top: 11px;
}

.input {
  @extend %title;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 10px;
  border: none;
  color: settings.$dark;

  &::placeholder {
    color: settings.$grey-text;
    padding-left: 30px;
    opacity: 1;
    /* Firefox */
  }

  &:focus {
    background-color: settings.$dark-opacity;
  }

  &:not(:placeholder-shown)~.placeholderIcon {
    display: none;
  }
}

.optionsList {
  @extend %bodyText;
  color: settings.$dark-text;
  background-color: settings.$white;
  list-style: none;
  margin: 0;
  padding: settings.$sidebar-paddings 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  &.longList {
    border-bottom-right-radius: 0;
  }

  &.fullWidth {
    width: 100%;
  }

  .option {
    padding: 5px settings.$sidebar-paddings;
    cursor: pointer;

    &:hover {
      background-color: settings.$dark-opacity;
    }
  }

  .emptyOption {
    padding: 5px settings.$sidebar-paddings;
    color: settings.$grey-text;
    cursor: default;
  }

  .suggestion {
    display: flex;
    justify-content: space-between;
  }

  .suggestionLayerType {
    min-width: 97px;
    color: settings.$grey-text;
  }
}

.dark {
  background-color: transparent;
  border: 1px solid settings.$white-opacity;

  &:hover,
  &.open {
    background-color: settings.$white-opacity;
  }

  .input {
    color: settings.$white;

    &::placeholder {
      color: settings.$grey-text;
      padding-left: 30px;
      opacity: 1;
      /* Firefox */
    }

    &:focus {
      background-color: settings.$dark-opacity;
    }
  }
}

.stacked {
  &:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.mobile {
  .optionsList {
    padding: 20px 10vw;
  }

  .suggestion {
    text-transform: uppercase;
    padding: 0 5vw;
    width: 90vw;

    @media #{settings.$mobile-landscape} {
      padding: 0 7vw 0 3vw;
    }
  }

  .placeholderIcon {
    display: none;
  }

  .closeIcon {
    fill: settings.$grey-text;
    height: 12px;
    position: absolute;
    right: calc(6px + 4vw);
    top: 14px;
    width: 12px;

    @media #{settings.$mobile-landscape} {
      right: 3vw;
    }
  }

  .resetBtn {
    background: transparent;
    border: none;
    height: 36px;
    position: absolute;
    right: 12px;
    top: 0;
    width: 30px;
    z-index: settings.$over-front;

    @media #{settings.$mobile-landscape} {
      right: 0;
      width: 60px;
    }
  }

  .input {
    border: 1px solid settings.$grey-text;
    border-radius: 4px;
    padding-left: 48px;

    &::placeholder {
      padding-left: 0px;
    }
  }
}

.closeIcon {
  fill: settings.$white;
  height: 8px;
  position: absolute;
  right: 10px;
  width: 8px;
  top: 10px;
}