@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.container {
  @extend %bodyText;
  font-size: settings.$font-size-xxs;

  .SPIcontainer {
    background: settings.$white;
    color: settings.$dark-text;
    display: inline-block;
    height: 22px;
    margin: 0;
    padding: 0 5px;

    p {
      margin: 0;
    }
  }

  .protectedAreasContainer {
    background: settings.$dark-text;
    color: settings.$white;
    height: 22px;
    margin: 0;
    padding: 0 5px;

    p {
      margin: 0;
    }
  }
}