@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.box {
  @include backdropBlur();
  box-shadow: 0 2px 10px 0 rgba(23, 27, 48, 0.15);
  padding: 0 20px 0 20px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0;
  border-radius: 2px;
  width: 100%;
  transition: none;

  &:hover {
    .icon {
      opacity: 1;
    }
  }

  @media #{$tablet-portrait} {
    width: $sidebar-width;
    margin-bottom: 5px;
    transition: all 0.2s ease-out;

    &:hover {
      transform: translate(20px, 0);
  
      .category {
        text-shadow: 0 0 10px rgba(255,255,255,0.5);
      }
    }
  }
}

.firstBoxOnMobile {
  border-radius: 16px 16px 0 0;
}

.visible {
  cursor: pointer;
}

.title {
  @extend %subtitle;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  user-select: none;

  .counter {
    color: $robins-egg-blue;
    margin-left: 6px;
  };
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  @extend %headline;
  margin: 0;
  color: $white;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.icon {
  margin-left: auto;
  opacity: 0;
}