@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.box {
  @include backdropBlur();
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  width: 100%;
  transition: none;
  cursor: pointer;

  @media #{$tablet-portrait} {
    width: $sidebar-width;
    transition: all 0.2s ease-out;

    &:hover {
      .icon {
        opacity: 1;
      }
      .category {
        text-shadow: 0 0 10px rgba(255,255,255,0.5);
      }
    }
  }
}

.visible {
  cursor: pointer;
}

.counter {
  @extend %subtitle;
  position: absolute;
  top: calc(50% - #{$counter-size/2});
  right: calc(-#{$counter-size/2});
  display: flex;
  justify-content: center;
  align-items: center;
  height: $counter-size;
  width: $counter-size;
  color: $dark-text;
  background-color: $brand-color-main;
  font-weight: $font-weight-bold;
  border-radius: $counter-size;
  &.openBox {
    display: none;
  }
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $sidebar-paddings;
}

.category {
  @extend %headline;
  margin: 0;
  color: $white;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;

  @media #{$tablet-portrait} {
    font-size: 32px;
    overflow: visible;
  }
}

.icon {
  opacity: 0;
  margin-left: auto;
  transform: rotate(90deg);

  &.openBox {
    opacity: 1;
    transform: translate(10px, 0) rotate(270deg);
  }
}

.categoryThumbnail {
  height: 90px;
  width: 90px;
  margin-right: $sidebar-paddings;
}
