@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.box {
  @include backdropBlur();
  padding: 0 40px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  width: 100%;
  transition: none;
  cursor: pointer;

  @media #{$tablet-portrait} {
    width: $sidebar-width;
    transition: all 0.2s ease-out;

    &:hover {
      .icon {
        opacity: 1;
      }
      .category {
        text-shadow: 0 0 10px rgba(255,255,255,0.5);
      }
    }
  }
}

.visible {
  cursor: pointer;
}

.title {
  @extend %subtitle;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  user-select: none;
  display: flex;
  align-items: baseline;
}

.counter {
  align-items: center;
  background-color: $brand-color-main;
  border-radius: 8px;
  color: $dark-text;
  display: flex;
  font-weight: $font-weight-bold;
  height: 16px;
  justify-content: center;
  margin-left: 6px;
  width: 16px;
}

.counterText {
  height: 10px;
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category {
  @extend %headline;
  font-size: 24px;
  margin: 0;
  color: $white;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;

  @media #{$tablet-portrait} {
    font-size: 32px;
    overflow: visible;
  }
}

.icon {
  opacity: 0;
  margin-left: auto;
  transform: rotate(90deg);
  &.openBox {
    opacity: 1;
    transform:rotate(270deg);
  }
}