@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.box {
  @include backdropBlur();
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2px;
  width: 100%;
  transition: none;
  cursor: pointer;

  @media #{settings.$tablet-portrait} {
    width: settings.$sidebar-width;
    transition: all 0.2s ease-out;

    &:hover {
      .icon {
        opacity: 1;
      }

      .category {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.visible {
  cursor: pointer;
}

.counter {
  @extend %subtitle;
  position: absolute;
  top: calc(50% - #{calc(settings.$counter-size/2)});
  right: calc(-#{calc(settings.$counter-size/2)});
  display: flex;
  justify-content: center;
  align-items: center;
  height: settings.$counter-size;
  width: settings.$counter-size;
  color: settings.$dark-text;
  background-color: settings.$brand-color-main;
  font-weight: settings.$font-weight-bold;
  border-radius: settings.$counter-size;

  &.openBox {
    display: none;
  }
}

.categoryContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: settings.$sidebar-paddings;
}

.category {
  @extend %display2;
  margin: 0;
  color: settings.$white;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;

  @media #{settings.$tablet-portrait} {
    font-size: 32px;
    overflow: visible;
  }
}

.icon {
  opacity: 0;
  margin-left: auto;
  transform: rotate(90deg);

  &.openBox {
    opacity: 1;
    transform: translate(10px, 0) rotate(270deg);
  }
}

.categoryThumbnail {
  height: 90px;
  width: 90px;
  margin-right: settings.$sidebar-paddings;
}