@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

.modal {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100%;
  background-color: settings.$elephant;
  color: settings.$grey-text;
}

.closeBtn {
  background-color: transparent;
  border: none;
}

.shareButton {
  position: absolute;
  right: 80px;
  top: 43px;
}

.modalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media #{settings.$tablet-portrait} {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.cardContainer {
  padding-right: 0px;
  min-width: 30%;
}

.chartContainer {
  position: relative;
  margin-left: 0;

  @media #{settings.$tablet-portrait} {
    margin: 0 130px;
  }
}

.chartResponsive {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.title {
  @extend %display2;
  font-size: settings.$font-size-rg;
}

.subtitle {
  @extend %bodyText;
}

.bold {
  font-weight: settings.$font-weight-bold;
}

.moreProtectionSentence {
  @extend %annotation;
  min-height: 26px;
  color: settings.$grey-text;
  margin-top: 20px;
  font-style: italic;
}