@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.modal {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100%;
  background-color: $elephant;
  color: $grey-text;
}

.closeBtn {
  background-color: transparent;
  border: none;
}