@import 'styles/settings';
@import 'styles/typography-extends';

.container {
  height: 200px;
  padding: 0;
  position: relative;
  width: 100%;

  .image {
    object-fit: contain;
    position: absolute;
    left: 0;
    width: 100%;
  }

  .content {
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px 20px 40px;
    text-align: center;

    .title {
      @extend %display2;
      font-size: 24px;
      margin: 0;
    }

    .description {
      @extend %bodyText;
      margin: 0;
    }
  }
}

.imageCenter {
  top: 85px;
}

.contentCenter {
  margin-bottom: 200px;
}