@use 'styles/ui.module' as *;
@use 'styles/settings' as settings;
@use 'styles/typography-extends' as *;

.stepsCircle {
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: settings.$default-z-index;

  .stepsArc {
    cursor: pointer;
    stroke: settings.$dark-text;

    &:hover {
      stroke-width: 6px;
    }

    &.active {
      stroke: settings.$brand-color-main;
    }
  }
}