@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.stepsCircle {
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: $default-z-index;

  .stepsArc {
    cursor: pointer;
    stroke: $dark-text;

    &:hover {
      stroke-width: 6px;
    }

    &.active {
      stroke: $brand-color-main;
    }
  }
}
