@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';

.stepsCircle {
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: $send-to-back;

  .stepsArc {
    stroke: $dark-text;

    &.active {
      stroke: $brand-color-main;
    }
  }
}
