@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.chartArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  --font-color: #{$white};

  &.light{
    --font-color: #{$black};
  }

  .title{
    color: var(--font-color);
    font-family: "Open Sans";
    font-size: $font-size-sm;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
