@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.chartArea{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  .btnGroup{
    width: 80%;
  }

  .chartWrapper{
    position:relative;
    width: 100%;

    .info{
      position: absolute;
      top: -5px;
      right: 0;
      color: var(--font-color);
      fill: var(--font-color);
      width: 30px;
      height: 30px;
      border: 1px solid;
      border-radius: 50%;
      padding: 0;
    }
  }
}
