@use 'styles/settings' as settings;
@use 'styles/ui.module' as *;
@use 'styles/typography-extends' as *;

$tabsMarginBottom: 4px;
$socialMediaIcon: 30px;


.modal {
  padding: 0;

  max-width: 600px;
  width: 90%;
  height: auto;

  @media #{settings.$tablet-landscape} {
    width: 90%;
    min-width: 512px;
  }
}

.modalContent {
  padding: 0 !important;
}

.modalContainer {
  display: flex;
  padding: 24px;
  background-color: settings.$brand-color-secondary;

  @media #{settings.$tablet-landscape} {
    max-width: 620px;
    width: 600px;
  }

}

.closeBtn {
  // TODO: Remove button when we stop using half-earth-components
  display: none;
}

.shareContent {
  flex: 1;
}

.copyContainer {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

  @media #{settings.$tablet-landscape} {
    flex-direction: row;
  }
}

.copyIcon {
  margin-right: 5px;
}

.coordinates {
  margin-bottom: 54px;
  font-size: settings.$font-size-xs;
  color: settings.$brand-color-main;
}

.inputButton {
  border: 1px solid settings.$white-opacity;
  background-color: settings.$white;
  padding: 10px;
  width: stretch;
  height: 40px;
  border-radius: settings.$card-border-radius;
  margin-bottom: 8px;
  box-shadow: 0px 1px 2px 0px settings.$black;

  &:focus {
    outline: none;
  }

  @media #{settings.$tablet-landscape} {
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
}

.button {
  background-color: settings.$brand-color-main;
  height: 40px !important;
  border-radius: 6px;

  @media #{settings.$tablet-landscape} {
    border-radius: 0px 6px 6px 0px;
  }
}

.copyButton {
  font-size: settings.$font-size-xs !important;
  padding: 0 !important;
  width: 100% !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;

  @media #{settings.$tablet-landscape} {
    margin-left: -10px !important;
    width: 100px !important;
  }
}

.title {
  @extend %headline;
  text-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 24px;

  @media #{settings.$tablet-landscape} {
    margin-bottom: 24px;
  }
}

.tabs {
  display: flex;
  margin-bottom: $tabsMarginBottom;
}

.tab {
  position: relative;
  @extend %title;
  color: settings.$white;
  cursor: pointer;
  position: relative;
  margin-right: settings.$site-gutter;
  font-size: settings.$font-size-xs;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  cursor: pointer;
}

.activeTab {
  color: settings.$brand-color-main;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: settings.$brand-color-main;
  }
}

.iconBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $socialMediaIcon;
  width: $socialMediaIcon;
  padding: 0;
  margin-right: 15px;
  background-color: settings.$white-opacity;
  border-radius: 50%;
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}