@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

$tabsMarginBottom: 8px;
$socialMediaIcon: 45px;

.modal {
  width: 90% !important;
  max-width: 90% !important;
  padding: 60px 32px !important;
  height: auto !important;

  @media #{$tablet-landscape} {
    padding: 50px 60px !important;
    max-width: 620px !important;
    width: 600px !important;
  }
}

.modalContent {
  padding: 0 !important;
  @media #{$tablet-landscape} {
    padding: 50px 60px !important;
  }
}

.closeBtn {
  background-color: transparent !important;
  height: 33px;
  right: 24px !important;
  top: 24px !important;
  border: none !important;

  @media #{$tablet-landscape} {
    right: 35px !important;
    top: 35px !important;
  }
}

.copyContainer {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;

  @media #{$tablet-landscape} {
    flex-direction: row;
  }
}

.coordinates {
  margin-bottom: 54px;
  font-size: $font-size-xs;
  color: $brand-color-main;
}

.inputButton {
  border: 1px solid $alto;
  background-color: transparent;
  color: $white;
  padding: 10px;
  width: stretch;
  height: 40px;
  border-radius: 2px;
  margin-bottom: 8px;

  &:focus {
    outline: none;
  }

  @media #{$tablet-landscape} {
    border-right-style: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
  }
}

.button {
  border: 1px solid $alto !important;
  height: 40px !important;
  color: $white !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.copyButton {
  letter-spacing: 2px !important;
  font-size: $font-size-xs !important;
  padding: 0 !important;
  width: 100% !important;

  @media #{$tablet-landscape} {
    margin-left: -10px !important;
    width: 100px !important;
  }
}

.copied {
  background-color: $brand-color-main;
  color: $black;
  font-weight: bold;
}

.copiedText {
  transform: translateY(2px); // font has some internal padding
}

.title {
  @extend %headline;
  text-align: center;
  font-size: $font-size-xl;
  text-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 32px;

  @media #{$tablet-landscape} {
    margin-bottom: 50px;
  }
}

.tabs {
  display: flex;
  margin-bottom: $tabsMarginBottom;
}

.tab {
  position: relative;
  color: $white;
  font-size: $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 20px;
  margin-right: 10px;
  cursor: pointer;

  &:first-child {
    margin-left: 10px;
  }
}

.activeTab {
  color: $brand-color-main;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; // ($tabsMarginBottom + 2) * -1
    width: 100%;
    height: 4px;
    background-color: $brand-color-main;
  }
}

.iconBackground {
  height: $socialMediaIcon;
  width: $socialMediaIcon;
  padding: 0;
  margin: 15px;

  img {
    width: 100%;
    height: 100%;
  }
}

.socialMediaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
