@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.temporalTrends{
  display: flex;
  flex-direction: column;
  padding: $paragraph-gutter;

  .title{
    display: flex;
    gap: 10px;

    img{
      width: 130px;
      height: 130px;
      margin-top: 8px;
    }

    .info{
      display: flex;
      flex-direction: column;
      gap: 3px;
      color: $white;
      margin: 0 0 $site-gutter / 2 0;

      .commonName{
        @extend %display1;
        font-size: 24px;
        line-height: 1.5;
      }
    }
  }

  .description {
    @extend %bodyText;
    color: $white;
    margin: 0 0 $site-gutter / 2 0;
    font-size: 14px;
  }

  .options{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-top: 10px;

    .saveButton {
      color: $dark-text;
      background-color: $brand-color-main;
      &:hover {
        background-color: $brand-color-main-hover;
      }
    }

    .helpText{
      color: #FFF;
      font-family: "Open Sans";
      font-size: 9px;
      font-style: italic;
      font-weight: 400;
      line-height: normal;
    }
  }
}
