@import 'styles/settings';
@import 'styles/typography-extends';

.searchInputContainer {
  display: flex;
  align-items: flex-start;

  .searchInput {
    @extend %title;
    border: none;
    margin-left: 25px;
    background-color: transparent;
    color: $white;
    min-width: 150px;
    margin-bottom: 9px;
  }

  .searchIcon {
    color: $white;
    fill: currentColor;
    height: 14px;
    width: 14px;
  }
}