@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.container {
  position: absolute;
  display: flex;
  top: 12px;
  right: 14px;
}

.title {
  @extend %subtitle;
  color: $white;
  margin: {
    right: 5px;
    top: 5px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 39px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $firefly;;
  border: 2px solid $white;
  border-radius: 2px;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: $white;
    transition: .4s;
  }

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 6px;
    left: 34%;
    bottom: 23%;
    background-color: $firefly;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: $firefly;

  &:after {
    left: 34%;
    bottom: 68%;
  }
  &:before {
    transform: translateY(-117%);
    background-color: $java;
  }
}