@import 'styles/ui.module';
@import 'styles/settings';
@import 'styles/typography-extends';
@import 'styles/common-animations.module';

.container {
  @include backdropBlur();
  display: flex;
  flex-direction: column;
  border: $sidebar-border;
  border-radius: $sidebar-border-radius;
  height: calc(100vh - #{$ui-left-top});
  width: calc(#{$sidebar-width} + 15px);
  padding: $site-gutter 0;
  z-index: $bring-to-front;
}

.backButton {
  position: absolute;
  top: -$local-sidebar-top-margin;
  left: calc(#{$local-sidebar-width}/2 - #{$rounded-button-size}/2);
}

.loading {
  padding: $mobile-sidebar-side-paddings;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$tablet-portrait} {
    padding: $sidebar-paddings;
  }
}

.loadingText {
  @extend %bodyText;
  margin-bottom: $site-gutter;
  color: $white;
}

.nameWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: baseline;
}

.flagWrapper {
  display: flex;
  align-items: center;
}

.flag {
  width: 30px;
  position: relative;
}

.nrcTitle {
  @extend %title;
  margin: 0;
  padding-left: $site-gutter;
  padding-top: $site-gutter;
  color: $white;
}

.countryName {
  @extend %display2;
  margin: 0;
  padding-left: $site-gutter;
  color: $white;
}

.tabsContainer {
  padding: 0px 20px;
  margin: 7px 0 $sidebar-paddings 0;
}

.scrollableArea {
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    max-height: 66px;
    border-radius: 3px;
    background-color: #DBDBDB;
    width: 30px;
  }
}

.cardHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $site-gutter;
  width: 100%;

  .actionButtons {
    align-items: center;
    display: flex;

    .actionButton {
      margin-right: 6px;
    }
  }
}