@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.menuContainer {
  position: absolute;
  top: 32px;
  right: 15px;

  .searchBtn {
    height: 32px;
    margin-top: 5px;
    width: 32px;
    margin-bottom: 72px;
  }

  .shareBtn {
    height: 32px;
    margin-top: 5px;
    width: 32px;
  }
}
