@import 'styles/settings';
@import 'styles/ui.module';
@import 'styles/typography-extends';

.menuContainer {
  position: absolute;
  top: 32px;
  right: 15px;

  .searchBtn {
    height: 32px;
    margin-top: 5px;
    width: 32px;
    margin-bottom: 72px;
  }

  .searcherContainer {
    position: absolute;
    top: 6px;
    right: 0;
    width: 500px;
    border: 1px solid red;
  }

  .shareBtn {
    height: 32px;
    margin-top: 5px;
    width: 32px;
  }
}
